<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>2462365fbf614aba4c23e5a7a37dab3e2d16fd64eeae72d2a6a4e9c6b8ac79b6_3244.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20455000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20479000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20574000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20541000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 20459000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
</body>