<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>28565b17afbf95b4d20624a2302dfd2211b620d147426a2c912bb6f0a7430059_IE Bahavior Analysis</pre>
<pre><b># 30206000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 30292000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 30261000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 30336000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
</body>