<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>28565b17afbf95b4d20624a2302dfd2211b620d147426a2c912bb6f0a7430059_3184.trace.hooklog Bahavior Analysis</pre>
<pre><b># 24355000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 24432000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24403000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 24475000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 24476000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 24510000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24575000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24617000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24900000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24927000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 24928000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 24929000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 24832000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 24954000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 24956000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\CRTDLL.DLL
    Return=SUCCESS
</pre>
<pre><b># 24968000   CreateFile</b>
    hName=CONIN$
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24968000   CreateFile</b>
    hName=CONIN$
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24968000   CreateFile</b>
    hName=CONOUT$
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24968000   CreateFile</b>
    hName=CONOUT$
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 25065000   CreateFile</b>
    hName=C:\WINDOWS\system32\surf.dat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 25064000   CreateFile</b>
    hName=C:\WINDOWS\system32\surf.dat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 25071000   LoadLibrary</b>
    lpFileName=Secur32.dll
    Return=SUCCESS
</pre>
<pre><b># 25110000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 25111000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 25114000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 25252000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 25254000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 25267000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25274000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25335000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 25291000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 25348000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 25349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25356000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 25396000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 25398000   LoadLibrary</b>
    lpFileName=ntdll.dll
    Return=SUCCESS
</pre>
<pre><b># 25448000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 25399000   LoadLibrary</b>
    lpFileName=NTMARTA.DLL
    Return=SUCCESS
</pre>
<pre><b># 27052000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\frm2
    Return=2
</pre>
<pre><b># 27053000   CreateThread</b>
    dwThreadId=4371584
    Return=SUCCESS
</pre>
<pre><b># 27053000   CreateThread</b>
    dwThreadId=1240564
    Return=SUCCESS
</pre>
<pre><b># 27054000   CreateThread</b>
    dwThreadId=1240564
    Return=SUCCESS
</pre>
<pre><b># 27056000   CreateThread</b>
    dwThreadId=11927164
    Return=SUCCESS
</pre>
<pre><b># 27064000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\SyncMode5
    Return=2
</pre>
<pre><b># 27069000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\IE Setup\Setup\Path
    Return=0
</pre>
<pre><b># 27071000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\0
    Return=0
</pre>
<pre><b># 27071000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\0\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 27073000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\1
    Return=0
</pre>
<pre><b># 27073000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\1\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 27074000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\FixupKey
    Return=2
</pre>
<pre><b># 27074000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\SessionStartTimeDefaultDeltaSecs
    Return=2
</pre>
<pre><b># 27080000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\2
    Return=0
</pre>
<pre><b># 27080000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\2\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 27082000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3
    Return=0
</pre>
<pre><b># 27082000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 27083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 27085000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Signature
    Return=0
    type=REG_SZ
    data=Client UrlCache MMF Ver 5.2
</pre>
<pre><b># 27090000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4
    Return=0
</pre>
<pre><b># 27090000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 27086000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cache
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 27092000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cookies
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 27093000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\History
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 27094000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\PerUserItem
    Return=2
</pre>
<pre><b># 27094000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\PerUserItem
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 27092000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 27100000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\GlobalUserOffline
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 27100000   RegCreateKey</b>
    hKey=HKEY_USERS\.DEFAULT\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\BrowseNewProcess
    Return=0
</pre>
<pre><b># 27112000   RegSetValue</b>
    hKey=HKEY_USERS\.DEFAULT\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\BrowseNewProcess\BrowseNewProcess
    type=REG_SZ
    data=yes
    Return=0
</pre>
<pre><b># 27121000   CreateFile</b>
    hName=C:\WINDOWS\system32\surf.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27121000   CreateFile</b>
    hName=C:\WINDOWS\system32\surf.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27186000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 27250000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\kmjhcdig.htm
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 27250000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\kmjhcdig.htm
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 27223000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27275000   CreateFile</b>
    hName=C:\Program
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27278000   CreateFile</b>
    hName=C:\Program Files\Internet
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27344000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27346000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 27279000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27094000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 27397000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 27398000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cache
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27406000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 27406000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files
    Return=0
</pre>
<pre><b># 27425000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\CachePrefix
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 27425000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\CacheLimit
    Return=0
    type=REG_DWORD
    data=327323
</pre>
<pre><b># 27434000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Directory
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5
    Return=0
</pre>
<pre><b># 27434000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Paths
    type=REG_DWORD
    data=4
    Return=0
</pre>
<pre><b># 27435000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path1\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache1
    Return=0
</pre>
<pre><b># 27436000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path2\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache2
    Return=0
</pre>
<pre><b># 27436000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path3\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache3
    Return=0
</pre>
<pre><b># 27443000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path4\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache4
    Return=0
</pre>
<pre><b># 27443000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path1\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 27443000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path2\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 27444000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path3\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 27444000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path4\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 27444000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\PerUserItem
    Return=2
</pre>
<pre><b># 27445000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\PerUserItem
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 27452000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 27452000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cookies
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27457000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 27457000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cookies
    type=REG_SZ
    data=C:\Documents and Settings\ants\Cookies
    Return=0
</pre>
<pre><b># 27458000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\CachePrefix
    Return=0
    type=REG_SZ
    data=Cookie:
</pre>
<pre><b># 27458000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 27460000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\PerUserItem
    Return=2
</pre>
<pre><b># 27460000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\PerUserItem
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 27467000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 27468000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\History
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27470000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 27470000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\History
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\History
    Return=0
</pre>
<pre><b># 27488000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\CachePrefix
    Return=0
    type=REG_SZ
    data=Visited:
</pre>
<pre><b># 27495000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 27501000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 27605000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateProcess
    Return=2
</pre>
<pre><b># 27605000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateObject
    Return=2
</pre>
<pre><b># 27502000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 27618000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 27620000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 27631000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 27631000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 27633000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 27633000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 27618000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 27711000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27718000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 27724000   CreateFile</b>
    hName=C:\WINDOWS\Registration\R000000000007.clb
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27751000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27802000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 27843000   RegQueryValue</b>
    hKey=b2\CLSID\{9BA05972-F6A8-11CF-A442-00A0C90A8F39}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 27863000   RegQueryValue</b>
    hKey=b2\CLSID\{9BA05972-F6A8-11CF-A442-00A0C90A8F39}\InprocServer32
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27897000   RegQueryValue</b>
    hKey=b2\CLSID\{9BA05972-F6A8-11CF-A442-00A0C90A8F39}\AppID
    Return=2
</pre>
<pre><b># 27924000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 27938000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 28023000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\MaximumAllowedAllocationSize
    Return=2
</pre>
<pre><b># 28069000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\DefaultAccessPermission
    Return=2
</pre>
<pre><b># 28097000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28129000   CreateThread</b>
    dwThreadId=10744092
    Return=SUCCESS
</pre>
<pre><b># 28176000   LoadLibrary</b>
    lpFileName=OLE32
    Return=SUCCESS
</pre>
<pre><b># 28202000   CreateThread</b>
    dwThreadId=10744572
    Return=SUCCESS
</pre>
<pre><b># 28213000   LoadLibrary</b>
    lpFileName=OLE32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28282000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 28289000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28302000   CreateThread</b>
    dwThreadId=22543836
    Return=SUCCESS
</pre>
<pre><b># 27265000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\kmjhcdig.htm
    Return=SUCCESS
    dwProcessId=3232
    dwThreadId=3240
</pre>
<pre><b># 27264000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\kmjhcdig.htm
    Return=SUCCESS
    dwProcessId=3232
    dwThreadId=3240
</pre>
<pre><b># 27264000   CreateProcess</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\kmjhcdig.htm
    Return=SUCCESS
    dwProcessId=3232
    dwThreadId=3240
</pre>
<pre><b># 28360000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28406000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
</pre>
<pre><b># 28415000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 28418000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 28444000   RegQueryValue</b>
    hKey=b2\CLSID\{00020424-0000-0000-C000-000000000046}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 28459000   RegQueryValue</b>
    hKey=b2\CLSID\{00020424-0000-0000-C000-000000000046}\InprocServer32
    Return=0
    type=REG_SZ
    data=oleaut32.dll
</pre>
<pre><b># 28474000   RegQueryValue</b>
    hKey=b2\CLSID\{00020424-0000-0000-C000-000000000046}\AppID
    Return=2
</pre>
<pre><b># 28498000   RegQueryValue</b>
    hKey=b2\CLSID\{00020424-0000-0000-C000-000000000046}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 28509000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 28545000   LoadLibrary</b>
    lpFileName=SXS.DLL
    Return=SUCCESS
</pre>
<pre><b># 28635000   RegQueryValue</b>
    hKey=17e\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
</pre>
<pre><b># 28675000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\TypeLib
    Return=0
    type=REG_SZ
    data={EAB22AC0-30C1-11CF-A7EB-0000C05BAE0B}
</pre>
<pre><b># 28684000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\TypeLib\Version
    Return=0
</pre>
<pre><b># 28727000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28727000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28719000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{EAB22AC0-30C1-11CF-A7EB-0000C05BAE0B}\1.1\0\win32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\shdocvw.dll
</pre>
<pre><b># 28729000   CreateFile</b>
    hName=C:\WINDOWS\system32\shdocvw.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28735000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28727000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28785000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{00020430-0000-0000-C000-000000000046}\2.0\0\win32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\stdole2.tlb
</pre>
<pre><b># 28787000   CreateFile</b>
    hName=C:\WINDOWS\system32\stdole2.tlb
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28848000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\kmjhcdig.htm
    Return=SUCCESS
</pre>
<pre><b># 28848000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\kmjhcdig.htm
    Return=SUCCESS
</pre>
<pre><b># 28849000   TerminateProcess</b></pre>
<pre><b># 28860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\UDTAlignmentPolicy
    Return=2
</pre>
<pre><b># 28871000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{00020400-0000-0000-C000-000000000046}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={00020420-0000-0000-C000-000000000046}
</pre>
<pre><b># 28880000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 28882000   CreateFile</b>
    hName=C:\WINDOWS\system32\kk32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 28882000   CreateFile</b>
    hName=C:\WINDOWS\system32\kk32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 28889000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 28910000   RegQueryValue</b>
    hKey=b2\CLSID\{00020420-0000-0000-C000-000000000046}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 28928000   RegQueryValue</b>
    hKey=b2\CLSID\{00020420-0000-0000-C000-000000000046}\InprocServer32
    Return=0
    type=REG_SZ
    data=oleaut32.dll
</pre>
<pre><b># 28949000   RegQueryValue</b>
    hKey=b2\CLSID\{00020420-0000-0000-C000-000000000046}\AppID
    Return=2
</pre>
<pre><b># 28971000   RegQueryValue</b>
    hKey=b2\CLSID\{00020420-0000-0000-C000-000000000046}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 29275000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29275000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29276000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29276000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29629000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CacheRepair
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 29629000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CachePath
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Local Settings\History\History.IE5\MSHist012016040420160405\
</pre>
<pre><b># 29632000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CachePrefix
    Return=0
    type=REG_SZ
    data=:2016040420160405: 
</pre>
<pre><b># 29632000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 29632000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CacheOptions
    Return=0
    type=REG_DWORD
    data=11
</pre>
<pre><b># 29634000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CacheRepair
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 29634000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CachePath
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Local Settings\History\History.IE5\MSHist012016040520160406\
</pre>
<pre><b># 29636000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CachePrefix
    Return=0
    type=REG_SZ
    data=:2016040520160406: 
</pre>
<pre><b># 29636000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 29637000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CacheOptions
    Return=0
    type=REG_DWORD
    data=11
</pre>
<pre><b># 29639000   CreateThread</b>
    dwThreadId=12973920
    Return=SUCCESS
</pre>
<pre><b># 29642000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\0
    Return=0
</pre>
<pre><b># 29643000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\0\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 29644000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\1
    Return=0
</pre>
<pre><b># 29644000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\1\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 29645000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\2
    Return=0
</pre>
<pre><b># 29646000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\2\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 29647000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3
    Return=0
</pre>
<pre><b># 29649000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 29650000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4
    Return=0
</pre>
<pre><b># 29651000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 29651000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 29651000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\GlobalUserOffline
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 29651000   RegCreateKey</b>
    hKey=HKEY_USERS\.DEFAULT\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\BrowseNewProcess
    Return=0
</pre>
<pre><b># 29652000   RegSetValue</b>
    hKey=HKEY_USERS\.DEFAULT\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\BrowseNewProcess\BrowseNewProcess
    type=REG_SZ
    data=yes
    Return=0
</pre>
<pre><b># 29653000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\IE Setup\Setup\Path
    Return=0
</pre>
<pre><b># 29665000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\edagpbjo.htm
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29665000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\edagpbjo.htm
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29674000   CreateFile</b>
    hName=C:\Program
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 29677000   CreateFile</b>
    hName=C:\Program Files\Internet
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 29767000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29775000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29887000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29669000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\edagpbjo.htm
    Return=SUCCESS
    dwProcessId=3248
    dwThreadId=3252
</pre>
<pre><b># 29669000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\edagpbjo.htm
    Return=SUCCESS
    dwProcessId=3248
    dwThreadId=3252
</pre>
<pre><b># 29669000   CreateProcess</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\edagpbjo.htm
    Return=SUCCESS
    dwProcessId=3248
    dwThreadId=3252
</pre>
<pre><b># 30403000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\edagpbjo.htm
    Return=SUCCESS
</pre>
<pre><b># 30403000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\edagpbjo.htm
    Return=SUCCESS
</pre>
<pre><b># 30405000   TerminateProcess</b></pre>
<pre><b># 30416000   CreateThread</b>
    dwThreadId=12973912
    Return=SUCCESS
</pre>
<pre><b># 30419000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\0
    Return=0
</pre>
<pre><b># 30419000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\0\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 30421000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\1
    Return=0
</pre>
<pre><b># 30421000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\1\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 30422000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\2
    Return=0
</pre>
<pre><b># 30423000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\2\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 30424000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3
    Return=0
</pre>
<pre><b># 30424000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 30426000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4
    Return=0
</pre>
<pre><b># 30426000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4\1601
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 30426000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 30427000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\GlobalUserOffline
    type=REG_DWORD
    data=0
    Return=0
</pre>
<pre><b># 30427000   RegCreateKey</b>
    hKey=HKEY_USERS\.DEFAULT\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\BrowseNewProcess
    Return=0
</pre>
<pre><b># 30427000   RegSetValue</b>
    hKey=HKEY_USERS\.DEFAULT\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\BrowseNewProcess\BrowseNewProcess
    type=REG_SZ
    data=yes
    Return=0
</pre>
<pre><b># 30428000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\IE Setup\Setup\Path
    Return=0
</pre>
<pre><b># 30441000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\aiahdikm.htm
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 30441000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\aiahdikm.htm
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 30448000   CreateFile</b>
    hName=C:\Program
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 30452000   CreateFile</b>
    hName=C:\Program Files\Internet
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 30537000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30546000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30661000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 30445000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\aiahdikm.htm
    Return=SUCCESS
    dwProcessId=3264
    dwThreadId=3268
</pre>
<pre><b># 30444000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\aiahdikm.htm
    Return=SUCCESS
    dwProcessId=3264
    dwThreadId=3268
</pre>
<pre><b># 30444000   CreateProcess</b>
    lpCommandLine=C:\Program Files\Internet Explorer\Iexplore.exe C:\DOCUME~1\ants\LOCALS~1\Temp\aiahdikm.htm
    Return=SUCCESS
    dwProcessId=3264
    dwThreadId=3268
</pre>
<pre><b># 31168000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\aiahdikm.htm
    Return=SUCCESS
</pre>
<pre><b># 31168000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\aiahdikm.htm
    Return=SUCCESS
</pre>
<pre><b># 31169000   TerminateProcess</b></pre>
</body>