<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>474fe887e4eeaaab1ffee89dac6c7ebcd4142f1b90604354cb092e5203dd685e_3300.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23362000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\CRTDLL.DLL
    Return=SUCCESS
</pre>
<pre><b># 23375000   CreateFile</b>
    hName=CONIN$
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23375000   CreateFile</b>
    hName=CONIN$
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23375000   CreateFile</b>
    hName=CONOUT$
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23375000   CreateFile</b>
    hName=CONOUT$
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23393000   ExitProcess</b></pre>
</body>