<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>4ae1e35dc83825dc81e886b7597f00781b184be4fa288a8aa7a3c0f62a526387_3400.trace.hooklog Bahavior Analysis</pre>
<pre><b># 33281000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=76390000
</pre>
<pre><b># 33444000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=77f10000
</pre>
<pre><b># 33382000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=629c0000
</pre>
<pre><b># 33542000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 33689000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=48
</pre>
<pre><b># 33720000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 33722000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 33723000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 33584000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=773d0000
</pre>
<pre><b># 33828000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 33834000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=76390000
</pre>
<pre><b># 33755000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=5d090000
</pre>
<pre><b># 33926000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 33928000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 35995000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 36008000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=77e70000
</pre>
<pre><b># 36044000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\MaximumAllowedAllocationSize
    Return=2
</pre>
<pre><b># 36092000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=7c
</pre>
<pre><b># 36112000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 36113000   RegQueryValue</b>
    hKey=78\Startup
    Return=0
</pre>
<pre><b># 36120000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 36121000   RegSetValue</b>
    hKey=78\Startup
    type=REG_SZ
    data=C:\Documents and Settings\ants\Start Menu\Programs\Startup
    Return=0
</pre>
<pre><b># 36187000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\376078.bat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_NEW
    Return=78
</pre>
<pre><b># 36434000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=77c00000
</pre>
<pre><b># 36485000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 36509000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 36835000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 36842000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=77dd0000
</pre>
<pre><b># 36233000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=/c C:\DOCUME~1\ants\LOCALS~1\Temp\376078.bat
    Return=1
</pre>
<pre><b># 36233000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=/c C:\DOCUME~1\ants\LOCALS~1\Temp\376078.bat
    Return=1
</pre>
<pre><b># 37635000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\376078.bat
    Return=1
</pre>
</body>