<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>4b0f0878c4cd0551a5b111a9db0642965bdc70b383e4cf7e4a9488c72d9d94b9_3216.trace.hooklog Bahavior Analysis</pre>
<pre><b># 21765000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21845000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21812000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 21889000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 21889000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 22743000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22750000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22753000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22764000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22766000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22768000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 22770000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 22772000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 22822000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Setup\Version
    Return=2
</pre>
<pre><b># 22822000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Setup\Version
    type=REG_DWORD
    data=131
    Return=0
</pre>
<pre><b># 22826000   CreateFile</b>
    hName=C:\WINDOWS\system32\winxcfg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 22826000   CreateFile</b>
    hName=C:\WINDOWS\system32\winxcfg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 22830000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\winxcfg.exe
    type=REG_SZ
    data=C:\WINDOWS\system32\winxcfg.exe
    Return=0
</pre>
<pre><b># 22831000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22831000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23017000   RegSetValue</b>
    hKey=0\DisableSharing
    type=REG_DWORD
    data=0
    Return=6
</pre>
<pre><b># 23018000   RegSetValue</b>
    hKey=0\Dir98
    type=REG_SZ
    data=012345:C:\WINDOWS\system32\macromd
    Return=6
</pre>
<pre><b># 23020000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Kama Sutra Tetris.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23020000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Kama Sutra Tetris.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23023000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\jenna jameson - shower scene.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23023000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\jenna jameson - shower scene.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23026000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hotmailhacker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23026000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hotmailhacker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23030000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\preteen snuff sex rape with a stick hardcore.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23030000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\preteen snuff sex rape with a stick hardcore.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23034000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Winzip.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23034000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Winzip.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23038000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Norton antivirus 2002.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23038000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Norton antivirus 2002.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23041000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\aimhacker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23041000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\aimhacker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23044000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23044000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23049000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\14 year old on beach.mpg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23049000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\14 year old on beach.mpg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23053000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\jenna jameson - built for speed.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23053000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\jenna jameson - built for speed.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23060000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Nokia Unloker (most models).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23060000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Nokia Unloker (most models).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23065000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\babes with great lips that knows how suck cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23065000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\babes with great lips that knows how suck cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23069000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hotties sucking boobs and eating snatch in large bed.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23069000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hotties sucking boobs and eating snatch in large bed.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23074000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\wife in kitchen preparing hot pussy for hubby's dinner.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23074000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\wife in kitchen preparing hot pussy for hubby's dinner.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23078000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\cool rooster raiding hen house for hot babes, link city.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23078000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\cool rooster raiding hen house for hot babes, link city.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23083000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\yummy lesbos licking.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23083000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\yummy lesbos licking.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23087000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\amateur spreading more fine ass than stud can handle.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23087000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\amateur spreading more fine ass than stud can handle.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23093000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\two teen lesbians with dildo having fun.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23093000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\two teen lesbians with dildo having fun.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23097000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\teen with her legs wide and fingers in her wet cunt.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23097000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\teen with her legs wide and fingers in her wet cunt.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23102000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\tiny girl opening hole in crazy wish of cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23102000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\tiny girl opening hole in crazy wish of cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23107000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nice girl showing her tits for extra money.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23107000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nice girl showing her tits for extra money.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23112000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\honie playing in her cunt with newly bought toy.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23112000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\honie playing in her cunt with newly bought toy.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23116000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\gorgious babe who quit school to model pretty pink.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23116000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\gorgious babe who quit school to model pretty pink.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23121000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\sexy hot teens gettin busy in shower.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23121000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\sexy hot teens gettin busy in shower.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23126000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\first time anal and she loves it.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23126000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\first time anal and she loves it.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23130000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hot anal sex for the first time ever.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23130000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hot anal sex for the first time ever.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23135000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\happy babe who got 12 inches last night.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23135000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\happy babe who got 12 inches last night.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23139000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\blonde doing dildo outdoors.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23139000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\blonde doing dildo outdoors.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23143000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\kinky banana in pussy.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23143000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\kinky banana in pussy.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23147000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\plump brunette using her finger.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23147000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\plump brunette using her finger.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23153000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\celeb's toes being suck by body-guard.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23152000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\celeb's toes being suck by body-guard.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23157000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\brazilian supermodel adriana lima.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23157000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\brazilian supermodel adriana lima.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23176000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Lucida San
    Return=0
</pre>
<pre><b># 23177000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Tah
    Return=0
</pre>
<pre><b># 23177000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Microsoft 
    Return=0
</pre>
<pre><b># 23327000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 23342000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 23345000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 23480000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 23482000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 23495000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23503000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23566000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 23521000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 23579000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 23581000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 23588000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
</body>