<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>4d96580225828b1b735a02835b5d753992be7ccdfcfb80c50d7acaae3e8c63c6_3340.trace.hooklog Bahavior Analysis</pre>
<pre><b># 32447000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=1c
</pre>
<pre><b># 32656000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=76390000
</pre>
<pre><b># 32744000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=77f10000
</pre>
<pre><b># 32709000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=629c0000
</pre>
<pre><b># 32762000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 32763000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 32765000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
</pre>
<pre><b># 32776000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
</pre>
<pre><b># 32777000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
</pre>
<pre><b># 32783000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 32784000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 32784000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 32786000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 32802000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 32812000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\WPA\PnP\seed
    Return=0
</pre>
<pre><b># 32813000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
</pre>
<pre><b># 32813000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
</pre>
<pre><b># 32813000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
</pre>
<pre><b># 32813000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
</pre>
<pre><b># 32817000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
</pre>
<pre><b># 32817000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
</pre>
<pre><b># 32817000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
</pre>
<pre><b># 32818000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
</pre>
<pre><b># 32818000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackCachePath
    Return=2
</pre>
<pre><b># 32818000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
</pre>
<pre><b># 32819000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
</pre>
<pre><b># 32835000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\DevicePath
    Return=0
</pre>
<pre><b># 32838000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogLevel
    Return=2
</pre>
<pre><b># 32839000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogPath
    Return=2
</pre>
<pre><b># 32901000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting
    Return=0
</pre>
<pre><b># 32902000   RegDeleteKey</b>
    hKey=5c\DW
    Return=2
</pre>
<pre><b># 32902000   RegQueryValue</b>
    hKey=5c\DoReport
    Return=0
</pre>
<pre><b># 32902000   RegQueryValue</b>
    hKey=5c\ShowUI
    Return=0
</pre>
<pre><b># 32902000   RegQueryValue</b>
    hKey=5c\AllOrNone
    Return=0
</pre>
<pre><b># 32902000   RegQueryValue</b>
    hKey=5c\IncludeMicrosoftApps
    Return=0
</pre>
<pre><b># 32902000   RegQueryValue</b>
    hKey=5c\IncludeWindowsApps
    Return=0
</pre>
<pre><b># 32902000   RegQueryValue</b>
    hKey=5c\DoTextLog
    Return=2
</pre>
<pre><b># 32903000   RegQueryValue</b>
    hKey=5c\IncludeKernelFaults
    Return=0
</pre>
<pre><b># 32903000   RegQueryValue</b>
    hKey=5c\IncludeShutdownErrs
    Return=2
</pre>
<pre><b># 32903000   RegQueryValue</b>
    hKey=5c\NumberOfFaultPipes
    Return=2
</pre>
<pre><b># 32903000   RegQueryValue</b>
    hKey=5c\NumberOfHangPipes
    Return=2
</pre>
<pre><b># 32903000   RegQueryValue</b>
    hKey=5c\MaxUserQueueSize
    Return=2
</pre>
<pre><b># 32904000   RegQueryValue</b>
    hKey=5c\ForceQueueMode
    Return=2
</pre>
<pre><b># 32904000   RegCreateKey</b>
    hKey=5c\ExclusionList
    Return=0
</pre>
<pre><b># 32904000   RegCreateKey</b>
    hKey=5c\InclusionList
    Return=0
</pre>
<pre><b># 32905000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 32927000   RegQueryValue</b>
    hKey=60\malware.exe
    Return=2
</pre>
<pre><b># 32929000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 32938000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=77e70000
</pre>
<pre><b># 32998000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=94
</pre>
<pre><b># 33014000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=90
</pre>
<pre><b># 33052000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\6f95_appcompat.txt
    desiredAccess=GENERIC_ALL 
    creationDisposition=CREATE_NEW
    Return=a4
</pre>
<pre><b># 33088000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=7e410000
</pre>
<pre><b># 33095000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\6f95_appcompat.txt
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=a8
</pre>
<pre><b># 33110000   LoadLibrary</b>
    lpFileName=SHLWAPI.dll
    Return=77f60000
</pre>
<pre><b># 33135000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=77c00000
</pre>
<pre><b># 33174000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\6f95_appcompat.txt
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=a8
</pre>
<pre><b># 33442000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=77c00000
</pre>
<pre><b># 33460000   CreateFile</b>
    hName=C:\WINDOWS\system32\dwwin.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=c0
</pre>
<pre><b># 33480000   CreateFile</b>
    hName=C:\WINDOWS\system32\dwwin.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=c0
</pre>
<pre><b># 33670000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 33676000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=77dd0000
</pre>
<pre><b># 33302000   CreateProcessInternal</b>
    lpCommandLine=C:\WINDOWS\system32\dwwin.exe -x -s 160
    Return=1
</pre>
<pre><b># 33302000   CreateProcess</b>
    lpCommandLine=C:\WINDOWS\system32\dwwin.exe -x -s 160
    Return=1
</pre>
</body>