<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>5cada711386e7c55f1ecbac524b9b57b4692ab5274d79bb3e92d47b9baa30162_3212.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22959000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23038000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23007000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 23094000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 23095000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 23163000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 23267000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23294000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 23296000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 23297000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 23195000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 23322000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 23329000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24316000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malwaremgr.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24316000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malwaremgr.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24334000   CreateFile</b>
    hName=C:\Documents
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24337000   CreateFile</b>
    hName=C:\Documents and
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24339000   CreateFile</b>
    hName=C:\Documents and Settings\All
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24589000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 24593000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24331000   CreateProcessInternal</b>
    lpCommandLine=C:\Documents and Settings\All Users\Desktop\malwaremgr.exe
    Return=SUCCESS
    dwProcessId=3244
    dwThreadId=3248
</pre>
<pre><b># 24330000   CreateProcessInternal</b>
    lpCommandLine=C:\Documents and Settings\All Users\Desktop\malwaremgr.exe
    Return=SUCCESS
    dwProcessId=3244
    dwThreadId=3248
</pre>
<pre><b># 24330000   CreateProcess</b>
    lpCommandLine=C:\Documents and Settings\All Users\Desktop\malwaremgr.exe
    Return=SUCCESS
    dwProcessId=3244
    dwThreadId=3248
</pre>
<pre><b># 25116000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 25118000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27525000   LoadLibrary</b>
    lpFileName=KERNEL32.dll
    Return=SUCCESS
</pre>
<pre><b># 27530000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28476000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28482000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28487000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 29426000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 29449000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29455000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 29474000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 29486000   CreateFile</b>
    hName=C:\WINDOWS\system32\ntdll.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29486000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\ntdll.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 29511000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29511000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50028000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 50028000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 50039000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM3.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 50046000   CreateFile</b>
    hName=C:\WINDOWS\system32\kernel32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50046000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\kernel32.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM3.tmp
    Return=SUCCESS
</pre>
<pre><b># 50095000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM3.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50095000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM3.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>