<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>5e5157e77089c4cfcfb2dfc82a574e465a943323e330dfe15316553d41f3d7eb_3316.trace.hooklog Bahavior Analysis</pre>
<pre><b># 30876000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=76390000
</pre>
<pre><b># 30975000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=77f10000
</pre>
<pre><b># 30933000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=629c0000
</pre>
<pre><b># 31008000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 31008000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 31043000   CreateFile</b>
    hName=C:\WINDOWS\system32\OLEACCRC.DLL
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=40
</pre>
<pre><b># 31069000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 31182000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=4c
</pre>
<pre><b># 31210000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 31212000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 31213000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31105000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=773d0000
</pre>
<pre><b># 31236000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=773d0000
</pre>
<pre><b># 31321000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\version.dll
    Return=77c00000
</pre>
<pre><b># 31335000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\dwmapi.dll
    Return=0
</pre>
<pre><b># 31339000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\atl.dll
    Return=76b20000
</pre>
<pre><b># 31425000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
</pre>
<pre><b># 31361000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ntmarta.dll
    Return=77690000
</pre>
<pre><b># 31479000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 31428000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\winmm.dll
    Return=76b40000
</pre>
<pre><b># 31555000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\dsound.dll
    Return=73f10000
</pre>
<pre><b># 31592000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\DirectX\GlitchInstrumentation
    Return=2
</pre>
<pre><b># 31485000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\dsound.dll
    Return=73f10000
</pre>
<pre><b># 31624000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\PowerCfg\AdminMaxSleep
    Return=2
</pre>
<pre><b># 31624000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\PowerCfg\AdminMaxVideoTimeout
    Return=2
</pre>
<pre><b># 31625000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Controls Folder\PowerCfg\LastID
    Return=0
</pre>
<pre><b># 31592000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\powrprof.dll
    Return=74ad0000
</pre>
<pre><b># 31691000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\GeometryDriver
    Return=2
</pre>
<pre><b># 31692000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Direct3D\MostRecentApplication
    Return=0
</pre>
<pre><b># 31693000   RegSetValue</b>
    hKey=ac\Name
    type=REG_SZ
    data=malware.exe
    Return=0
</pre>
<pre><b># 31625000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\d3d9.dll
    Return=4fdd0000
</pre>
<pre><b># 31695000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\d3d8thk.dll
    Return=6d990000
</pre>
<pre><b># 31709000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\mscms.dll
    Return=73b30000
</pre>
<pre><b># 31798000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 31799000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 31801000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
</pre>
<pre><b># 31817000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
</pre>
<pre><b># 31817000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
</pre>
<pre><b># 31824000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 31824000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 31824000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 31826000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 31762000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\userenv.dll
    Return=769c0000
</pre>
<pre><b># 31828000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\profapi.dll
    Return=0
</pre>
<pre><b># 31832000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ieframe.dll
    Return=0
</pre>
<pre><b># 31835000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\oleacc.dll
    Return=74c80000
</pre>
<pre><b># 31838000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\oleaccrc.dll
    Return=5ee10000
</pre>
<pre><b># 31846000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\dbghelp.dll
    Return=59a60000
</pre>
<pre><b># 31951000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 31953000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 31914000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\uxtheme.dll
    Return=5ad70000
</pre>
<pre><b># 31954000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msasn1.dll
    Return=77b20000
</pre>
<pre><b># 32036000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=77dd0000
</pre>
<pre><b># 32113000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=7c800000
</pre>
<pre><b># 32156000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=77dd0000
</pre>
<pre><b># 31975000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\crypt32.dll
    Return=77a80000
</pre>
<pre><b># 32336000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\psapi.dll
    Return=76bf0000
</pre>
<pre><b># 32340000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\advapi32.dll
    Return=77dd0000
</pre>
<pre><b># 32343000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=7c800000
</pre>
<pre><b># 32346000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\propsys.dll
    Return=0
</pre>
<pre><b># 32350000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\secur32.dll
    Return=77fe0000
</pre>
<pre><b># 32353000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\pcacli.dll
    Return=0
</pre>
<pre><b># 32357000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\devrtl.dll
    Return=0
</pre>
<pre><b># 32360000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\apphelp.dll
    Return=77b40000
</pre>
<pre><b># 32387000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\Shell32.dll
    Return=7c9c0000
</pre>
<pre><b># 32392000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 32392000   RegQueryValue</b>
    hKey=b4\AppData
    Return=0
</pre>
<pre><b># 32396000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 32397000   RegSetValue</b>
    hKey=b4\AppData
    type=REG_SZ
    data=C:\Documents and Settings\ants\Application Data
    Return=0
</pre>
<pre><b># 32404000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Macromedia\FlashPlayerActiveX\version
    Return=0
</pre>
<pre><b># 32405000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Macromedia\FlashPlayerPlugin\version
    Return=0
</pre>
<pre><b># 32407000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Macromedia\FlashPlayerActiveX\PlayerPath
    Return=0
</pre>
<pre><b># 32408000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Macromedia\FlashPlayerPlugin\PlayerPath
    Return=0
</pre>
</body>