<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>5ed8f60781ab9acdab8725fcdd892c3610094764748d72088c4aa6b6e65687c3_2868.trace.hooklog Bahavior Analysis</pre>
<pre><b># 33958000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 34078000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34042000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 34356000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34306000   LoadLibrary</b>
    lpFileName=adsldpc.dll
    Return=SUCCESS
</pre>
<pre><b># 34722000   LoadLibrary</b>
    lpFileName=adsldpc 
    Return=SUCCESS
</pre>
<pre><b># 35098000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
</body>