<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>76d936555853bb6881dd48c427ec2fd7dba71f3a0ac09dfb4eb771e8010ea341_2812.trace.hooklog Bahavior Analysis</pre>
<pre><b># 21993000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22082000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22051000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22092000   OpenThread</b>
    dwThreadId=2816
    Return=SUCCESS
</pre>
</body>