<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>8d51c327bf12bacdaf66d9f79b2c74f0a0800934f818054ffb63d84f756ebe32_3340.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22593000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22676000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22643000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22731000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 22732000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 22803000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22916000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22943000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 22944000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 22945000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 22833000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 22994000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 23026000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 23027000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 23032000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23034000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24058000   LoadLibrary</b>
    lpFileName=KERNEL32.dll
    Return=SUCCESS
</pre>
<pre><b># 24060000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24404000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 24407000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24409000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 24687000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 24698000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24702000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 24713000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 24717000   CreateFile</b>
    hName=C:\WINDOWS\system32\ntdll.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24717000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\ntdll.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    Return=SUCCESS
</pre>
<pre><b># 24729000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24728000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34444000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    Return=SUCCESS
</pre>
<pre><b># 34444000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    Return=SUCCESS
</pre>
<pre><b># 34448000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 34452000   CreateFile</b>
    hName=C:\WINDOWS\system32\kernel32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34452000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\kernel32.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 34466000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34466000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36380000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 36380000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 36385000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\http\shell\open\command
    Return=0
</pre>
<pre><b># 36391000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 36397000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 36407000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36420000   CreateFile</b>
    hName=C:\Program
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36423000   CreateFile</b>
    hName=C:\Program Files\Internet
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36516000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 36531000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36540000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36693000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 36697000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 36417000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\iexplore.exe
    Return=SUCCESS
    dwProcessId=3400
    dwThreadId=3404
</pre>
<pre><b># 36417000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\iexplore.exe
    Return=SUCCESS
    dwProcessId=3400
    dwThreadId=3404
</pre>
<pre><b># 36417000   CreateProcess</b>
    lpCommandLine=C:\Program Files\Internet Explorer\iexplore.exe
    Return=SUCCESS
    dwProcessId=3400
    dwThreadId=3404
</pre>
<pre><b># 36842000   ExitProcess</b></pre>
</body>