<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>94f703647f3b1e414b50b0a6c1753ec4e29047de23fe98fcb4edb290d1f06d8f_3064.trace.hooklog Bahavior Analysis</pre>
<pre><b># 21051000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21132000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21101000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 21187000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21187000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 21255000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21405000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21433000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21434000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 21438000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 21285000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21467000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21486000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 21486000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 21988000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 21993000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22773000   LoadLibrary</b>
    lpFileName=KERNEL32.dll
    Return=SUCCESS
</pre>
<pre><b># 22775000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23107000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23110000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23111000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 23390000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23402000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23408000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 23429000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 23432000   CreateFile</b>
    hName=C:\WINDOWS\system32\ntdll.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23432000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\ntdll.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    Return=SUCCESS
</pre>
<pre><b># 23443000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23443000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33039000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    Return=SUCCESS
</pre>
<pre><b># 33039000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM1.tmp
    Return=SUCCESS
</pre>
<pre><b># 33043000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 33046000   CreateFile</b>
    hName=C:\WINDOWS\system32\kernel32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33046000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\kernel32.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 33060000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33060000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34954000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 34954000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 34958000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\http\shell\open\command
    Return=0
</pre>
<pre><b># 34965000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 34970000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 34981000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34992000   CreateFile</b>
    hName=C:\Program
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 34995000   CreateFile</b>
    hName=C:\Program Files\Internet
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 35099000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 35115000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35123000   CreateFile</b>
    hName=C:\Program Files\Internet Explorer\IEXPLORE.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35271000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 35274000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34990000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\iexplore.exe
    Return=SUCCESS
    dwProcessId=3132
    dwThreadId=3136
</pre>
<pre><b># 34990000   CreateProcessInternal</b>
    lpCommandLine=C:\Program Files\Internet Explorer\iexplore.exe
    Return=SUCCESS
    dwProcessId=3132
    dwThreadId=3136
</pre>
<pre><b># 34990000   CreateProcess</b>
    lpCommandLine=C:\Program Files\Internet Explorer\iexplore.exe
    Return=SUCCESS
    dwProcessId=3132
    dwThreadId=3136
</pre>
</body>