<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>953df854f9acedf5a38e9902830913e777f44772b05183e03852855a24851836_3196.trace.hooklog Bahavior Analysis</pre>
<pre><b># 24273000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 24362000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24331000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 24415000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\nsk2.tmp\bi.lza
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24415000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\nsk2.tmp\bi.lza
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24417000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\nsk2.tmp\biSetup48702.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24417000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\nsk2.tmp\biSetup48702.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 30721000   ExitProcess</b></pre>
</body>