<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>9988a23cb314b9e19d106105365d5a70dce0c48aac9a9d1dbe50c7081fb15ed9_3160.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22239000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22333000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22298000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22343000   LoadLibrary</b>
    lpFileName=MSVCRT.DLL
    Return=SUCCESS
</pre>
<pre><b># 22359000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\MFC42LOC.DLL
    Return=FAILURE
</pre>
<pre><b># 22369000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 22379000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@
    Return=0
</pre>
<pre><b># 22380000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell
    Return=0
</pre>
<pre><b># 22382000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List
    Return=0
</pre>
<pre><b># 22383000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List\File1
    Return=2
</pre>
<pre><b># 22383000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@
    Return=0
</pre>
<pre><b># 22383000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell
    Return=0
</pre>
<pre><b># 22384000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List
    Return=0
</pre>
<pre><b># 22384000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List\File2
    Return=2
</pre>
<pre><b># 22385000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@
    Return=0
</pre>
<pre><b># 22385000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell
    Return=0
</pre>
<pre><b># 22385000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List
    Return=0
</pre>
<pre><b># 22385000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List\File3
    Return=2
</pre>
<pre><b># 22386000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@
    Return=0
</pre>
<pre><b># 22386000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell
    Return=0
</pre>
<pre><b># 22387000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List
    Return=0
</pre>
<pre><b># 22387000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Recent File List\File4
    Return=2
</pre>
<pre><b># 22387000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@
    Return=0
</pre>
<pre><b># 22388000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell
    Return=0
</pre>
<pre><b># 22388000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Settings
    Return=0
</pre>
<pre><b># 22389000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\‡@\Cell\Settings\PreviewPages
    Return=2
</pre>
<pre><b># 22438000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 22440000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 22442000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 22596000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 22598000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 22611000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22619000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22713000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 22714000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 22678000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 22634000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 22730000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 22732000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22739000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 22773000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Lucida San
    Return=0
</pre>
<pre><b># 22774000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Tah
    Return=0
</pre>
<pre><b># 22775000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Microsoft 
    Return=0
</pre>
<pre><b># 22998000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 22999000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 22936000   LoadLibrary</b>
    lpFileName=COMCTL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23049000   LoadLibrary</b>
    lpFileName=COMCTL32.dll
    Return=SUCCESS
</pre>
<pre><b># 23087000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 23197000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23197000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23396000   CreateFile</b>
    hName=ê:\My
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 23442000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23444000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23446000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23447000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23449000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23451000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23452000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_ALWAYS
    Return=FAILURE
</pre>
<pre><b># 23454000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 23455000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23456000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=TRUNCATE_EXISTING
    Return=FAILURE
</pre>
<pre><b># 23891000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23892000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23897000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23952000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 24052000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24079000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 24080000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 24081000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 23983000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 24102000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 23905000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 24121000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24129000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24138000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24146000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24154000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24162000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24171000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24185000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24187000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24188000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24196000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24205000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24214000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24222000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24231000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24233000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24235000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24237000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24256000   CreateFile</b>
    hName=C:\myapp.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24256000   CreateFile</b>
    hName=C:\myapp.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24257000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24808000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24810000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24815000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24823000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 24843000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24852000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24860000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24869000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24877000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24885000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24894000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24908000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24910000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24911000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24920000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24928000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24936000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24944000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24953000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24956000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24958000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24960000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24980000   CreateFile</b>
    hName=C:\Documents
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24983000   CreateFile</b>
    hName=C:\Documents and
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24986000   CreateFile</b>
    hName=C:\Documents and Settings\All
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 25055000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 25058000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24978000   CreateProcessInternal</b>
    lpCommandLine=C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3176
    dwThreadId=3180
</pre>
<pre><b># 24978000   CreateProcess</b>
    lpCommandLine=C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3176
    dwThreadId=3180
</pre>
</body>