<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>c2c591bbac007b9f10547c8703451ac770fc32791a5fde7ca319737d8d97b992_3152.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23168000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23244000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23214000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 23304000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23306000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23308000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23312000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23313000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23315000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23317000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23318000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23320000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23322000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23323000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23325000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23326000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23328000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23331000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 23348000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 23358000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 23368000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 23378000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 23387000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 23427000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23429000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23430000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23432000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23434000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23436000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23438000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23440000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23441000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23443000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23444000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 23448000   LoadLibrary</b>
    lpFileName=shlwapi
    Return=SUCCESS
</pre>
<pre><b># 23609000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23696000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23737000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23909000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 23909000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 24022000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24049000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 24050000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 24051000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 23954000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 24076000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 23503000   LoadLibrary</b>
    lpFileName=wininet
    Return=SUCCESS
</pre>
<pre><b># 24608000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24608000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Empire Earth Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24612000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24612000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Cabelas Ultimate Deer Hunt 2 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24618000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24618000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\AIM Account Stealer Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24623000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24623000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Shakira ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24628000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24628000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Norton Utilities 2002 XP Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24632000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24632000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Star Wars Starfighter ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24637000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24637000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Borland Delphi 6 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24642000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24642000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\F1 Grand Pix 4 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24647000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24647000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Grand Theft Auto 3 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24652000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24652000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24657000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24657000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\GTA3 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24662000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24662000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\KaZaA Spyware Remover ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24666000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24666000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\MSN Password Hacker and Stealer Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24672000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24672000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Valhalla Chronicles Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24677000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24677000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Need For Speed 5 Porsche Unleashed ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24682000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24682000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\KaZaA Media Desktop v2.5 UNOFFICIAL Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24688000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24688000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Squad Battles Eagles Strike Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24692000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24692000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Austerlitz Napoleons Greatest Victory Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24698000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24698000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Battle.net Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24703000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24703000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Clive Barkers Undying Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24712000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24712000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Age Of Wonders 2 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24726000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24726000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Hard Truck 18 Wheels of Steel Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24732000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24732000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Grand Prix 4 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24738000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24738000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Battle.net ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24742000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24742000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\GTA 3 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24748000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24748000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Neverwinter Nights ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24752000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24752000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\DSL Modem Uncapper Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24758000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24758000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\KaZaA Spyware Remover Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24762000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24762000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Emperor Rise Of the Middle Kingdom Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24768000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24768000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Windows XP SP1 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24773000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24773000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Gladiator Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24778000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24777000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Free Virus Removal Tool From Symantec Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24783000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24783000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Macromedia Flash 5.0 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24788000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24788000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Hacking Tool Collection Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24793000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24793000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Dweebs 2 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24798000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24798000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Half-life ONLINE Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24803000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24803000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\DSL Modem Uncapper Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24807000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24807000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Age Of Wonders 2 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24812000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24812000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Microsoft Office XP (English) Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24818000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24818000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\MoviezChannelsInstaler Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24827000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24827000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Windows XP Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24836000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24836000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Critical Point Manga game Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24845000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24845000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Norton Utilities 2002 XP Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24851000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24851000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Cat Attacks Child Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24858000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24858000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Shakira Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24863000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24863000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Sudden Strike 2 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24868000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24868000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\BORLAND Delphi 7 Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24873000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24873000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Quake 3 Arena Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24878000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24878000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Warcraft 3 battle.net ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24883000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24883000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Duke Nukem Manhattan Project ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24893000   CreateFile</b>
    hName=C:\My Downloads\Empire Earth Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24892000   CreateFile</b>
    hName=C:\My Downloads\Empire Earth Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24895000   CreateFile</b>
    hName=C:\My Downloads\Cabelas Ultimate Deer Hunt 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24895000   CreateFile</b>
    hName=C:\My Downloads\Cabelas Ultimate Deer Hunt 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24899000   CreateFile</b>
    hName=C:\My Downloads\AIM Account Stealer Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24898000   CreateFile</b>
    hName=C:\My Downloads\AIM Account Stealer Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24901000   CreateFile</b>
    hName=C:\My Downloads\Shakira ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24901000   CreateFile</b>
    hName=C:\My Downloads\Shakira ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24904000   CreateFile</b>
    hName=C:\My Downloads\Norton Utilities 2002 XP Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24904000   CreateFile</b>
    hName=C:\My Downloads\Norton Utilities 2002 XP Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24907000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24907000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24910000   CreateFile</b>
    hName=C:\My Downloads\Borland Delphi 6 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24909000   CreateFile</b>
    hName=C:\My Downloads\Borland Delphi 6 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24912000   CreateFile</b>
    hName=C:\My Downloads\F1 Grand Pix 4 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24912000   CreateFile</b>
    hName=C:\My Downloads\F1 Grand Pix 4 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24921000   CreateFile</b>
    hName=C:\My Downloads\Grand Theft Auto 3 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24921000   CreateFile</b>
    hName=C:\My Downloads\Grand Theft Auto 3 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24924000   CreateFile</b>
    hName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24924000   CreateFile</b>
    hName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24927000   CreateFile</b>
    hName=C:\My Downloads\GTA3 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24927000   CreateFile</b>
    hName=C:\My Downloads\GTA3 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24929000   CreateFile</b>
    hName=C:\My Downloads\KaZaA Spyware Remover ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24929000   CreateFile</b>
    hName=C:\My Downloads\KaZaA Spyware Remover ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24932000   CreateFile</b>
    hName=C:\My Downloads\MSN Password Hacker and Stealer Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24932000   CreateFile</b>
    hName=C:\My Downloads\MSN Password Hacker and Stealer Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24935000   CreateFile</b>
    hName=C:\My Downloads\Valhalla Chronicles Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24935000   CreateFile</b>
    hName=C:\My Downloads\Valhalla Chronicles Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24938000   CreateFile</b>
    hName=C:\My Downloads\Need For Speed 5 Porsche Unleashed ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24937000   CreateFile</b>
    hName=C:\My Downloads\Need For Speed 5 Porsche Unleashed ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24942000   CreateFile</b>
    hName=C:\My Downloads\KaZaA Media Desktop v2.5 UNOFFICIAL Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24942000   CreateFile</b>
    hName=C:\My Downloads\KaZaA Media Desktop v2.5 UNOFFICIAL Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24946000   CreateFile</b>
    hName=C:\My Downloads\Squad Battles Eagles Strike Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24946000   CreateFile</b>
    hName=C:\My Downloads\Squad Battles Eagles Strike Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24949000   CreateFile</b>
    hName=C:\My Downloads\Austerlitz Napoleons Greatest Victory Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24949000   CreateFile</b>
    hName=C:\My Downloads\Austerlitz Napoleons Greatest Victory Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24952000   CreateFile</b>
    hName=C:\My Downloads\Battle.net Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24952000   CreateFile</b>
    hName=C:\My Downloads\Battle.net Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24954000   CreateFile</b>
    hName=C:\My Downloads\Clive Barkers Undying Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24954000   CreateFile</b>
    hName=C:\My Downloads\Clive Barker’s Undying Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24957000   CreateFile</b>
    hName=C:\My Downloads\Age Of Wonders 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24957000   CreateFile</b>
    hName=C:\My Downloads\Age Of Wonders 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24960000   CreateFile</b>
    hName=C:\My Downloads\Hard Truck 18 Wheels of Steel Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24960000   CreateFile</b>
    hName=C:\My Downloads\Hard Truck 18 Wheels of Steel Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24963000   CreateFile</b>
    hName=C:\My Downloads\Grand Prix 4 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24963000   CreateFile</b>
    hName=C:\My Downloads\Grand Prix 4 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24966000   CreateFile</b>
    hName=C:\My Downloads\Battle.net ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24965000   CreateFile</b>
    hName=C:\My Downloads\Battle.net ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24968000   CreateFile</b>
    hName=C:\My Downloads\GTA 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24968000   CreateFile</b>
    hName=C:\My Downloads\GTA 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24970000   CreateFile</b>
    hName=C:\My Downloads\Neverwinter Nights ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24970000   CreateFile</b>
    hName=C:\My Downloads\Neverwinter Nights ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24973000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24973000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24976000   CreateFile</b>
    hName=C:\My Downloads\KaZaA Spyware Remover Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24976000   CreateFile</b>
    hName=C:\My Downloads\KaZaA Spyware Remover Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24978000   CreateFile</b>
    hName=C:\My Downloads\Emperor Rise Of the Middle Kingdom Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24978000   CreateFile</b>
    hName=C:\My Downloads\Emperor Rise Of the Middle Kingdom Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24981000   CreateFile</b>
    hName=C:\My Downloads\Windows XP SP1 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24981000   CreateFile</b>
    hName=C:\My Downloads\Windows XP SP1 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24984000   CreateFile</b>
    hName=C:\My Downloads\Gladiator Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24984000   CreateFile</b>
    hName=C:\My Downloads\Gladiator Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24987000   CreateFile</b>
    hName=C:\My Downloads\Free Virus Removal Tool From Symantec Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24987000   CreateFile</b>
    hName=C:\My Downloads\Free Virus Removal Tool From Symantec Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24990000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Flash 5.0 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24990000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Flash 5.0 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24993000   CreateFile</b>
    hName=C:\My Downloads\Hacking Tool Collection Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24993000   CreateFile</b>
    hName=C:\My Downloads\Hacking Tool Collection Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24995000   CreateFile</b>
    hName=C:\My Downloads\Dweebs 2 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24995000   CreateFile</b>
    hName=C:\My Downloads\Dweebs 2 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24997000   CreateFile</b>
    hName=C:\My Downloads\Half-life ONLINE Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24997000   CreateFile</b>
    hName=C:\My Downloads\Half-life ONLINE Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25000000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25000000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25003000   CreateFile</b>
    hName=C:\My Downloads\Age Of Wonders 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25002000   CreateFile</b>
    hName=C:\My Downloads\Age Of Wonders 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25005000   CreateFile</b>
    hName=C:\My Downloads\Microsoft Office XP (English) Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25005000   CreateFile</b>
    hName=C:\My Downloads\Microsoft Office XP (English) Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25008000   CreateFile</b>
    hName=C:\My Downloads\MoviezChannelsInstaler Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25008000   CreateFile</b>
    hName=C:\My Downloads\MoviezChannelsInstaler Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25010000   CreateFile</b>
    hName=C:\My Downloads\Windows XP Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25010000   CreateFile</b>
    hName=C:\My Downloads\Windows XP Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25013000   CreateFile</b>
    hName=C:\My Downloads\Critical Point Manga game Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25013000   CreateFile</b>
    hName=C:\My Downloads\Critical Point Manga game Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25016000   CreateFile</b>
    hName=C:\My Downloads\Norton Utilities 2002 XP Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25016000   CreateFile</b>
    hName=C:\My Downloads\Norton Utilities 2002 XP Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25019000   CreateFile</b>
    hName=C:\My Downloads\Cat Attacks Child Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25019000   CreateFile</b>
    hName=C:\My Downloads\Cat Attacks Child Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25021000   CreateFile</b>
    hName=C:\My Downloads\Shakira Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25021000   CreateFile</b>
    hName=C:\My Downloads\Shakira Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25023000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25023000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25026000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25026000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25028000   CreateFile</b>
    hName=C:\My Downloads\Quake 3 Arena Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25028000   CreateFile</b>
    hName=C:\My Downloads\Quake 3 Arena Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25031000   CreateFile</b>
    hName=C:\My Downloads\Warcraft 3 battle.net ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25031000   CreateFile</b>
    hName=C:\My Downloads\Warcraft 3 battle.net ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25033000   CreateFile</b>
    hName=C:\My Downloads\Duke Nukem Manhattan Project ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25033000   CreateFile</b>
    hName=C:\My Downloads\Duke Nukem Manhattan Project ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25057000   ExitProcess</b></pre>
</body>