<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>e1581979a0b11405ca5f2efa1ef06602f6b08f29c8e9eccec0bdb3a974c9009b_3288.trace.hooklog Bahavior Analysis</pre>
<pre><b># 35007000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 35094000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35060000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 35140000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 35141000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 35441000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35507000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 35548000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35861000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35887000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 35888000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 35889000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 35775000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 35918000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 35927000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35930000   LoadLibrary</b>
    lpFileName=Comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 35959000   LoadLibrary</b>
    lpFileName=RichEd20.dll
    Return=SUCCESS
</pre>
<pre><b># 36013000   LoadLibrary</b>
    lpFileName=Comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 36072000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 36112000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{EAB22AC1-30C1-11CF-A7EB-0000C05BAE0B}\Typelib
    Return=0
    type=REG_SZ
    data={EAB22AC0-30C1-11CF-A7EB-0000C05BAE0B}
</pre>
<pre><b># 36117000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{b722bccb-4e68-101b-a2bc-00aa00404770}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={B8DA6310-E19B-11D0-933C-00A0C90DCAA9}
</pre>
<pre><b># 36120000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{79eac9c4-baf9-11ce-8c82-00aa004ba90b}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={B8DA6310-E19B-11D0-933C-00A0C90DCAA9}
</pre>
<pre><b># 36124000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{000214E6-0000-0000-C000-000000000046}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={bf50b68e-29b8-4386-ae9c-9734d5117cd5}
</pre>
<pre><b># 36127000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{93F2F68C-1D1B-11D3-A30E-00C04F79ABD1}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={bf50b68e-29b8-4386-ae9c-9734d5117cd5}
</pre>
<pre><b># 36192000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\App Paths\ICWCONN1.EXE\Path
    Return=0
    type=REG_SZ
    data=C:\Program Files\Internet Explorer\Connection Wizard;
</pre>
<pre><b># 36203000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\URL Compatibility\~/CONNWIZ.HTM\Compatibility Flags
    Return=0
    type=REG_DWORD
    data=4
</pre>
<pre><b># 36204000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\URL Compatibility\~/CWIZINTR.HTM\Compatibility Flags
    Return=0
    type=REG_DWORD
    data=4
</pre>
<pre><b># 36207000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Application Compatibility\malware.exe
    Return=2
</pre>
<pre><b># 35214000   LoadLibrary</b>
    lpFileName=mshtml.dll
    Return=SUCCESS
</pre>
<pre><b># 41190000   LoadLibrary</b>
    lpFileName=mshtml.dll
    Return=SUCCESS
</pre>
<pre><b># 46276000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
</body>