<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ee639f7485f2ff694feb0e8eaa6eab9adae438f3f98c4df44a06945baf5427b2_3176.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22387000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22468000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22437000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22518000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22624000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22652000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 22653000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 22654000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 22549000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 22735000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 22736000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 22675000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 22855000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22855000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29368000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\AppData
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Application Data
</pre>
<pre><b># 29372000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local AppData
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Local Settings\Application Data
</pre>
<pre><b># 29430000   CreateFile</b>
    hName=\\.\Ip
    desiredAccess=GENERIC_EXECUTE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29429000   CreateFile</b>
    hName=\\.\Ip
    desiredAccess=GENERIC_EXECUTE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29378000   LoadLibrary</b>
    lpFileName=iphlpapi.dll
    Return=SUCCESS
</pre>
<pre><b># 29444000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Linkage\Bind
    Return=0
    type=REG_MULTI_SZ
    data=                                                                                                                                                                                                                                  
</pre>
<pre><b># 29444000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Linkage\Bind
    Return=0
    type=REG_MULTI_SZ
    data=\ D e v i c e \ { 2 9 9 7 E 7 8 B - 5 F B C - 4 4 9 C - A 3 3 C - 5 E 0 4 C 7 B 1 3 E A 4 }   \ D e v i c e \ { 6 D B E 5 7 2 E - D D D 4 - 4 5 0 9 - B 4 8 8 - 6 0 E 8 3 0 B 8 D B 3 6 }   \ D e v i c e \ N d i s W a n I p     
</pre>
<pre><b># 29450000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\EnableDHCP
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 29450000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\LeaseObtainedTime
    Return=0
    type=REG_DWORD
    data=1474813161
</pre>
<pre><b># 29450000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\LeaseTerminatesTime
    Return=0
    type=REG_DWORD
    data=1474899561
</pre>
<pre><b># 29450000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\DhcpServer
    Return=0
    type=REG_SZ
    data=10.0.2.2
</pre>
<pre><b># 29468000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29468000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29474000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29474000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29492000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/content/bg.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29492000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/content/bg.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29500000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/install.rdf
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29500000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/install.rdf
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29508000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/chrome.manifest
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29508000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/chrome.manifest
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29515000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/bootstrap.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29515000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/a.dune@lmzugdbc.edu/bootstrap.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29533000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/lsdb.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29532000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/lsdb.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29539000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/content.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29539000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/content.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29547000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/manifest.json
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29546000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/manifest.json
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29557000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/background.html
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29556000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/background.html
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29564000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/cdMt81ndG.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29564000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/lieaiacocikjbihmghgeagbakdjhfobo/cdMt81ndG.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29746000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 29750000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29576000   CreateProcessInternal</b>
    lpApplicationName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.exe
    lpCommandLine="C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.exe" 
    Return=SUCCESS
    dwProcessId=3216
    dwThreadId=3220
</pre>
<pre><b># 29576000   CreateProcess</b>
    lpApplicationName=C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.exe
    lpCommandLine="C:\DOCUME~1\ants\LOCALS~1\Temp/00294823/KOuBeuoR.exe" 
    Return=SUCCESS
    dwProcessId=3216
    dwThreadId=3220
</pre>
</body>