<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff0203b682aa62f1d93c7fbc37915f0_3176.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22847000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22924000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22897000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22998000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23011000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 23016000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 23022000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 23026000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 23031000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 23041000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23051000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=428
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 23139000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23202000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23239000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23412000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 23412000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 23051000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 23480000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=428
</pre>
<pre><b># 23490000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23490000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23494000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23494000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23499000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23499000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23518000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{gfnhpoew-sxal-kjln-rveq-xz9mo5r7gygy}
    Return=0
</pre>
<pre><b># 23520000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{gfnhpoew-sxal-kjln-rveq-xz9mo5r7gygy}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 23521000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{gfnhpoew-sxal-kjln-rveq-xz9mo5r7gygy}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\inogwahsa.exeö®Ç∏
    Return=0
</pre>
<pre><b># 23523000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23523000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23929000   CreateFile</b>
    hName=C:\Windows\System32\inogwahsa.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23929000   CreateFile</b>
    hName=C:\Windows\System32\inogwahsa.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23935000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23934000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23939000   CreateFile</b>
    hName=C:\Windows\System32\inogwahsa.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23939000   CreateFile</b>
    hName=C:\Windows\System32\inogwahsa.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24159000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 24162000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23949000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\inogwahsa.exe
    Return=SUCCESS
    dwProcessId=3196
    dwThreadId=3200
</pre>
<pre><b># 23949000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\inogwahsa.exe
    Return=SUCCESS
    dwProcessId=3196
    dwThreadId=3200
</pre>
<pre><b># 23949000   CreateProcess</b>
    lpCommandLine=C:\Windows\System32\inogwahsa.exe
    Return=SUCCESS
    dwProcessId=3196
    dwThreadId=3200
</pre>
<pre><b># 24175000   ExitProcess</b></pre>
</body>