<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff0203b682aa62f1d93c7fbc37915f0_3340.trace.hooklog Bahavior Analysis</pre>
<pre><b># 35720000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 35792000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35764000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 35866000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 35878000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 35884000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 35889000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 35893000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 35898000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 35908000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35924000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=428
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 36013000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 36076000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 36114000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 36283000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 36283000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 35924000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 36351000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=428
</pre>
<pre><b># 36361000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36361000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36366000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36366000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36371000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36371000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36397000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{vavjomsc-xnti-a0uw-1z0o-h1dgtifchzem}
    Return=0
</pre>
<pre><b># 36399000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{vavjomsc-xnti-a0uw-1z0o-h1dgtifchzem}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 36400000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{vavjomsc-xnti-a0uw-1z0o-h1dgtifchzem}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\indgerepg.exeö®Ç∏
    Return=0
</pre>
<pre><b># 36402000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36402000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36905000   CreateFile</b>
    hName=C:\Windows\System32\indgerepg.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36905000   CreateFile</b>
    hName=C:\Windows\System32\indgerepg.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36922000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36922000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36930000   CreateFile</b>
    hName=C:\Windows\System32\indgerepg.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36930000   CreateFile</b>
    hName=C:\Windows\System32\indgerepg.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37144000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 37147000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 36950000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\indgerepg.exe
    Return=SUCCESS
    dwProcessId=3360
    dwThreadId=3364
</pre>
<pre><b># 36950000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\indgerepg.exe
    Return=SUCCESS
    dwProcessId=3360
    dwThreadId=3364
</pre>
<pre><b># 36950000   CreateProcess</b>
    lpCommandLine=C:\Windows\System32\indgerepg.exe
    Return=SUCCESS
    dwProcessId=3360
    dwThreadId=3364
</pre>
<pre><b># 37159000   ExitProcess</b></pre>
</body>