<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff0203b682aa62f1d93c7fbc37915f0_3380.trace.hooklog Bahavior Analysis</pre>
<pre><b># 38696000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 38768000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 38740000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 38842000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 38855000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 38861000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 38866000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 38871000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 38876000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 38885000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 38895000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=428
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 38989000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 39052000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 39090000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 39258000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 39258000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 38895000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 39327000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=428
</pre>
<pre><b># 39337000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39337000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39342000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39342000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39346000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39346000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39366000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{gtabix7v-phau-etzd-egdk-vjlqketillj8}
    Return=0
</pre>
<pre><b># 39368000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{gtabix7v-phau-etzd-egdk-vjlqketillj8}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 39370000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{gtabix7v-phau-etzd-egdk-vjlqketillj8}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\indwhpwal.exeö®Ç∏
    Return=0
</pre>
<pre><b># 39372000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39372000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39999000   CreateFile</b>
    hName=C:\Windows\System32\indwhpwal.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 39999000   CreateFile</b>
    hName=C:\Windows\System32\indwhpwal.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 40005000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 40005000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 40013000   CreateFile</b>
    hName=C:\Windows\System32\indwhpwal.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 40013000   CreateFile</b>
    hName=C:\Windows\System32\indwhpwal.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 40349000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 40352000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 40037000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\indwhpwal.exe
    Return=SUCCESS
    dwProcessId=3400
    dwThreadId=3404
</pre>
<pre><b># 40036000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\indwhpwal.exe
    Return=SUCCESS
    dwProcessId=3400
    dwThreadId=3404
</pre>
<pre><b># 40036000   CreateProcess</b>
    lpCommandLine=C:\Windows\System32\indwhpwal.exe
    Return=SUCCESS
    dwProcessId=3400
    dwThreadId=3404
</pre>
<pre><b># 40366000   ExitProcess</b></pre>
</body>