<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff6e10b530975c473ec236a13cc71d0_3456.trace.hooklog Bahavior Analysis</pre>
<pre><b># 43770000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 43911000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 43851000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 44038000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 44092000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 44102000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 44109000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 44116000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 44122000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 44133000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 44144000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=424
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 44384000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 44495000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 44620000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 45081000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 45089000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 44144000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 45426000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=424
</pre>
<pre><b># 45450000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45450000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45466000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45466000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45480000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45480000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45602000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{touvgea2-j9mo-r7wp-alla-r1eod7tmnfa6}
    Return=0
</pre>
<pre><b># 45611000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{touvgea2-j9mo-r7wp-alla-r1eod7tmnfa6}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 45619000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{touvgea2-j9mo-r7wp-alla-r1eod7tmnfa6}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\inqyokcxi.exe
    ãZã
    Return=0
</pre>
<pre><b># 45622000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45622000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48182000   CreateFile</b>
    hName=C:\Windows\System32\inqyokcxi.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 48182000   CreateFile</b>
    hName=C:\Windows\System32\inqyokcxi.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 48309000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48309000   CreateFile</b>
    hName=C:\Windows\System32\inyufnzuj.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48331000   CreateFile</b>
    hName=C:\Windows\System32\inqyokcxi.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 48331000   CreateFile</b>
    hName=C:\Windows\System32\inqyokcxi.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
</body>