<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff6e10b530975c473ec236a13cc71d0_3180.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23571000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23658000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23632000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 23733000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23745000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 23750000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 23756000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 23760000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 23765000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 23774000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23784000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=424
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 23874000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23938000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23976000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24148000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 24149000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 23784000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 24217000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=424
</pre>
<pre><b># 24228000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24228000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24232000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24232000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24237000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24237000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24256000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{qpxgoac2-y8cq-jqfz-jgdi-nximsevrkfzz}
    Return=0
</pre>
<pre><b># 24258000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{qpxgoac2-y8cq-jqfz-jgdi-nximsevrkfzz}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 24258000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{qpxgoac2-y8cq-jqfz-jgdi-nximsevrkfzz}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\injyqkarh.exe
    ãZã
    Return=0
</pre>
<pre><b># 24261000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24261000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24687000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24687000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24694000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24694000   CreateFile</b>
    hName=C:\Windows\System32\inbutibqo.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24698000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24698000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24905000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 24909000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24709000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\injyqkarh.exe
    Return=SUCCESS
    dwProcessId=3204
    dwThreadId=3208
</pre>
<pre><b># 24709000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\injyqkarh.exe
    Return=SUCCESS
    dwProcessId=3204
    dwThreadId=3208
</pre>
<pre><b># 24709000   CreateProcess</b>
    lpCommandLine=C:\Windows\System32\injyqkarh.exe
    Return=SUCCESS
    dwProcessId=3204
    dwThreadId=3208
</pre>
<pre><b># 24922000   ExitProcess</b></pre>
</body>