<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffda772e9682b5cd713a1aff6bebe71_3232.trace.hooklog Bahavior Analysis</pre>
<pre><b># 28299000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28414000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28386000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 28565000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28569000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28571000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28579000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28581000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 28590000   CreateFile</b>
    hName=C:\WINDOWS\system32\notpad.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28590000   CreateFile</b>
    hName=C:\WINDOWS\system32\notpad.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28593000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp327140.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28593000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp327140.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28753000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 28757000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28596000   CreateProcessInternal</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp327140.exe
    Return=SUCCESS
    dwProcessId=3240
    dwThreadId=3244
</pre>
<pre><b># 28596000   CreateProcessInternal</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp327140.exe
    Return=SUCCESS
    dwProcessId=3240
    dwThreadId=3244
</pre>
<pre><b># 28596000   CreateProcess</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp327140.exe
    Return=SUCCESS
    dwProcessId=3240
    dwThreadId=3244
</pre>
<pre><b># 28773000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp328937.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28773000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp328937.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29015000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28787000   CreateProcessInternal</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp328937.exe
    Return=SUCCESS
    dwProcessId=3248
    dwThreadId=3252
</pre>
<pre><b># 28786000   CreateProcessInternal</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp328937.exe
    Return=SUCCESS
    dwProcessId=3248
    dwThreadId=3252
</pre>
<pre><b># 28786000   CreateProcess</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp328937.exe
    Return=SUCCESS
    dwProcessId=3248
    dwThreadId=3252
</pre>
<pre><b># 29038000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp331609.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29038000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\tmp331609.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29047000   ExitProcess</b></pre>
</body>