<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffe1e7b667a9ae17a22a0a9fe6f8f70_3268.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20385000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20461000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20431000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 20488000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 21053000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 21069000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21077000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21219000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 21222000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20972000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if not exist "C:\DOCUME~1\ants\LOCALS~1\Temp\afolder" mkdir "C:\DOCUME~1\ants\LOCALS~1\Temp\afold
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 20972000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if not exist "C:\DOCUME~1\ants\LOCALS~1\Temp\afolder" mkdir "C:\DOCUME~1\ants\LOCALS~1\Temp\afolder"
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 20972000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if not exist "C:\DOCUME~1\ants\LOCALS~1\Temp\afolder" mkdir "C:\DOCUME~1\ants\LOCALS~1\Temp\afolder"
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 22361000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22368000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22463000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22288000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if not exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp" mkdir "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp"
    Return=SUCCESS
    dwProcessId=3300
    dwThreadId=3304
</pre>
<pre><b># 22288000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if not exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp" mkdir "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp"
    Return=SUCCESS
    dwProcessId=3300
    dwThreadId=3304
</pre>
<pre><b># 22288000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if not exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp" mkdir "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp"
    Return=SUCCESS
    dwProcessId=3300
    dwThreadId=3304
</pre>
<pre><b># 23556000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23564000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23655000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23475000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c attrib +h C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 23474000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c attrib +h C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 23474000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c attrib +h C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 26029000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26029000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26106000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26113000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26219000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26036000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3340
    dwThreadId=3344
</pre>
<pre><b># 26036000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3340
    dwThreadId=3344
</pre>
<pre><b># 26036000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3340
    dwThreadId=3344
</pre>
<pre><b># 27294000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27301000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27392000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27202000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3352
    dwThreadId=3356
</pre>
<pre><b># 27202000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3352
    dwThreadId=3356
</pre>
<pre><b># 27202000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3352
    dwThreadId=3356
</pre>
<pre><b># 28491000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28499000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28592000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28423000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3364
    dwThreadId=3368
</pre>
<pre><b># 28422000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3364
    dwThreadId=3368
</pre>
<pre><b># 28422000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3364
    dwThreadId=3368
</pre>
<pre><b># 31308000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31316000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31406000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 31233000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3384
    dwThreadId=3388
</pre>
<pre><b># 31233000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3384
    dwThreadId=3388
</pre>
<pre><b># 31233000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3384
    dwThreadId=3388
</pre>
<pre><b># 32562000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32571000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32662000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 32487000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3408
    dwThreadId=3412
</pre>
<pre><b># 32487000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3408
    dwThreadId=3412
</pre>
<pre><b># 32487000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3408
    dwThreadId=3412
</pre>
<pre><b># 33795000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33802000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33895000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 33725000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3416
    dwThreadId=3420
</pre>
<pre><b># 33725000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3416
    dwThreadId=3420
</pre>
<pre><b># 33725000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c cls
    Return=SUCCESS
    dwProcessId=3416
    dwThreadId=3420
</pre>
<pre><b># 34966000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34974000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35067000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34894000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat" del "C:\DOCUME~1\ants\LOCALS~1\Temp\z
    Return=SUCCESS
    dwProcessId=3432
    dwThreadId=3436
</pre>
<pre><b># 34893000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat" del "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat"
    Return=SUCCESS
    dwProcessId=3432
    dwThreadId=3436
</pre>
<pre><b># 34893000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat" del "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat"
    Return=SUCCESS
    dwProcessId=3432
    dwThreadId=3436
</pre>
<pre><b># 36159000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36159000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36260000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36268000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36371000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 36192000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe" del "C:\DOCUME~1\ants\LOCALS~1\Temp\z
    Return=SUCCESS
    dwProcessId=3440
    dwThreadId=3444
</pre>
<pre><b># 36191000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe" del "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe"
    Return=SUCCESS
    dwProcessId=3440
    dwThreadId=3444
</pre>
<pre><b># 36191000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe" del "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe"
    Return=SUCCESS
    dwProcessId=3440
    dwThreadId=3444
</pre>
<pre><b># 37350000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37350000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37432000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 37439000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 37529000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 37356000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat "C:\Documents and Settings\All Users\Desktop\mal
    Return=SUCCESS
    dwProcessId=3456
    dwThreadId=3460
</pre>
<pre><b># 37355000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat "C:\Documents and Settings\All Users\Desktop\malware.exe"
    Return=SUCCESS
    dwProcessId=3456
    dwThreadId=3460
</pre>
<pre><b># 37355000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat "C:\Documents and Settings\All Users\Desktop\malware.exe"
    Return=SUCCESS
    dwProcessId=3456
    dwThreadId=3460
</pre>
<pre><b># 40626000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 40638000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 40762000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 40531000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat" del "C:\DOCUME~1\ants\LOCALS~1\Temp\z
    Return=SUCCESS
    dwProcessId=3500
    dwThreadId=3504
</pre>
<pre><b># 40530000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat" del "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat"
    Return=SUCCESS
    dwProcessId=3500
    dwThreadId=3504
</pre>
<pre><b># 40530000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat" del "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp56613.bat"
    Return=SUCCESS
    dwProcessId=3500
    dwThreadId=3504
</pre>
<pre><b># 42225000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 42236000   CreateFile</b>
    hName=C:\WINDOWS\system32\cmd.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 42359000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 42134000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\cmd.exe
    lpCommandLine=C:\WINDOWS\system32\cmd.exe /c if exist "C:\DOCUME~1\ants\LOCALS~1\Temp\ztmp\tmp80583.exe" del "C:\DOCUME~1\ants\LOCALS~1\Temp\z
    Return=SUCCESS
    dwProcessId=3512
    dwThreadId=3516
</pre>
<pre><b># 43619000   ExitProcess</b></pre>
</body>