<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ffff2915f8f4ae0b7de3cbbd88dd3a40_2876.trace.hooklog Bahavior Analysis</pre>
<pre><b># 18557000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 18632000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 18602000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 18678000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 18679000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 18788000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 18790000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 18791000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 18919000   LoadLibrary</b>
    lpFileName=OLEAUT32.DLL
    Return=SUCCESS
</pre>
<pre><b># 18996000   LoadLibrary</b>
    lpFileName=SXS.DLL
    Return=SUCCESS
</pre>
<pre><b># 19049000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 19062000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 19064000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 19076000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 19084000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 19143000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 19099000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 19163000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 19165000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 19172000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 19433000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\VB6ES.DLL
    Return=FAILURE
</pre>
<pre><b># 19516000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=FAILURE
</pre>
<pre><b># 19516000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=FAILURE
</pre>
<pre><b># 19518000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=FAILURE
</pre>
<pre><b># 19518000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=FAILURE
</pre>
<pre><b># 19519000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 19519000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 19945000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 20030000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25387000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 25399000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25412000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25426000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25437000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25449000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25460000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25472000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25496000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25520000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25594000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 25598000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25542000   CreateProcessInternal</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    Return=SUCCESS
    dwProcessId=2904
    dwThreadId=2908
</pre>
<pre><b># 25542000   CreateProcess</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.EXE
    Return=SUCCESS
    dwProcessId=2904
    dwThreadId=2908
</pre>
<pre><b># 25616000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25654000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25665000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25678000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25704000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25729000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25739000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25763000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25774000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25798000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25809000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25834000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25844000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25869000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25879000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25903000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25913000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25937000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25948000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 25973000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 25984000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 26004000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 26016000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 26030000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 26428000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\HTML Help\.HLP
    Return=2
</pre>
<pre><b># 26430000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\Help\.HLP
    Return=2
</pre>
<pre><b># 26636000   ExitProcess</b></pre>
</body>