# Django takes care of much of the hassle of Web development, so you can focus on writing
# your app without needing to reinvent the wheel
# https://docs.djangoproject.com/en/1.10/
Django==1.10.3

# Celery is an asynchronous task queue/job queue based on distributed message passing.
# http://www.celeryproject.org/install/
celery==3.1.23

# django-celery provides Celery integration for Djang
# https://pypi.python.org/pypi/django-celery
django-celery==3.1.17

# A Python library for the Docker Engine API.
# https://github.com/docker/docker-py
docker==2.0.0

# An enumeration is a set of symbolic names (members) bound to unique, constant values.
# https://pypi.python.org/pypi/enum34
enum34==1.1.6

# IPython provides a rich toolkit to help you make the most out of using Python interactively.
# https://ipython.readthedocs.io/en/stable/install/index.html
ipython==5.0.0

# Django Extensions is a collection of custom extensions for the Django Framework.
# https://github.com/django-extensions/django-extensions
django-extensions==1.7.5

# Awesome web-browsable Web APIs.
# https://github.com/tomchristie/django-rest-framework/tree/master
djangorestframework==3.4.6

# Expiring Tokens for Django Rest Framework
# https://github.com/JamesRitchie/django-rest-framework-expiring-tokens
djangorestframework-expiring-authtoken==0.1.4

# psycopg2 - Python-PostgreSQL Database Adapter
# https://pypi.python.org/pypi/psycopg2
psycopg2==2.6.2

# Gunicorn 'Green Unicorn' is a Python WSGI HTTP Server for UNIX.
# https://github.com/benoitc/gunicorn
gunicorn==19.6.0

# Django-environ allows you to utilize 12factor inspired environment variables to configure your Django application.
# https://pypi.python.org/pypi/django-environ/0.4.0
django-environ==0.4.0
