<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>29fa30bb9dd612507b28bf4ec36f0372_3224.trace.hooklog Bahavior Analysis</pre>
<pre><b># 37842000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 37918000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 37887000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 37938000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 37938000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 37961000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 37974000   RegCreateKey</b>
    hKey=50\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 37975000   RegQueryValue</b>
    hKey=50\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 37982000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 37982000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 37983000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 37983000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 37985000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 37985000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 37986000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 37986000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 37988000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 37988000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 37988000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 37988000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 37991000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 37991000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 37991000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 37991000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 37995000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 37995000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 37995000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 37995000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 37998000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 37998000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 37998000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 37998000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 38001000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 38001000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 38002000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 38002000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 38004000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 38004000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 38004000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 38004000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 38008000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 38010000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 38010000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 38010000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 38011000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 38012000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 38012000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 38012000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 38018000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 38018000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 38018000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 38031000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 38131000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 38159000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 38160000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 38161000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 38061000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 38246000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 38247000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 38182000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 38283000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 38284000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 38286000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 38298000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 38299000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 38304000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 38305000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 38305000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 38307000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 38310000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 38312000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 38388000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 38537000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\.dll
    Return=0
    type=REG_SZ
    data=dllfile
</pre>
<pre><b># 38826000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{f4344060-402e-4a69-863e-869923cd9831}
    Return=0
</pre>
<pre><b># 38829000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{f4344060-402e-4a69-863e-869923cd9831}
    type=REG_SZ
    data=MediaPlayerV1alpha3551
    Return=0
</pre>
<pre><b># 38834000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 38855000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 38860000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{f4344060-402e-4a69-863e-869923cd9831}\NoExplorer
    type=REG_DWORD
    data=1
    Return=0
</pre>
<pre><b># 38948000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}
    Return=0
</pre>
<pre><b># 38952000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}
    type=REG_SZ
    data=MediaPlayerV1alpha3551
    Return=0
</pre>
<pre><b># 38961000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\Programmable
    Return=0
</pre>
<pre><b># 38968000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\InprocServer32
    Return=0
</pre>
<pre><b># 38975000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\InprocServer32
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha3551\ie\MediaPlayerV1alpha3551.dll
    Return=0
</pre>
<pre><b># 38980000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\InprocServer32\ThreadingModel
    type=REG_SZ
    data=Apartment
    Return=0
</pre>
<pre><b># 38987000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\TypeLib
    Return=0
</pre>
<pre><b># 38992000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\TypeLib
    type=REG_SZ
    data={6c261cdc-d4b2-4e80-a377-2770a3252bed}
    Return=0
</pre>
<pre><b># 38998000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\Version
    Return=0
</pre>
<pre><b># 39001000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{f4344060-402e-4a69-863e-869923cd9831}\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 39030000   CreateFile</b>
    hName=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha3551\ie\MediaPlayerV1alpha3551.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 39040000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}
    Return=0
</pre>
<pre><b># 39045000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1
    Return=0
</pre>
<pre><b># 39047000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1
    Return=2
</pre>
<pre><b># 39049000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1
    type=REG_SZ
    data=MediaPlayerV1alpha3551Lib
    Return=0
</pre>
<pre><b># 39052000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\FLAGS
    Return=0
</pre>
<pre><b># 39055000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\FLAGS
    Return=2
</pre>
<pre><b># 39056000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\FLAGS
    type=REG_SZ
    data=0
    Return=0
</pre>
<pre><b># 39060000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\0
    Return=0
</pre>
<pre><b># 39064000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\0\win32
    Return=0
</pre>
<pre><b># 39067000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\0\win32
    Return=2
</pre>
<pre><b># 39068000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\0\win32
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha3551\ie\MediaPlayerV1alpha3551.dll
    Return=0
</pre>
<pre><b># 39073000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\HELPDIR
    Return=0
</pre>
<pre><b># 39076000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\HELPDIR
    Return=2
</pre>
<pre><b># 39078000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{6C261CDC-D4B2-4E80-A377-2770A3252BED}\1.1\HELPDIR
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha3551\ie
    Return=0
</pre>
<pre><b># 39083000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}
    Return=0
</pre>
<pre><b># 39086000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}
    Return=2
</pre>
<pre><b># 39087000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}
    type=REG_SZ
    data=IMediaPlayerV1alpha3551BHO
    Return=0
</pre>
<pre><b># 39091000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\ProxyStubClsid
    Return=0
</pre>
<pre><b># 39093000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\ProxyStubClsid
    Return=2
</pre>
<pre><b># 39094000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\ProxyStubClsid
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 39099000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 39104000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\ProxyStubClsid32
    Return=2
</pre>
<pre><b># 39108000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\ProxyStubClsid32
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 39116000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\TypeLib
    Return=0
</pre>
<pre><b># 39123000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\TypeLib
    Return=2
</pre>
<pre><b># 39124000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\TypeLib
    type=REG_SZ
    data={6C261CDC-D4B2-4E80-A377-2770A3252BED}
    Return=0
</pre>
<pre><b># 39127000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\TypeLib\Version
    Return=2
</pre>
<pre><b># 39129000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{40F6127A-0367-41EB-AC13-5F5DF28B48E2}\TypeLib\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 39188000   ExitProcess</b></pre>
</body>