<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ff7a21eeb7424837c2c938f6d55a4270_3192.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23442000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23530000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23493000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 23586000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 23586000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 23605000   CreateFile</b>
    hName=C:\WINDOWS\system32\OLEACCRC.DLL
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23688000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 23690000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 23691000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 23864000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mcsmvzpebpmhc.exe.config
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23864000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mcsmvzpebpmhc.exe.config
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23870000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\111.txt
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23869000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\111.txt
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23895000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mwzvsxelgctrob
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23895000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mwzvsxelgctrob
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23904000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mwzvsxelgctrob
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23903000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mwzvsxelgctrob
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23906000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mcsmvzpebpmhc.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23905000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mcsmvzpebpmhc.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24695000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mwzvsxelgctrob
    Return=SUCCESS
</pre>
<pre><b># 24695000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mwzvsxelgctrob
    Return=SUCCESS
</pre>
<pre><b># 24699000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24699000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\parent.txt
    Return=SUCCESS
</pre>
<pre><b># 24883000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 24888000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24710000   CreateProcessInternal</b>
    lpApplicationName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mcsmvzpebpmhc.exe
    lpCommandLine=
    Return=SUCCESS
    dwProcessId=3216
    dwThreadId=3220
</pre>
<pre><b># 24710000   CreateProcessInternal</b>
    lpApplicationName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mcsmvzpebpmhc.exe
    lpCommandLine=
    Return=SUCCESS
    dwProcessId=3216
    dwThreadId=3220
</pre>
<pre><b># 24710000   CreateProcess</b>
    lpApplicationName=C:\DOCUME~1\ants\LOCALS~1\Temp\xytfhewdfokl\mcsmvzpebpmhc.exe
    lpCommandLine=
    Return=SUCCESS
    dwProcessId=3216
    dwThreadId=3220
</pre>
<pre><b># 24909000   ExitProcess</b></pre>
</body>