<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ffb0188cbcb55477cfa88f57e4bcc1e0_824.trace.hooklog Bahavior Analysis</pre>
<pre><b># 28452000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 29447000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29024000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 29871000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 29968000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 30294000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31513000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31576000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 31596000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 31597000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 30390000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 32063000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 32068000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 31796000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 35282000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 35296000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 35319000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 35324000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35326000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35332000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35338000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35343000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35345000   LoadLibrary</b>
    lpFileName=mpr.dll
    Return=SUCCESS
</pre>
<pre><b># 35350000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 35352000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 35357000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 35362000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 35370000   LoadLibrary</b>
    lpFileName=wsock32.dll
    Return=SUCCESS
</pre>
<pre><b># 35519000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35628000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 35671000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35872000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 35903000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 35405000   LoadLibrary</b>
    lpFileName=wininet.dll
    Return=SUCCESS
</pre>
<pre><b># 35909000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ServiceCurrent
    Return=0
    type=REG_DWORD
    data=9
</pre>
<pre><b># 35910000   CreateFile</b>
    hName=\\.\pipe\net\NtControlPipe9
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 35913000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}
    Return=0
</pre>
<pre><b># 35916000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\ThisEXE
    type=REG_SZ
    data=c:\documents and settings\all users\desktop\malware.exe
    Return=0
</pre>
<pre><b># 36453000   LoadLibrary</b>
    lpFileName=viaud.dll
    Return=FAILURE
</pre>
<pre><b># 36482000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 36484000   RegDeleteKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\ThisEXE
    Return=0
</pre>
<pre><b># 36488000   CreateFile</b>
    hName=c:\windows\mui\modem.sys
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36488000   CreateFile</b>
    hName=c:\windows\mui\modem.sys
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36491000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\dls
    Return=2
</pre>
<pre><b># 36491000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36491000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36493000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36493000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\windows\internat.exe
    Return=SUCCESS
</pre>
<pre><b># 36498000   CreateFile</b>
    hName=c:\windows\internat.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36498000   CreateFile</b>
    hName=c:\windows\internat.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36502000   CreateFile</b>
    hName=c:\windows\internat.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36502000   CreateFile</b>
    hName=c:\windows\internat.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36504000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\VerProg
    Return=2
</pre>
<pre><b># 36504000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}
    Return=0
</pre>
<pre><b># 36504000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\VerProg
    type=REG_DWORD
    data=113
    Return=0
</pre>
<pre><b># 36507000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 36508000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\internat
    type=REG_SZ
    data=c:\windows\internat.exe
    Return=0
</pre>
<pre><b># 36509000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\policies\Explorer\Run
    Return=0
</pre>
<pre><b># 36512000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\policies\Explorer\Run\internat
    type=REG_SZ
    data=c:\windows\internat.exe
    Return=0
</pre>
<pre><b># 36513000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\RunServices
    Return=0
</pre>
<pre><b># 36515000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\RunServices\internat
    type=REG_SZ
    data=c:\windows\internat.exe
    Return=0
</pre>
<pre><b># 36516000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 36516000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\lsass32
    type=REG_SZ
    data=c:\windows\lsass32.exe
    Return=0
</pre>
<pre><b># 36517000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\policies\Explorer\Run
    Return=0
</pre>
<pre><b># 36520000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\policies\Explorer\Run\userun32
    type=REG_SZ
    data=c:\windows\userun32.exe
    Return=0
</pre>
<pre><b># 36522000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36525000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\DependOnGroup
    type=REG_SZ
    data=
    Return=0
</pre>
<pre><b># 36526000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36526000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\DependOnService
    type=REG_SZ
    data=RpcSs
    Return=0
</pre>
<pre><b># 36529000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36530000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\Description
    type=REG_SZ
    data=Manages TCPIP packets in local network and Internet
    Return=0
</pre>
<pre><b># 36532000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36532000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\DisplayName
    type=REG_SZ
    data=TCPIP route manager
    Return=0
</pre>
<pre><b># 36534000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36535000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\Group
    type=REG_SZ
    data=PlugPlay
    Return=0
</pre>
<pre><b># 36536000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36537000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\ObjectName
    type=REG_SZ
    data=LocalSystem
    Return=0
</pre>
<pre><b># 36540000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36540000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\ImagePath
    type=REG_SZ
    data=c:\windows\internat.exe
    Return=0
</pre>
<pre><b># 36542000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36542000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\ErrorControl
    type=REG_DWORD
    data=1
    Return=0
</pre>
<pre><b># 36544000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36544000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\PlugPlayServiceType
    type=REG_DWORD
    data=3
    Return=0
</pre>
<pre><b># 36545000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36546000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\Start
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 36547000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat
    Return=0
</pre>
<pre><b># 36547000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\internat\Type
    type=REG_DWORD
    data=288
    Return=0
</pre>
<pre><b># 36549000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36549000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\windows\lsass32.exe
    Return=SUCCESS
</pre>
<pre><b># 36553000   CreateFile</b>
    hName=c:\windows\lsass32.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36553000   CreateFile</b>
    hName=c:\windows\lsass32.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36557000   CreateFile</b>
    hName=c:\windows\lsass32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36557000   CreateFile</b>
    hName=c:\windows\lsass32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36558000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36558000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\windows\userun32.exe
    Return=SUCCESS
</pre>
<pre><b># 36564000   CreateFile</b>
    hName=c:\windows\userun32.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36564000   CreateFile</b>
    hName=c:\windows\userun32.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36570000   CreateFile</b>
    hName=c:\windows\userun32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36570000   CreateFile</b>
    hName=c:\windows\userun32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36573000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36574000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36575000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36576000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36573000   CopyFile</b>
    lpExistingFileName=c:\windows\iecomn32.dll
    lpNewFileName=c:\windows\pool32.dll
    Return=FAILURE
</pre>
<pre><b># 36577000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36578000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36579000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36579000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36577000   CopyFile</b>
    lpExistingFileName=c:\windows\viaud.dll
    lpNewFileName=c:\windows\ole32.dll
    Return=FAILURE
</pre>
<pre><b># 36581000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36583000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36583000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36584000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36581000   CopyFile</b>
    lpExistingFileName=c:\windows\pool32.dll
    lpNewFileName=c:\windows\iecomn32.dll
    Return=FAILURE
</pre>
<pre><b># 36585000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36586000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36587000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36588000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36585000   CopyFile</b>
    lpExistingFileName=c:\windows\ole32.dll
    lpNewFileName=c:\windows\viaud.dll
    Return=FAILURE
</pre>
<pre><b># 36591000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36591000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36595000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36595000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36598000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36598000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36602000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36602000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36605000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36605000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36606000   RegQueryValue</b>
    hKey=0\Start
    Return=6
</pre>
<pre><b># 36607000   RegQueryValue</b>
    hKey=0\Start
    Return=6
</pre>
<pre><b># 36607000   RegQueryValue</b>
    hKey=0\Start
    Return=6
</pre>
<pre><b># 36609000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36610000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36611000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36611000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36609000   CopyFile</b>
    lpExistingFileName=c:\windows\calc.exe
    lpNewFileName=c:\windows\calc2.exe
    Return=FAILURE
</pre>
<pre><b># 36613000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36613000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\windows\calc.exe
    Return=SUCCESS
</pre>
<pre><b># 36617000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36616000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36620000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36620000   CreateFile</b>
    hName=c:\windows\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36623000   CreateFile</b>
    hName=c:\windows\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36623000   CopyFile</b>
    lpExistingFileName=c:\windows\regedit.exe
    lpNewFileName=c:\windows\regedit2.exe
    Return=SUCCESS
</pre>
<pre><b># 36628000   CreateFile</b>
    hName=c:\windows\regedit2.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36628000   CreateFile</b>
    hName=c:\windows\regedit2.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36630000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36630000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\windows\regedit.exe
    Return=SUCCESS
</pre>
<pre><b># 36655000   CreateFile</b>
    hName=c:\windows\regedit.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36655000   CreateFile</b>
    hName=c:\windows\regedit.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36668000   CreateFile</b>
    hName=c:\windows\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36668000   CreateFile</b>
    hName=c:\windows\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36670000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36674000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36675000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36676000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36670000   CopyFile</b>
    lpExistingFileName=c:\windows\iecomn32.dll
    lpNewFileName=c:\windows\iecomn32.dll
    Return=FAILURE
</pre>
<pre><b># 36680000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36681000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36682000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36683000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36680000   CopyFile</b>
    lpExistingFileName=c:\windows\viaud.dll
    lpNewFileName=c:\windows\viaud.dll
    Return=FAILURE
</pre>
<pre><b># 36688000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36689000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36689000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36693000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36688000   CopyFile</b>
    lpExistingFileName=c:\windows\pool32.dll
    lpNewFileName=c:\windows\pool32.dll
    Return=FAILURE
</pre>
<pre><b># 36695000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36695000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36699000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36700000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36695000   CopyFile</b>
    lpExistingFileName=c:\windows\ole32.dll
    lpNewFileName=c:\windows\ole32.dll
    Return=FAILURE
</pre>
<pre><b># 36704000   CreateFile</b>
    hName=c:\winnt\system32\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36705000   CreateFile</b>
    hName=c:\winnt\system32\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36708000   CreateFile</b>
    hName=c:\winnt\system32\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36709000   CreateFile</b>
    hName=c:\winnt\system32\calc.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36704000   CopyFile</b>
    lpExistingFileName=c:\winnt\system32\calc.exe
    lpNewFileName=c:\winnt\system32\calc2.exe
    Return=FAILURE
</pre>
<pre><b># 36710000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36710000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\winnt\system32\calc.exe
    Return=FAILURE
</pre>
<pre><b># 36718000   CreateFile</b>
    hName=c:\winnt\system32\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36718000   CreateFile</b>
    hName=c:\winnt\system32\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36719000   CreateFile</b>
    hName=c:\winnt\system32\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36720000   CreateFile</b>
    hName=c:\winnt\system32\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36718000   CopyFile</b>
    lpExistingFileName=c:\winnt\system32\regedit.exe
    lpNewFileName=c:\winnt\system32\regedit2.exe
    Return=FAILURE
</pre>
<pre><b># 36721000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36721000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\winnt\system32\regedit.exe
    Return=FAILURE
</pre>
<pre><b># 36725000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36726000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36727000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36728000   CreateFile</b>
    hName=c:\windows\iecomn32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36725000   CopyFile</b>
    lpExistingFileName=c:\windows\iecomn32.dll
    lpNewFileName=c:\winnt\iecomn32.dll
    Return=FAILURE
</pre>
<pre><b># 36729000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36730000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36730000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36731000   CreateFile</b>
    hName=c:\windows\viaud.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36729000   CopyFile</b>
    lpExistingFileName=c:\windows\viaud.dll
    lpNewFileName=c:\winnt\viaud.dll
    Return=FAILURE
</pre>
<pre><b># 36732000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36733000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36734000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36735000   CreateFile</b>
    hName=c:\windows\pool32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36732000   CopyFile</b>
    lpExistingFileName=c:\windows\pool32.dll
    lpNewFileName=c:\winnt\iecomn32.dll
    Return=FAILURE
</pre>
<pre><b># 36736000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36737000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36738000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36739000   CreateFile</b>
    hName=c:\windows\ole32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36736000   CopyFile</b>
    lpExistingFileName=c:\windows\ole32.dll
    lpNewFileName=c:\winnt\viaud.dll
    Return=FAILURE
</pre>
<pre><b># 36741000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36741000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users.windows\Главное меню\Программы\Автозагрузка\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36744000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36744000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users\Главное меню\Программы\Автозагрузка\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36748000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36748000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users.windows\Start Menu\Programs\Startup\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36752000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36752000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    Return=SUCCESS
</pre>
<pre><b># 36757000   CreateFile</b>
    hName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36757000   CreateFile</b>
    hName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36768000   CreateFile</b>
    hName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36768000   CreateFile</b>
    hName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36770000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36770000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users.winnt\Главное меню\Программы\Автозагрузка\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36775000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36775000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users\Главное меню\Программы\Автозагрузка\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36779000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36779000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users.winnt\Start Menu\Programs\Startup\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36784000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36784000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36795000   CreateFile</b>
    hName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36795000   CreateFile</b>
    hName=c:\Documents and Settings\All Users\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36798000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36797000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\windows\Главное меню\Программы\Автозагрузка\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36806000   CreateFile</b>
    hName=c:\windows\Главное меню\Программы\Автозагрузка\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36806000   CreateFile</b>
    hName=c:\windows\Главное меню\Программы\Автозагрузка\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36808000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36808000   CopyFile</b>
    lpExistingFileName=c:\documents and settings\all users\desktop\malware.exe
    lpNewFileName=c:\windows\Start Menu\Programs\Startup\msoffice.scr
    Return=FAILURE
</pre>
<pre><b># 36818000   CreateFile</b>
    hName=c:\windows\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36818000   CreateFile</b>
    hName=c:\windows\Start Menu\Programs\Startup\msoffice.scr
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36822000   CreateThread</b>
    dwThreadId=4275004
    Return=SUCCESS
</pre>
<pre><b># 36823000   CreateThread</b>
    dwThreadId=4275004
    Return=SUCCESS
</pre>
<pre><b># 36830000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}
    Return=0
</pre>
<pre><b># 36832000   CreateFile</b>
    hName=c:\windows\setupiwz.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36832000   CreateFile</b>
    hName=c:\windows\setupiwz.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36834000   CreateFile</b>
    hName=c:\windows\setupiwz.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36834000   CreateFile</b>
    hName=c:\windows\setupiwz.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 36832000   CopyFile</b>
    lpExistingFileName=c:\windows\setupiwz.dll
    lpNewFileName=c:\windows\unrar.dll
    Return=FAILURE
</pre>
<pre><b># 38108000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\FNum
    Return=2
</pre>
<pre><b># 38108000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\Scanned
    Return=2
</pre>
<pre><b># 38109000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{F6ABE4A8-C73A-305A-BFEF-E4FA2BC9D8A9}\FLast
    Return=2
</pre>
</body>