<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ffbf583b584700d7ca97b30e1546d1e0_3224.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23334000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23417000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23384000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 23468000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 23469000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 23489000   CreateFile</b>
    hName=C:\WINDOWS\system32\OLEACCRC.DLL
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26358000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 26360000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 26361000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 26597000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 26598000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 26611000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 26613000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 26627000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26636000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26702000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 26655000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 26720000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 26721000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26728000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 27090000   DeleteFile</b>
    fileName=C:\Documents and Settings\All Users\Desktop\HGDraw.dll
    Return=FAILURE
</pre>
<pre><b># 27095000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\golfinfo.ini
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27097000   CreateFile</b>
    hName=C:\WINDOWS\system32\golfset.ini
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27098000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 27099000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 27149000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\DisableMMX
    Return=2
</pre>
<pre><b># 27150000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\MostRecentApplication
    Return=0
</pre>
<pre><b># 27151000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\MostRecentApplication\Name
    type=REG_SZ
    data=malware.exe
    Return=0
</pre>
<pre><b># 27099000   LoadLibrary</b>
    lpFileName=d3d8
    Return=SUCCESS
</pre>
<pre><b># 27152000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 27154000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\LoadDebugRuntime
    Return=2
</pre>
<pre><b># 27175000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\ForceDriverFlagsOff
    Return=2
</pre>
<pre><b># 27186000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 27191000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27197000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27224000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 27230000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27236000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27238000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27238000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27284000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 27399000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27427000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27429000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 27430000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 27317000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27523000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27524000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 27459000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27240000   LoadLibrary</b>
    lpFileName=SHELL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 27570000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 27571000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local AppData
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27575000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 27575000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Local AppData
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Application Data
    Return=0
</pre>
<pre><b># 27576000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Application Data\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27576000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Application Data\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27732000   CreateFile</b>
    hName=C:\WINDOWS\web\wallpaper\Bliss.bmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 37721000   CreateFile</b>
    hName=C:\WINDOWS\web\wallpaper\Bliss.bmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48337000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 48390000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48420000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48466000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 48466000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 48741000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 48784000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 48898000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 48468000   LoadLibrary</b>
    lpFileName=SHELL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 49070000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 49070000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local AppData
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 49306000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 49307000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Local AppData
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Application Data
    Return=0
</pre>
<pre><b># 49308000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Application Data\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 49308000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Application Data\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 49452000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 49452000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 49832000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\Drivers\SoftwareOnly
    Return=2
</pre>
<pre><b># 49834000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\ForceDriverFlagsOff
    Return=2
</pre>
<pre><b># 49863000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 49874000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 49912000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50127000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\DisableDM
    Return=2
</pre>
<pre><b># 50139000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\DisableST
    Return=2
</pre>
<pre><b># 50141000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\ShowFrameRate
    Return=2
</pre>
<pre><b># 50141000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\FlipNoVsync
    Return=2
</pre>
<pre><b># 50146000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\DirectDraw\ForceRefreshRate
    Return=2
</pre>
<pre><b># 50147000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 50380000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 50543000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\GeometryDriver
    Return=2
</pre>
<pre><b># 50558000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Direct3D\MostRecentApplication
    Return=0
</pre>
<pre><b># 50568000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Direct3D\MostRecentApplication\Name
    type=REG_SZ
    data=malware.exe
    Return=0
</pre>
<pre><b># 50156000   LoadLibrary</b>
    lpFileName=d3d9
    Return=SUCCESS
</pre>
<pre><b># 50579000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\LoadDebugRuntime
    Return=2
</pre>
<pre><b># 50728000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\ForceDriverFlagsOff
    Return=2
</pre>
<pre><b># 50728000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\DD_RUNTIME_VERSION
    Return=2
</pre>
<pre><b># 50768000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 50774000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50781000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50789000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\DD_RUNTIME_VERSION
    Return=2
</pre>
<pre><b># 50825000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 50833000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50843000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50849000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d9caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50849000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d9caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50966000   CreateFile</b>
    hName=C:\WINDOWS\web\wallpaper\Bliss.bmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>