<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ffe63d41ff66a0dfe31762471171f950_3232.trace.hooklog Bahavior Analysis</pre>
<pre><b># 33517000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 33605000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 33577000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 33618000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 33629000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 33629000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 33630000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 33630000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 33631000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 33631000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\PathCompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 33631000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\AutoRun
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 33632000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 33633000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 33633000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 33633000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 33633000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=9
</pre>
<pre><b># 33634000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\PathCompletionChar
    Return=2
</pre>
<pre><b># 33634000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\AutoRun
    Return=2
</pre>
<pre><b># 33741000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33747000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 33751000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33754000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33786000   DeleteFile</b>
    fileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
</pre>
<pre><b># 33790000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33809000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33830000   DeleteFile</b>
    fileName=c:\$$$$$.bat
    Return=SUCCESS
</pre>
<pre><b># 33833000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 33843000   ExitProcess</b></pre>
</body>