<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff0d7e29d50d545cbb5533726b1a360_3220.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22446000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22526000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22496000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22586000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22587000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22589000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22591000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22592000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22595000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22597000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22598000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22600000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22602000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22603000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22605000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22607000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22609000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22610000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 22625000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 22635000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 22644000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 22654000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 22664000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 22703000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22704000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22706000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22708000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22709000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22711000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22713000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22714000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22716000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22718000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22719000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 22722000   LoadLibrary</b>
    lpFileName=shlwapi
    Return=SUCCESS
</pre>
<pre><b># 22893000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22976000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23015000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23188000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 23188000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 23304000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23331000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 23333000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 23333000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 23231000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 23359000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 22778000   LoadLibrary</b>
    lpFileName=wininet
    Return=SUCCESS
</pre>
<pre><b># 23881000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23881000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\The Thing Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 23886000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23886000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Combat Flight Simulator 3 Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 23891000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23891000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Half-life ONLINE Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 23897000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23897000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Tomb Raider 3 Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 23901000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23901000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Warcraft 3 ONLINE Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 23906000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23906000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\MoviezChannelsInstaler ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 23911000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23911000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Age of Sail 2 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 23915000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23915000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Comanche 4 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 23920000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23920000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Hoyle Card Games 2003 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 23925000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23925000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\GTA3 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 23931000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23931000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Warcraft 3 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 23935000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23935000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Star Wars Starfighter Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 23940000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23940000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Macromedia Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 23945000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23945000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\International Cricket Captain 2003 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 23949000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23949000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Macromedia Flash 5.0 Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 23954000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23954000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 23960000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23960000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Necromania Trap Of Darkness Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 23966000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23966000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 23974000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23974000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Sudden Strike 2 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 23993000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23993000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Free Virus Removal Tool From Symantec Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 23998000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23998000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Duke Nukem Manhattan Project Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24003000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24003000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Hacking Tool Collection Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24007000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24007000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Internet and Computer Speed Booster Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24018000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24018000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\International Cricket Captain 2003 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24030000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24030000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Star Wars Starfighter Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24036000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24036000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Cat Attacks Child Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24040000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24040000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Deadly Dozen Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24045000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24045000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\F1 Grand Pix 4 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24050000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24050000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Dweebs 2 Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24054000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24054000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Star Wars Starfighter Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24059000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24059000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Civilization 3 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24065000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24065000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Sudden Strike 2 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24074000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24074000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Macromedia Dreamweaver MX ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24080000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24079000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\CKY3 - Bam Margera World Industries Alien Workshop Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24085000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24085000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Quake 4 BETA ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24090000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24090000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Civilization 3 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24094000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24094000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Zidane-ScreenInstaler Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24099000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24099000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\BORLAND Delphi 7 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24104000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24104000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\The Thing Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24110000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24110000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Neverwinter Nights ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24115000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24115000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Black And White Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24120000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24120000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Crazy Taxi Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24126000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24126000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Internet and Computer Speed Booster ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24132000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24132000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Clive Barkers Undying Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24136000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24136000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Norton Utilities 2002 XP Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 24142000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24142000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Grand Prix 4 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24146000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24146000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\The Thing Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 24151000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24151000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\DSL Modem Uncapper Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24156000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24155000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Xbox.info Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 24160000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24160000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Windows XP SP1 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 24169000   CreateFile</b>
    hName=C:\My Downloads\The Thing Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24169000   CreateFile</b>
    hName=C:\My Downloads\The Thing Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24172000   CreateFile</b>
    hName=C:\My Downloads\Combat Flight Simulator 3 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24172000   CreateFile</b>
    hName=C:\My Downloads\Combat Flight Simulator 3 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24175000   CreateFile</b>
    hName=C:\My Downloads\Half-life ONLINE Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24175000   CreateFile</b>
    hName=C:\My Downloads\Half-life ONLINE Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24177000   CreateFile</b>
    hName=C:\My Downloads\Tomb Raider 3 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24177000   CreateFile</b>
    hName=C:\My Downloads\Tomb Raider 3 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24180000   CreateFile</b>
    hName=C:\My Downloads\Warcraft 3 ONLINE Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24180000   CreateFile</b>
    hName=C:\My Downloads\Warcraft 3 ONLINE Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24183000   CreateFile</b>
    hName=C:\My Downloads\MoviezChannelsInstaler ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24183000   CreateFile</b>
    hName=C:\My Downloads\MoviezChannelsInstaler ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24185000   CreateFile</b>
    hName=C:\My Downloads\Age of Sail 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24185000   CreateFile</b>
    hName=C:\My Downloads\Age of Sail 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24188000   CreateFile</b>
    hName=C:\My Downloads\Comanche 4 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24188000   CreateFile</b>
    hName=C:\My Downloads\Comanche 4 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24191000   CreateFile</b>
    hName=C:\My Downloads\Hoyle Card Games 2003 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24191000   CreateFile</b>
    hName=C:\My Downloads\Hoyle Card Games 2003 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24193000   CreateFile</b>
    hName=C:\My Downloads\GTA3 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24193000   CreateFile</b>
    hName=C:\My Downloads\GTA3 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24195000   CreateFile</b>
    hName=C:\My Downloads\Warcraft 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24195000   CreateFile</b>
    hName=C:\My Downloads\Warcraft 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24198000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24198000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24201000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24201000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24204000   CreateFile</b>
    hName=C:\My Downloads\International Cricket Captain 2003 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24204000   CreateFile</b>
    hName=C:\My Downloads\International Cricket Captain 2003 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24206000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Flash 5.0 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24206000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Flash 5.0 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24209000   CreateFile</b>
    hName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24209000   CreateFile</b>
    hName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24212000   CreateFile</b>
    hName=C:\My Downloads\Necromania Trap Of Darkness Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24212000   CreateFile</b>
    hName=C:\My Downloads\Necromania Trap Of Darkness Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24215000   CreateFile</b>
    hName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24215000   CreateFile</b>
    hName=C:\My Downloads\Aliens versus Predator 2 Primal Hunt Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24218000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24218000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24221000   CreateFile</b>
    hName=C:\My Downloads\Free Virus Removal Tool From Symantec Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24221000   CreateFile</b>
    hName=C:\My Downloads\Free Virus Removal Tool From Symantec Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24225000   CreateFile</b>
    hName=C:\My Downloads\Duke Nukem Manhattan Project Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24225000   CreateFile</b>
    hName=C:\My Downloads\Duke Nukem Manhattan Project Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24228000   CreateFile</b>
    hName=C:\My Downloads\Hacking Tool Collection Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24228000   CreateFile</b>
    hName=C:\My Downloads\Hacking Tool Collection Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24230000   CreateFile</b>
    hName=C:\My Downloads\Internet and Computer Speed Booster Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24230000   CreateFile</b>
    hName=C:\My Downloads\Internet and Computer Speed Booster Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24234000   CreateFile</b>
    hName=C:\My Downloads\International Cricket Captain 2003 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24234000   CreateFile</b>
    hName=C:\My Downloads\International Cricket Captain 2003 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24236000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24236000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24239000   CreateFile</b>
    hName=C:\My Downloads\Cat Attacks Child Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24239000   CreateFile</b>
    hName=C:\My Downloads\Cat Attacks Child Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24242000   CreateFile</b>
    hName=C:\My Downloads\Deadly Dozen Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24242000   CreateFile</b>
    hName=C:\My Downloads\Deadly Dozen Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24244000   CreateFile</b>
    hName=C:\My Downloads\F1 Grand Pix 4 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24244000   CreateFile</b>
    hName=C:\My Downloads\F1 Grand Pix 4 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24246000   CreateFile</b>
    hName=C:\My Downloads\Dweebs 2 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24246000   CreateFile</b>
    hName=C:\My Downloads\Dweebs 2 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24249000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24248000   CreateFile</b>
    hName=C:\My Downloads\Star Wars Starfighter Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24251000   CreateFile</b>
    hName=C:\My Downloads\Civilization 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24251000   CreateFile</b>
    hName=C:\My Downloads\Civilization 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24254000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24254000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24256000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Dreamweaver MX ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24256000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Dreamweaver MX ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24260000   CreateFile</b>
    hName=C:\My Downloads\CKY3 - Bam Margera World Industries Alien Workshop Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24259000   CreateFile</b>
    hName=C:\My Downloads\CKY3 - Bam Margera World Industries Alien Workshop Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24263000   CreateFile</b>
    hName=C:\My Downloads\Quake 4 BETA ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24262000   CreateFile</b>
    hName=C:\My Downloads\Quake 4 BETA ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24265000   CreateFile</b>
    hName=C:\My Downloads\Civilization 3 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24265000   CreateFile</b>
    hName=C:\My Downloads\Civilization 3 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24268000   CreateFile</b>
    hName=C:\My Downloads\Zidane-ScreenInstaler Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24268000   CreateFile</b>
    hName=C:\My Downloads\Zidane-ScreenInstaler Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24271000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24271000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24274000   CreateFile</b>
    hName=C:\My Downloads\The Thing Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24273000   CreateFile</b>
    hName=C:\My Downloads\The Thing Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24276000   CreateFile</b>
    hName=C:\My Downloads\Neverwinter Nights ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24276000   CreateFile</b>
    hName=C:\My Downloads\Neverwinter Nights ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24279000   CreateFile</b>
    hName=C:\My Downloads\Black And White Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24279000   CreateFile</b>
    hName=C:\My Downloads\Black And White Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24281000   CreateFile</b>
    hName=C:\My Downloads\Crazy Taxi Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24281000   CreateFile</b>
    hName=C:\My Downloads\Crazy Taxi Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24284000   CreateFile</b>
    hName=C:\My Downloads\Internet and Computer Speed Booster ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24284000   CreateFile</b>
    hName=C:\My Downloads\Internet and Computer Speed Booster ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24287000   CreateFile</b>
    hName=C:\My Downloads\Clive Barkers Undying Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24287000   CreateFile</b>
    hName=C:\My Downloads\Clive Barker’s Undying Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24290000   CreateFile</b>
    hName=C:\My Downloads\Norton Utilities 2002 XP Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24290000   CreateFile</b>
    hName=C:\My Downloads\Norton Utilities 2002 XP Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24292000   CreateFile</b>
    hName=C:\My Downloads\Grand Prix 4 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24292000   CreateFile</b>
    hName=C:\My Downloads\Grand Prix 4 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24295000   CreateFile</b>
    hName=C:\My Downloads\The Thing Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24295000   CreateFile</b>
    hName=C:\My Downloads\The Thing Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24297000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24297000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24300000   CreateFile</b>
    hName=C:\My Downloads\Xbox.info Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24300000   CreateFile</b>
    hName=C:\My Downloads\Xbox.info Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24302000   CreateFile</b>
    hName=C:\My Downloads\Windows XP SP1 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24302000   CreateFile</b>
    hName=C:\My Downloads\Windows XP SP1 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24326000   ExitProcess</b></pre>
</body>