<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffdb22ca58e4211c28ab52e54380ec0_3124.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20132000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20244000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20210000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 20277000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20340000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 20378000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20560000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 20561000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 20605000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 20616000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 20629000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20652000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 20654000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 20659000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 20688000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 20713000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 20722000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 20738000   LoadLibrary</b>
    lpFileName=7865454yu76543245324567refr34323e24
    Return=FAILURE
</pre>
<pre><b># 21218000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\WPA\PnP\seed
    Return=0
    type=REG_DWORD
    data=-2116632297
</pre>
<pre><b># 21228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
    type=REG_SZ
    data=\
</pre>
<pre><b># 21228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
    type=REG_SZ
    data=\Device\HarddiskVolume1
</pre>
<pre><b># 21232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
    type=REG_SZ
    data=D:\
</pre>
<pre><b># 21232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
    type=REG_SZ
    data=D:\
</pre>
<pre><b># 21232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackCachePath
    Return=2
</pre>
<pre><b># 21233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 21233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 21235000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\DevicePath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 21238000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogLevel
    Return=2
</pre>
<pre><b># 21238000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogPath
    Return=2
</pre>
<pre><b># 21269000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 21301000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21311000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Telephony\Tapi32MaxNumRequestRetries
    Return=2
</pre>
<pre><b># 21311000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Telephony\Tapi32RequestRetryTimeout
    Return=2
</pre>
<pre><b># 21313000   LoadLibrary</b>
    lpFileName=RASAPI32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21372000   LoadLibrary</b>
    lpFileName=RTUTILS.DLL
    Return=SUCCESS
</pre>
<pre><b># 21392000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing
    Return=0
</pre>
<pre><b># 21392000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21394000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableFileTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21394000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 21394000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21394000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\ConsoleTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 21394000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\MaxFileSize
    Return=0
    type=REG_DWORD
    data=1048576
</pre>
<pre><b># 21394000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileDirectory
    Return=0
    type=REG_EXPAND_SZ
    data=%windir%\tracing
</pre>
<pre><b># 21397000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableFileTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21397000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 21397000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21398000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\ConsoleTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 21398000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\MaxFileSize
    Return=0
    type=REG_DWORD
    data=1048576
</pre>
<pre><b># 21398000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileDirectory
    Return=0
    type=REG_EXPAND_SZ
    data=%windir%\tracing
</pre>
<pre><b># 21424000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 20971000   LoadLibrary</b>
    lpFileName=RAsDlG.DLl
    Return=SUCCESS
</pre>
<pre><b># 21746000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 47427000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\PowerCfg\AdminMaxSleep
    Return=2
</pre>
<pre><b># 47428000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\PowerCfg\AdminMaxVideoTimeout
    Return=2
</pre>
<pre><b># 47434000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Controls Folder\PowerCfg\LastID
    Return=0
</pre>
<pre><b># 47864000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 47882000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 47625000   CreateProcessInternal</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpCommandLine=start
    Return=SUCCESS
    dwProcessId=3380
    dwThreadId=3384
</pre>
<pre><b># 47625000   CreateProcess</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpCommandLine=start
    Return=SUCCESS
    dwProcessId=3380
    dwThreadId=3384
</pre>
<pre><b># 48016000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 47956000   CreateProcessInternal</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpCommandLine=watch
    Return=SUCCESS
    dwProcessId=3392
    dwThreadId=3396
</pre>
<pre><b># 47956000   CreateProcess</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpCommandLine=watch
    Return=SUCCESS
    dwProcessId=3392
    dwThreadId=3396
</pre>
<pre><b># 48077000   ExitProcess</b></pre>
</body>