<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffed384aeba28e1474467058b4756a0_3228.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20275000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20348000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20320000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 20406000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20407000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20409000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20411000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20412000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20414000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20416000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20417000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20419000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20421000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20422000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20424000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20425000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20427000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20429000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 20443000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 20453000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 20462000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 20471000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 20480000   LoadLibrary</b>
    lpFileName=mapi
    Return=FAILURE
</pre>
<pre><b># 20517000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20518000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20520000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20522000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20523000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20525000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20526000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20528000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20530000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20531000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20533000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 20536000   LoadLibrary</b>
    lpFileName=shlwapi
    Return=SUCCESS
</pre>
<pre><b># 20671000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20764000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 20803000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20962000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 20963000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 21091000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21116000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21117000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 21118000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 21003000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21144000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 20589000   LoadLibrary</b>
    lpFileName=wininet
    Return=SUCCESS
</pre>
<pre><b># 21652000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21652000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Necromania Trap Of Darkness Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21657000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21657000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Austerlitz Napoleons Greatest Victory ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21664000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21664000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\DSL Modem Uncapper Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21668000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21668000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Xbox.info Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21673000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21673000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\MoviezChannelsInstaler Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21677000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21677000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\BORLAND Delphi 7 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21681000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21681000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Combat Flight Simulator 3 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21687000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21687000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Norton AntiVirus 2002 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21693000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21693000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Neverwinter Nights Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21697000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21697000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Xbox.info Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21702000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21702000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Hard Truck 18 Wheels of Steel ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21706000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21706000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Need For Speed 5 Porsche Unleashed ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21711000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21711000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Valhalla Chronicles Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21716000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21716000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Quake 3 Arena Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21721000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21721000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Comanche 4 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21727000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21727000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\BORLAND Delphi 7 Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21731000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21731000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\CKY3 - Bam Margera World Industries Alien Workshop Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21737000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21737000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Prisoner Of War Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21741000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21741000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Macromedia Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21745000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21745000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\The Sun Of All Fears Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21749000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21749000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Age Of Wonders 2 Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21754000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21754000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\AIM Account Stealer Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21760000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21760000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Macromedia Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21765000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21765000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\GTA3 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21769000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21769000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Quake 4 BETA Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21773000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21773000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\DSL Modem Uncapper Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21778000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21778000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Shakira ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21783000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21783000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Critical Point Manga game Crack.exe
    Return=SUCCESS
</pre>
<pre><b># 21787000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21787000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Age Of Empires 2 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21792000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21792000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Squad Battles Eagles Strike Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21796000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21796000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Unreal Tournament 3 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21801000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21801000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Half-life ONLINE Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21805000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21805000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Soldier Of Fortune 2 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21810000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21809000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Dweebs 2 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21815000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21815000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Clive Barkers Undying Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21819000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21819000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Shakira Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21825000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21825000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Civilization 3 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21829000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21829000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Zidane-ScreenInstaler Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21834000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21834000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Sudden Strike 2 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21838000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21838000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\F1 Grand Pix 4 ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21843000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21843000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Cabelas Ultimate Deer Hunt 2 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21847000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21847000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Grand Prix 4 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21852000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21852000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Macromedia Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21858000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21857000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Soldiers Of Anarchy ISO - Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21863000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21863000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\BORLAND Delphi 7 Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21867000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21867000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Industry Giant 2 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21871000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21871000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Internet and Computer Speed Booster Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 21877000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21877000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\The Eye Of Kraken Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21881000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21881000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Free Virus Removal Tool From Symantec Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 21885000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21885000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\My Downloads\Stronghold Crusader Patch.exe
    Return=SUCCESS
</pre>
<pre><b># 21895000   CreateFile</b>
    hName=C:\My Downloads\Necromania Trap Of Darkness Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21895000   CreateFile</b>
    hName=C:\My Downloads\Necromania Trap Of Darkness Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21898000   CreateFile</b>
    hName=C:\My Downloads\Austerlitz Napoleons Greatest Victory ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21898000   CreateFile</b>
    hName=C:\My Downloads\Austerlitz Napoleons Greatest Victory ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21901000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21901000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21903000   CreateFile</b>
    hName=C:\My Downloads\Xbox.info Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21903000   CreateFile</b>
    hName=C:\My Downloads\Xbox.info Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21906000   CreateFile</b>
    hName=C:\My Downloads\MoviezChannelsInstaler Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21906000   CreateFile</b>
    hName=C:\My Downloads\MoviezChannelsInstaler Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21908000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21908000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21911000   CreateFile</b>
    hName=C:\My Downloads\Combat Flight Simulator 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21911000   CreateFile</b>
    hName=C:\My Downloads\Combat Flight Simulator 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21914000   CreateFile</b>
    hName=C:\My Downloads\Norton AntiVirus 2002 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21914000   CreateFile</b>
    hName=C:\My Downloads\Norton AntiVirus 2002 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21917000   CreateFile</b>
    hName=C:\My Downloads\Neverwinter Nights Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21917000   CreateFile</b>
    hName=C:\My Downloads\Neverwinter Nights Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21920000   CreateFile</b>
    hName=C:\My Downloads\Xbox.info Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21920000   CreateFile</b>
    hName=C:\My Downloads\Xbox.info Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21922000   CreateFile</b>
    hName=C:\My Downloads\Hard Truck 18 Wheels of Steel ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21922000   CreateFile</b>
    hName=C:\My Downloads\Hard Truck 18 Wheels of Steel ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21925000   CreateFile</b>
    hName=C:\My Downloads\Need For Speed 5 Porsche Unleashed ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21925000   CreateFile</b>
    hName=C:\My Downloads\Need For Speed 5 Porsche Unleashed ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21928000   CreateFile</b>
    hName=C:\My Downloads\Valhalla Chronicles Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21928000   CreateFile</b>
    hName=C:\My Downloads\Valhalla Chronicles Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21930000   CreateFile</b>
    hName=C:\My Downloads\Quake 3 Arena Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21930000   CreateFile</b>
    hName=C:\My Downloads\Quake 3 Arena Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21933000   CreateFile</b>
    hName=C:\My Downloads\Comanche 4 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21933000   CreateFile</b>
    hName=C:\My Downloads\Comanche 4 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21935000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21935000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21938000   CreateFile</b>
    hName=C:\My Downloads\CKY3 - Bam Margera World Industries Alien Workshop Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21938000   CreateFile</b>
    hName=C:\My Downloads\CKY3 - Bam Margera World Industries Alien Workshop Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21941000   CreateFile</b>
    hName=C:\My Downloads\Prisoner Of War Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21941000   CreateFile</b>
    hName=C:\My Downloads\Prisoner Of War Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21943000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21943000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21945000   CreateFile</b>
    hName=C:\My Downloads\The Sun Of All Fears Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21945000   CreateFile</b>
    hName=C:\My Downloads\The Sun Of All Fears Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21948000   CreateFile</b>
    hName=C:\My Downloads\Age Of Wonders 2 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21948000   CreateFile</b>
    hName=C:\My Downloads\Age Of Wonders 2 Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21950000   CreateFile</b>
    hName=C:\My Downloads\AIM Account Stealer Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21950000   CreateFile</b>
    hName=C:\My Downloads\AIM Account Stealer Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21954000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21954000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21956000   CreateFile</b>
    hName=C:\My Downloads\GTA3 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21956000   CreateFile</b>
    hName=C:\My Downloads\GTA3 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21958000   CreateFile</b>
    hName=C:\My Downloads\Quake 4 BETA Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21958000   CreateFile</b>
    hName=C:\My Downloads\Quake 4 BETA Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21961000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21961000   CreateFile</b>
    hName=C:\My Downloads\DSL Modem Uncapper Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21963000   CreateFile</b>
    hName=C:\My Downloads\Shakira ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21963000   CreateFile</b>
    hName=C:\My Downloads\Shakira ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21966000   CreateFile</b>
    hName=C:\My Downloads\Critical Point Manga game Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21966000   CreateFile</b>
    hName=C:\My Downloads\Critical Point Manga game Crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21968000   CreateFile</b>
    hName=C:\My Downloads\Age Of Empires 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21968000   CreateFile</b>
    hName=C:\My Downloads\Age Of Empires 2 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21972000   CreateFile</b>
    hName=C:\My Downloads\Squad Battles Eagles Strike Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21972000   CreateFile</b>
    hName=C:\My Downloads\Squad Battles Eagles Strike Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21974000   CreateFile</b>
    hName=C:\My Downloads\Unreal Tournament 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21974000   CreateFile</b>
    hName=C:\My Downloads\Unreal Tournament 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21976000   CreateFile</b>
    hName=C:\My Downloads\Half-life ONLINE Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21976000   CreateFile</b>
    hName=C:\My Downloads\Half-life ONLINE Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21982000   CreateFile</b>
    hName=C:\My Downloads\Soldier Of Fortune 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21982000   CreateFile</b>
    hName=C:\My Downloads\Soldier Of Fortune 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21984000   CreateFile</b>
    hName=C:\My Downloads\Dweebs 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21984000   CreateFile</b>
    hName=C:\My Downloads\Dweebs 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21987000   CreateFile</b>
    hName=C:\My Downloads\Clive Barkers Undying Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21986000   CreateFile</b>
    hName=C:\My Downloads\Clive Barker’s Undying Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21989000   CreateFile</b>
    hName=C:\My Downloads\Shakira Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21989000   CreateFile</b>
    hName=C:\My Downloads\Shakira Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21992000   CreateFile</b>
    hName=C:\My Downloads\Civilization 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21992000   CreateFile</b>
    hName=C:\My Downloads\Civilization 3 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21994000   CreateFile</b>
    hName=C:\My Downloads\Zidane-ScreenInstaler Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21994000   CreateFile</b>
    hName=C:\My Downloads\Zidane-ScreenInstaler Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21996000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21996000   CreateFile</b>
    hName=C:\My Downloads\Sudden Strike 2 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21999000   CreateFile</b>
    hName=C:\My Downloads\F1 Grand Pix 4 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21999000   CreateFile</b>
    hName=C:\My Downloads\F1 Grand Pix 4 ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22002000   CreateFile</b>
    hName=C:\My Downloads\Cabelas Ultimate Deer Hunt 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22002000   CreateFile</b>
    hName=C:\My Downloads\Cabelas Ultimate Deer Hunt 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22005000   CreateFile</b>
    hName=C:\My Downloads\Grand Prix 4 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22005000   CreateFile</b>
    hName=C:\My Downloads\Grand Prix 4 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22007000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22007000   CreateFile</b>
    hName=C:\My Downloads\Macromedia Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22010000   CreateFile</b>
    hName=C:\My Downloads\Soldiers Of Anarchy ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22010000   CreateFile</b>
    hName=C:\My Downloads\Soldiers Of Anarchy ISO - Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22012000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22012000   CreateFile</b>
    hName=C:\My Downloads\BORLAND Delphi 7 Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22015000   CreateFile</b>
    hName=C:\My Downloads\Industry Giant 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22015000   CreateFile</b>
    hName=C:\My Downloads\Industry Giant 2 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22017000   CreateFile</b>
    hName=C:\My Downloads\Internet and Computer Speed Booster Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22017000   CreateFile</b>
    hName=C:\My Downloads\Internet and Computer Speed Booster Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22020000   CreateFile</b>
    hName=C:\My Downloads\The Eye Of Kraken Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22019000   CreateFile</b>
    hName=C:\My Downloads\The Eye Of Kraken Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22022000   CreateFile</b>
    hName=C:\My Downloads\Free Virus Removal Tool From Symantec Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22022000   CreateFile</b>
    hName=C:\My Downloads\Free Virus Removal Tool From Symantec Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22025000   CreateFile</b>
    hName=C:\My Downloads\Stronghold Crusader Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22025000   CreateFile</b>
    hName=C:\My Downloads\Stronghold Crusader Patch.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22045000   ExitProcess</b></pre>
</body>