Django==1.10.3
celery==3.1.23
django-celery==3.1.17
docker==2.0.0


# An enumeration is a set of symbolic names (members) bound to unique, constant values.
# https://pypi.python.org/pypi/enum34
enum34==1.1.6

ipython==5.0.0
django-extensions==1.7.5
djangorestframework==3.4.6
python-memcached==1.58

# Expiring Tokens for Django Rest Framework
# https://github.com/JamesRitchie/django-rest-framework-expiring-tokens
djangorestframework-expiring-authtoken==0.1.4


# psycopg2 - Python-PostgreSQL Database Adapter
# https://pypi.python.org/pypi/psycopg2
psycopg2==2.6.2


# Gunicorn 'Green Unicorn' is a Python WSGI HTTP Server for UNIX.
# https://github.com/benoitc/gunicorn
gunicorn-19.6.0

