<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>03e157c2a259b13dd39a5d8ac4c709df4f4cc4a50c367fe8370590edd2000bb7_3216.trace.hooklog Bahavior Analysis</pre>
<pre><b># 25161000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25358000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25282000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 25429000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 25431000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 25433000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 25565000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 25568000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 25581000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25589000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25696000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 25696000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 25657000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 25605000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 25713000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 25715000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25722000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 25898000   LoadLibrary</b>
    lpFileName=ntdll.dll
    Return=SUCCESS
</pre>
<pre><b># 25900000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 25990000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26062000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 26103000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26401000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26433000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 26434000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 26435000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 26330000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 26462000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 25905000   LoadLibrary</b>
    lpFileName=wininet.dll
    Return=SUCCESS
</pre>
<pre><b># 26499000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26528000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 26617000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 26618000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 26555000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 26465000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 26659000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\fevar.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26661000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26672000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26680000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26687000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26700000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26706000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26729000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26741000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26747000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26754000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26760000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26783000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26791000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26810000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26816000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26825000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26837000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26844000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26853000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26859000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26865000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26874000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26881000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26889000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26895000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26901000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26910000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26941000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26948000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26954000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26960000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26980000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26992000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 26998000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27020000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27026000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27035000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27043000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27050000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27057000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27064000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27073000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27079000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27088000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27094000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27100000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27115000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27122000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27151000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27158000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27164000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27172000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27191000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27202000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27209000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27224000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27234000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27252000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27261000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27267000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27276000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27282000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27289000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27302000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27308000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27317000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27323000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27330000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27355000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27366000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27375000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27381000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27387000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27405000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27419000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27436000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27453000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27460000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27469000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27475000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27484000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27491000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27498000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27507000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27513000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27522000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27529000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27536000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27544000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27572000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27580000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27587000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27597000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27617000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27628000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27637000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27654000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27660000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27667000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27674000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27683000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27690000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27699000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27706000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27712000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27722000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27729000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27747000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27753000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27758000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27788000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27794000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27803000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27810000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27826000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27840000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27857000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27873000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27880000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27886000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27895000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27901000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27914000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27920000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27943000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27952000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27958000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27967000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27974000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 27980000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28005000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28020000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28026000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28124000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28162000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28181000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28192000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28207000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28214000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28222000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28229000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28235000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28244000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28250000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28258000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28265000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28272000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28280000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28287000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28295000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28301000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28337000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28348000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28354000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28364000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28381000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28396000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28403000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28418000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28426000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28432000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28438000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28446000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28453000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28463000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28469000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28478000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28484000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28490000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28500000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28505000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28514000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28549000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28555000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28563000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28584000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28602000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28612000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28623000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28639000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28646000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28660000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28666000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28672000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28681000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28688000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28696000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28703000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28709000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28718000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28724000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 28923000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29023000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29136000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29236000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29344000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29444000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29552000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29665000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29772000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29880000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 29987000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30098000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30205000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30336000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30440000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30579000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30709000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30870000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 30985000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 31126000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 31258000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 31385000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 31504000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 31616000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 31725000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 31877000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32037000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32165000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32280000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32384000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32496000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32620000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32759000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32870000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 32991000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33112000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33234000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33356000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33463000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33585000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33691000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33802000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 33905000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 34019000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 34122000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 34224000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 34328000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
<pre><b># 34429000   DeleteFile</b>
    fileName=C:\DOCUME~1\NaomiP\LOCALS~1\Temp\Temporary Directory 1 for ImportantDocuments.zip\ImportantDocuments.exe
    Return=FAILURE
</pre>
</body>