<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>0bc3c99c843af07898e286fa3ef2a9e21ba179d715755e9e7ee9360702e642b4_3192.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23294000   LoadLibrary</b>
    lpFileName=advapi32
    Return=SUCCESS
</pre>
<pre><b># 23851000   LoadLibrary</b>
    lpFileName=ws2_32
    Return=SUCCESS
</pre>
<pre><b># 23917000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23997000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23967000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 23898000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 24122000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 24127000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 24706000   CreateFile</b>
    hName=C:\WINDOWS\system32\netddedsdm.exe
    desiredAccess=GENERIC_ALL 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24706000   CreateFile</b>
    hName=C:\WINDOWS\system32\netddedsdm.exe
    desiredAccess=GENERIC_ALL 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24708000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24708000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\system32\netddedsdm.exe
    Return=SUCCESS
</pre>
<pre><b># 24715000   CreateFile</b>
    hName=C:\WINDOWS\system32\netddedsdm.exe
    desiredAccess=GENERIC_ALL 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24715000   CreateFile</b>
    hName=C:\WINDOWS\system32\netddedsdm.exe
    desiredAccess=GENERIC_ALL 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24808000   ExitProcess</b></pre>
</body>