<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>11a72d01fbe2bce69591e0ca484a131da525b503743cd9ef2daea0c9c8d30eb7_3100.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22496000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22577000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22545000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22632000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 22632000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 22648000   CreateFile</b>
    hName=C:\WINDOWS\system32\OLEACCRC.DLL
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26725000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 26727000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 26729000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 26962000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 26962000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 26974000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 26977000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 26991000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27000000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27068000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 27016000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 27083000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 27085000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 27092000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 27455000   DeleteFile</b>
    fileName=C:\Documents and Settings\All Users\Desktop\HGDraw.dll
    Return=FAILURE
</pre>
<pre><b># 27459000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\golfinfo.ini
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27461000   CreateFile</b>
    hName=C:\WINDOWS\system32\golfset.ini
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27462000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 27463000   CreateThread</b>
    dwThreadId=0
    Return=SUCCESS
</pre>
<pre><b># 27513000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\DisableMMX
    Return=2
</pre>
<pre><b># 27514000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\MostRecentApplication
    Return=0
</pre>
<pre><b># 27514000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\MostRecentApplication\Name
    type=REG_SZ
    data=malware.exe
    Return=0
</pre>
<pre><b># 27464000   LoadLibrary</b>
    lpFileName=d3d8
    Return=SUCCESS
</pre>
<pre><b># 27515000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 27517000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\LoadDebugRuntime
    Return=2
</pre>
<pre><b># 27539000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Direct3D\ForceDriverFlagsOff
    Return=2
</pre>
<pre><b># 27549000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 27554000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27560000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27587000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Video\{FB4927EA-42C7-4499-A0EE-CF38353663ED}\0000\InstalledDisplayDrivers
    Return=0
    type=REG_MULTI_SZ
    data=vga cirrus vga256 vga64k  
</pre>
<pre><b># 27591000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27598000   CreateFile</b>
    hName=C:\WINDOWS\system32\vga.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27601000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27601000   CreateFile</b>
    hName=C:\WINDOWS\system32\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27646000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 27757000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27785000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27787000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 27788000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 27677000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27883000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27885000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 27816000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27601000   LoadLibrary</b>
    lpFileName=SHELL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 27942000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 27942000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local AppData
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27947000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 27947000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Local AppData
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Application Data
    Return=0
</pre>
<pre><b># 27948000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Application Data\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27948000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Application Data\d3d8caps.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 28098000   CreateFile</b>
    hName=C:\WINDOWS\web\wallpaper\Bliss.bmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 38113000   CreateFile</b>
    hName=C:\WINDOWS\web\wallpaper\Bliss.bmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>