<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>1c19ed7dbf2368180c32bbac4d09b098f64d5e69a94efbb9c10ec5fcd3f6b421_3204.trace.hooklog Bahavior Analysis</pre>
<pre><b># 30675000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 31258000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 31008000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 31446000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 31533000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 31533000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 31594000   RegCreateKey</b>
    hKey=68\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 31595000   RegQueryValue</b>
    hKey=68\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 31671000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31671000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31671000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 31672000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31690000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31690000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31690000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 31690000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 31708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 31708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31711000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31726000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31727000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 31727000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31729000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31729000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31729000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 31745000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31748000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31748000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31768000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 31768000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31770000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31770000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 31784000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 31784000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31787000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31787000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31803000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 31803000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31806000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31822000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31822000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 31822000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31842000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31842000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 31842000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 31842000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31843000   RegCreateKey</b>
    hKey=74\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 31843000   RegCreateKey</b>
    hKey=74\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 31843000   RegQueryValue</b>
    hKey=74\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 31884000   RegCreateKey</b>
    hKey=74\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 31884000   RegCreateKey</b>
    hKey=74\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 31885000   RegQueryValue</b>
    hKey=74\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 31965000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 32532000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32598000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 32599000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 32619000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 32055000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 33126000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 33149000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 32752000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 33486000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 33487000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 33509000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 33622000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 33649000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 33677000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 33699000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 33699000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 33701000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 33726000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 33754000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 34829000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 34907000   CreateFile</b>
    hName=C:\WINDOWS\system32\net1.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34965000   CreateFile</b>
    hName=C:\WINDOWS\system32\net1.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36275000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 36300000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34065000   CreateProcessInternal</b>
    lpCommandLine=net1 Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3296
    dwThreadId=3300
</pre>
</body>