<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>200c0623f75433c1e2821d930e6f3e072c5e06f2bd1770551595acc3b170febf_3312.trace.hooklog Bahavior Analysis</pre>
<pre><b># 33325000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=76390000
</pre>
<pre><b># 33511000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=77f10000
</pre>
<pre><b># 33418000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=629c0000
</pre>
<pre><b># 33611000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 33803000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=44
</pre>
<pre><b># 33838000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 33839000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 33843000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 33655000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=773d0000
</pre>
<pre><b># 33885000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=5d090000
</pre>
<pre><b># 34009000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 34010000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=76390000
</pre>
<pre><b># 34076000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 34076000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 34222000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 34226000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 34228000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=5ad70000
</pre>
<pre><b># 34667000   LoadLibrary</b>
    lpFileName=SHFOLDER
    Return=76780000
</pre>
<pre><b># 34755000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=774e0000
</pre>
<pre><b># 34764000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoNetHood
    Return=2
</pre>
<pre><b># 34771000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoPropertiesMyComputer
    Return=2
</pre>
<pre><b># 34784000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoInternetIcon
    Return=2
</pre>
<pre><b># 34807000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoCommonGroups
    Return=2
</pre>
<pre><b># 34825000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoControlPanel
    Return=2
</pre>
<pre><b># 34828000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoSetFolders
    Return=2
</pre>
<pre><b># 34849000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{20D04FE0-3AEA-1069-A2D8-08002B30309D}\InProcServer32
    Return=0
</pre>
<pre><b># 34946000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 34947000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\WPA\PnP\seed
    Return=0
</pre>
<pre><b># 34948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
</pre>
<pre><b># 34948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
</pre>
<pre><b># 34948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
</pre>
<pre><b># 34948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
</pre>
<pre><b># 34965000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
</pre>
<pre><b># 34965000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
</pre>
<pre><b># 34966000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
</pre>
<pre><b># 34966000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
</pre>
<pre><b># 34966000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackCachePath
    Return=2
</pre>
<pre><b># 34969000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
</pre>
<pre><b># 34969000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
</pre>
<pre><b># 34972000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\DevicePath
    Return=0
</pre>
<pre><b># 34975000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogLevel
    Return=2
</pre>
<pre><b># 34975000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogPath
    Return=2
</pre>
<pre><b># 34877000   LoadLibrary</b>
    lpFileName=SETUPAPI.dll
    Return=77920000
</pre>
<pre><b># 34988000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 34994000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=77e70000
</pre>
<pre><b># 35012000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=94
</pre>
<pre><b># 35032000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=90
</pre>
<pre><b># 35065000   CreateFile</b>
    hName=\\.\MountPointManager
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 35072000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2\CPC\Volume\{4774220e-1640-11e4-bb1b-806d6172696f}\\Data
    Return=0
</pre>
<pre><b># 35073000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2\CPC\Volume\{4774220e-1640-11e4-bb1b-806d6172696f}\\Generation
    Return=0
</pre>
<pre><b># 35078000   CreateFile</b>
    hName=\\.\MountPointManager
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 35080000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2\CPC\Volume\{6fc0686a-6791-11e1-b81a-806d6172696f}\\Data
    Return=0
</pre>
<pre><b># 35081000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2\CPC\Volume\{6fc0686a-6791-11e1-b81a-806d6172696f}\\Generation
    Return=0
</pre>
<pre><b># 35084000   CreateFile</b>
    hName=\\.\MountPointManager
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 35087000   CreateFile</b>
    hName=\\.\MountPointManager
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 35089000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2\{6fc0686a-6791-11e1-b81a-806d6172696f}\
    Return=0
</pre>
<pre><b># 35089000   RegSetValue</b>
    hKey=98\BaseClass
    type=REG_SZ
    data=Drive
    Return=0
</pre>
<pre><b># 35090000   CreateFile</b>
    hName=\\.\MountPointManager
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 35092000   CreateFile</b>
    hName=\\.\MountPointManager
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=98
</pre>
<pre><b># 35094000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2\{4774220e-1640-11e4-bb1b-806d6172696f}\
    Return=0
</pre>
<pre><b># 35094000   RegSetValue</b>
    hKey=98\BaseClass
    type=REG_SZ
    data=Drive
    Return=0
</pre>
<pre><b># 35096000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2\CPC\Volume\{6fc0686a-6791-11e1-b81a-806d6172696f}\\Generation
    Return=0
</pre>
<pre><b># 35100000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Drive\shellex\FolderExtensions\{fbeb8a05-beee-4442-804e-409d6c4515e9}\DriveMask
    Return=0
</pre>
<pre><b># 35108000   LoadLibrary</b>
    lpFileName=SHELL32.dll
    Return=7c9c0000
</pre>
<pre><b># 35110000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=774e0000
</pre>
<pre><b># 35120000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\DontShowSuperHidden
    Return=2
</pre>
<pre><b># 35121000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\ShellState
    Return=0
</pre>
<pre><b># 35121000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\ShellState
    Return=0
</pre>
<pre><b># 35123000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\ForceActiveDesktopOn
    Return=2
</pre>
<pre><b># 35125000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoActiveDesktop
    Return=2
</pre>
<pre><b># 35137000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoWebView
    Return=2
</pre>
<pre><b># 35141000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\ClassicShell
    Return=2
</pre>
<pre><b># 35148000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\SeparateProcess
    Return=2
</pre>
<pre><b># 35150000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoNetCrawling
    Return=2
</pre>
<pre><b># 35153000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer\NoSimpleStartMenu
    Return=2
</pre>
<pre><b># 35154000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\Hidden
    Return=0
</pre>
<pre><b># 35154000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\ShowCompColor
    Return=0
</pre>
<pre><b># 35155000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\HideFileExt
    Return=0
</pre>
<pre><b># 35155000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\DontPrettyPath
    Return=0
</pre>
<pre><b># 35155000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\ShowInfoTip
    Return=0
</pre>
<pre><b># 35155000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\HideIcons
    Return=0
</pre>
<pre><b># 35156000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\MapNetDrvBtn
    Return=0
</pre>
<pre><b># 35156000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\WebView
    Return=0
</pre>
<pre><b># 35156000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\Filter
    Return=0
</pre>
<pre><b># 35156000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\ShowSuperHidden
    Return=2
</pre>
<pre><b># 35157000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\SeparateProcess
    Return=0
</pre>
<pre><b># 35157000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\NoNetCrawling
    Return=2
</pre>
<pre><b># 35174000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Directory\DocObject
    Return=2
</pre>
<pre><b># 35175000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Directory\BrowseInPlace
    Return=2
</pre>
<pre><b># 35191000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Directory\IsShortcut
    Return=2
</pre>
<pre><b># 35197000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Directory\AlwaysShowExt
    Return=0
</pre>
<pre><b># 35198000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Directory\NeverShowExt
    Return=2
</pre>
<pre><b># 35243000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\nsg1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=a4
</pre>
<pre><b># 35247000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\nsg1.tmp
    Return=1
</pre>
<pre><b># 35247000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\nsg1.tmp
    Return=1
</pre>
<pre><b># 35250000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=a4
</pre>
<pre><b># 35250000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=a4
</pre>
<pre><b># 35602000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Lucida San
    Return=0
</pre>
<pre><b># 35602000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Tah
    Return=0
</pre>
<pre><b># 35603000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Microsoft 
    Return=0
</pre>
<pre><b># 36493000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 36505000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=b0
</pre>
<pre><b># 36519000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=b0
</pre>
<pre><b># 36587000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=774e0000
</pre>
<pre><b># 36534000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=755c0000
</pre>
<pre><b># 36604000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 36606000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
</pre>
<pre><b># 36613000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=755c0000
</pre>
</body>