<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>247b7eb16a5617e3262632bed9bb228862b11c023835d7256ee6bf77ddc650ca_3076.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20632000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20712000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20681000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 20746000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20812000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 20853000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21053000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 21053000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 21163000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21189000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21190000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 21191000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 21097000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21220000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 21226000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21254000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21339000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21341000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 21279000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21486000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 21488000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 21489000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 21619000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 21621000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 21634000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21642000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21703000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 21658000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 21716000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 21718000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21725000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 21779000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 21785000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 21794000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21802000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21802000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21876000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 21920000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 21879000   LoadLibrary</b>
    lpFileName=winmm.dll
    Return=SUCCESS
</pre>
<pre><b># 21930000   LoadLibrary</b>
    lpFileName=ws2_32.dll
    Return=SUCCESS
</pre>
<pre><b># 21967000   LoadLibrary</b>
    lpFileName=msvfw32.dll
    Return=SUCCESS
</pre>
<pre><b># 22075000   RegCreateKey</b>
    hKey=9c\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 22076000   RegQueryValue</b>
    hKey=9c\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 22083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 22083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22086000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22086000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22086000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 22086000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22088000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22088000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 22088000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 22089000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 22091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22093000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22094000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22094000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 22094000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22096000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22097000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22097000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 22097000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22099000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22100000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 22100000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 22100000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22102000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22102000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22102000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 22103000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22105000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22105000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22106000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 22106000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22108000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22109000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 22109000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 22109000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22110000   RegCreateKey</b>
    hKey=a4\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 22110000   RegCreateKey</b>
    hKey=a4\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 22110000   RegQueryValue</b>
    hKey=a4\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 22116000   RegCreateKey</b>
    hKey=a4\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 22116000   RegCreateKey</b>
    hKey=a4\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 22117000   RegQueryValue</b>
    hKey=a4\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 22013000   LoadLibrary</b>
    lpFileName=avifil32.dll
    Return=SUCCESS
</pre>
<pre><b># 22119000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 22121000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22123000   LoadLibrary</b>
    lpFileName=winspool.drv
    Return=SUCCESS
</pre>
<pre><b># 22151000   LoadLibrary</b>
    lpFileName=comdlg32.dll
    Return=SUCCESS
</pre>
<pre><b># 22191000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22193000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 22195000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 22197000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 22198000   LoadLibrary</b>
    lpFileName=odbc32.dll
    Return=SUCCESS
</pre>
<pre><b># 22267000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 22284000   LoadLibrary</b>
    lpFileName=oledlg.dll
    Return=SUCCESS
</pre>
<pre><b># 36033000   LoadLibrary</b>
    lpFileName=\kernel32.dll
    Return=FAILURE
</pre>
<pre><b># 36036000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32.dll
    Return=FAILURE
</pre>
<pre><b># 36039000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 36041000   LoadLibrary</b>
    lpFileName=Kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 36068000   LoadLibrary</b>
    lpFileName=\user32.dll
    Return=FAILURE
</pre>
<pre><b># 36071000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\user32.dll
    Return=FAILURE
</pre>
<pre><b># 36075000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 36080000   LoadLibrary</b>
    lpFileName=\gdiplus.dll
    Return=FAILURE
</pre>
<pre><b># 36083000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus.dll
    Return=FAILURE
</pre>
<pre><b># 36086000   LoadLibrary</b>
    lpFileName=gdiplus.dll
    Return=SUCCESS
</pre>
<pre><b># 36180000   CreateThread</b>
    dwThreadId=1323108884
    Return=SUCCESS
</pre>
<pre><b># 36197000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 36198000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 36285000   LoadLibrary</b>
    lpFileName=COMCTL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 36317000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 36320000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\UseDoubleClickTimer
    Return=2
</pre>
<pre><b># 36321000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 36328000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 36331000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 36338000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 36344000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\MS Shell Dlg
    Return=0
    type=REG_SZ
    data=Microsoft Sans Serif
</pre>
<pre><b># 36346000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\MS Shell Dlg
    Return=0
    type=REG_SZ
    data=Microsoft Sans Serif
</pre>
<pre><b># 36347000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\MS Shell Dlg
    Return=0
    type=REG_SZ
    data=Microsoft Sans Serif
</pre>
<pre><b># 36379000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36431000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateProcess
    Return=2
</pre>
<pre><b># 36431000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateObject
    Return=2
</pre>
<pre><b># 36380000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 36434000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36435000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 36471000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 36474000   CreateFile</b>
    hName=C:\WINDOWS\Registration\R000000000007.clb
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36501000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 36512000   RegQueryValue</b>
    hKey=d6\CLSID\{8856F961-340A-11D0-A96B-00C04FD705A2}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 36517000   RegQueryValue</b>
    hKey=d6\CLSID\{8856F961-340A-11D0-A96B-00C04FD705A2}\InprocServer32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\shdocvw.dll
</pre>
<pre><b># 36525000   RegQueryValue</b>
    hKey=d6\CLSID\{8856F961-340A-11D0-A96B-00C04FD705A2}\AppID
    Return=2
</pre>
<pre><b># 36532000   RegQueryValue</b>
    hKey=d6\CLSID\{8856F961-340A-11D0-A96B-00C04FD705A2}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Apartment
</pre>
<pre><b># 36694000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36697000   LoadLibrary</b>
    lpFileName=Comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 36723000   LoadLibrary</b>
    lpFileName=RichEd20.dll
    Return=SUCCESS
</pre>
<pre><b># 36770000   LoadLibrary</b>
    lpFileName=Comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 36820000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 36861000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{EAB22AC1-30C1-11CF-A7EB-0000C05BAE0B}\Typelib
    Return=0
    type=REG_SZ
    data={EAB22AC0-30C1-11CF-A7EB-0000C05BAE0B}
</pre>
<pre><b># 36865000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{b722bccb-4e68-101b-a2bc-00aa00404770}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={B8DA6310-E19B-11D0-933C-00A0C90DCAA9}
</pre>
<pre><b># 36869000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{79eac9c4-baf9-11ce-8c82-00aa004ba90b}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={B8DA6310-E19B-11D0-933C-00A0C90DCAA9}
</pre>
<pre><b># 36872000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{000214E6-0000-0000-C000-000000000046}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={bf50b68e-29b8-4386-ae9c-9734d5117cd5}
</pre>
<pre><b># 36876000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{93F2F68C-1D1B-11D3-A30E-00C04F79ABD1}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={bf50b68e-29b8-4386-ae9c-9734d5117cd5}
</pre>
<pre><b># 36882000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Internet Explorer\Security\P3Global
    Return=0
</pre>
<pre><b># 36882000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Internet Explorer\Security\P3Sites
    Return=0
</pre>
<pre><b># 36882000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Internet Explorer\Security\P3Global\Enabled
    Return=0
</pre>
<pre><b># 36888000   LoadLibrary</b>
    lpFileName=SHELL32.dll
    Return=SUCCESS
</pre>
<pre><b># 36892000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 36894000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 36902000   LoadLibrary</b>
    lpFileName=SHELL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 36904000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\IntegratedBrowser
    Return=0
</pre>
<pre><b># 36904000   LoadLibrary</b>
    lpFileName=WININET.dll
    Return=SUCCESS
</pre>
<pre><b># 36906000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\FromCacheTimeout
    Return=2
</pre>
<pre><b># 36907000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\SecureProtocols
    Return=2
</pre>
<pre><b># 36907000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\CertificateRevocation
    Return=2
</pre>
<pre><b># 36907000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableKeepAlive
    Return=2
</pre>
<pre><b># 36908000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisablePassport
    Return=2
</pre>
<pre><b># 36908000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\CacheMode
    Return=2
</pre>
<pre><b># 36910000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\EnableHttp1_1
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36912000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ProxyHttp1.1
    Return=2
</pre>
<pre><b># 36912000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ProxyHttp1.1
    Return=2
</pre>
<pre><b># 36913000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\EnableNegotiate
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36913000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableBasicOverClearChannel
    Return=2
</pre>
<pre><b># 36914000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Internet Explorer\Main\FeatureControl\Feature_ClientAuthCertFilter
    Return=2
</pre>
<pre><b># 36914000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\Feature_ClientAuthCertFilter
    Return=2
</pre>
<pre><b># 36915000   LoadLibrary</b>
    lpFileName=Secur32.dll
    Return=SUCCESS
</pre>
<pre><b># 36918000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\SyncMode5
    Return=2
</pre>
<pre><b># 36918000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\FixupKey
    Return=2
</pre>
<pre><b># 36919000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\SessionStartTimeDefaultDeltaSecs
    Return=2
</pre>
<pre><b># 36922000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 36924000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Signature
    Return=0
    type=REG_SZ
    data=Client UrlCache MMF Ver 5.2
</pre>
<pre><b># 36924000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cache
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 36925000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cookies
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 36925000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\History
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 36926000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\PerUserItem
    Return=2
</pre>
<pre><b># 36926000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\PerUserItem
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36927000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 36931000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 36931000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cache
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 36935000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 36936000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files
    Return=0
</pre>
<pre><b># 36940000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\CachePrefix
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 36941000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Content\CacheLimit
    Return=0
    type=REG_DWORD
    data=327323
</pre>
<pre><b># 36944000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Directory
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5
    Return=0
</pre>
<pre><b># 36944000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Paths
    type=REG_DWORD
    data=4
    Return=0
</pre>
<pre><b># 36944000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path1\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache1
    Return=0
</pre>
<pre><b># 36945000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path2\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache2
    Return=0
</pre>
<pre><b># 36945000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path3\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache3
    Return=0
</pre>
<pre><b># 36946000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path4\CachePath
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\Cache4
    Return=0
</pre>
<pre><b># 36946000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path1\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 36946000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path2\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 36946000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path3\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 36947000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\Path4\CacheLimit
    type=REG_DWORD
    data=81830
    Return=0
</pre>
<pre><b># 36947000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\PerUserItem
    Return=2
</pre>
<pre><b># 36948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\PerUserItem
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36949000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 36949000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Cookies
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 36951000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 36951000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cookies
    type=REG_SZ
    data=C:\Documents and Settings\ants\Cookies
    Return=0
</pre>
<pre><b># 36952000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\CachePrefix
    Return=0
    type=REG_SZ
    data=Cookie:
</pre>
<pre><b># 36953000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Cookies\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 36954000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\PerUserItem
    Return=2
</pre>
<pre><b># 36954000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\PerUserItem
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 36955000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders
    Return=0
</pre>
<pre><b># 36956000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\History
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 36958000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders
    Return=0
</pre>
<pre><b># 36958000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\History
    type=REG_SZ
    data=C:\Documents and Settings\ants\Local Settings\History
    Return=0
</pre>
<pre><b># 36962000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\CachePrefix
    Return=0
    type=REG_SZ
    data=Visited:
</pre>
<pre><b># 36962000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\History\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 36975000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36974000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36976000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 36976000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\Temporary Internet Files\Content.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37309000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37309000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37310000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37310000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Cookies\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37654000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37654000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37656000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37656000   CreateFile</b>
    hName=C:\Documents and Settings\ants\Local Settings\History\History.IE5\index.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 37994000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CacheRepair
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 37995000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CachePath
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Local Settings\History\History.IE5\MSHist012016040420160405\
</pre>
<pre><b># 37996000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CachePrefix
    Return=0
    type=REG_SZ
    data=:2016040420160405: 
</pre>
<pre><b># 37996000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 37996000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040420160405\CacheOptions
    Return=0
    type=REG_DWORD
    data=11
</pre>
<pre><b># 37998000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CacheRepair
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 37998000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CachePath
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Local Settings\History\History.IE5\MSHist012016040520160406\
</pre>
<pre><b># 37999000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CachePrefix
    Return=0
    type=REG_SZ
    data=:2016040520160406: 
</pre>
<pre><b># 37999000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CacheLimit
    Return=0
    type=REG_DWORD
    data=8192
</pre>
<pre><b># 38000000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\Extensible Cache\MSHist012016040520160406\CacheOptions
    Return=0
    type=REG_DWORD
    data=11
</pre>
<pre><b># 38006000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableWorkerThreadHibernation
    Return=2
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableWorkerThreadHibernation
    Return=2
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableReadRange
    Return=2
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\SocketSendBufferLength
    Return=2
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\SocketReceiveBufferLength
    Return=2
</pre>
<pre><b># 38007000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\KeepAliveTimeout
    Return=2
</pre>
<pre><b># 38008000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\MaxHttpRedirects
    Return=2
</pre>
<pre><b># 38008000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\MaxConnectionsPerServer
    Return=2
</pre>
<pre><b># 38008000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\MaxConnectionsPer1_0Server
    Return=2
</pre>
<pre><b># 38009000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ServerInfoTimeout
    Return=2
</pre>
<pre><b># 38009000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ReceiveTimeOut
    Return=2
</pre>
<pre><b># 38009000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableNTLMPreAuth
    Return=2
</pre>
<pre><b># 38009000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ScavengeCacheLowerBound
    Return=2
</pre>
<pre><b># 38009000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\CertCacheNoValidate
    Return=2
</pre>
<pre><b># 38010000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\ScavengeCacheFileLifeTime
    Return=2
</pre>
<pre><b># 38012000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\ScavengeCacheFileLimit
    Return=2
</pre>
<pre><b># 38012000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\5.0\Cache\ScavengeCacheFileLimit
    Return=2
</pre>
<pre><b># 38019000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\HttpDefaultExpiryTimeSecs
    Return=2
</pre>
<pre><b># 38019000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\FtpDefaultExpiryTimeSecs
    Return=2
</pre>
<pre><b># 38019000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\GopherDefaultExpiryTimeSecs
    Return=2
</pre>
<pre><b># 38019000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableCachingOfSSLPages
    Return=2
</pre>
<pre><b># 38020000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\PerUserCookies
    Return=2
</pre>
<pre><b># 38020000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\LeashLegacyCookies
    Return=2
</pre>
<pre><b># 38020000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableNT4RasCheck
    Return=2
</pre>
<pre><b># 38021000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DialupUseLanSettings
    Return=2
</pre>
<pre><b># 38021000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DialupUseLanSettings
    Return=2
</pre>
<pre><b># 38022000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\SendExtraCRLF
    Return=2
</pre>
<pre><b># 38022000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\BypassFtpTimeCheck
    Return=2
</pre>
<pre><b># 38022000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\EnableGopher
    Return=2
</pre>
<pre><b># 38023000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ReleaseSocketDuringAuth
    Return=2
</pre>
<pre><b># 38023000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ReleaseSocketDuring401Auth
    Return=2
</pre>
<pre><b># 38024000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ReleaseSocketDuring401Auth
    Return=2
</pre>
<pre><b># 38024000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WpadSearchAllDomains
    Return=2
</pre>
<pre><b># 38025000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableLegacyPreAuthAsServer
    Return=2
</pre>
<pre><b># 38026000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DisableLegacyPreAuthAsServer
    Return=2
</pre>
<pre><b># 38027000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\BypassHTTPNoCacheCheck
    Return=2
</pre>
<pre><b># 38027000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\BypassHTTPNoCacheCheck
    Return=2
</pre>
<pre><b># 38028000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\BypassSSLNoCacheCheck
    Return=2
</pre>
<pre><b># 38029000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\BypassSSLNoCacheCheck
    Return=2
</pre>
<pre><b># 38030000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\EnableHttpTrace
    Return=2
</pre>
<pre><b># 38030000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\EnableHttpTrace
    Return=2
</pre>
<pre><b># 38031000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\NoCheckAutodialOverRide
    Return=2
</pre>
<pre><b># 38032000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\NoCheckAutodialOverRide
    Return=2
</pre>
<pre><b># 38032000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DontUseDNSLoadBalancing
    Return=2
</pre>
<pre><b># 38033000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DontUseDNSLoadBalancing
    Return=2
</pre>
<pre><b># 38033000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\NonBlockingClient32
    Return=2
</pre>
<pre><b># 38033000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ShareCredsWithWinHttp
    Return=2
</pre>
<pre><b># 38034000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\MimeExclusionListForCache
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 38034000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\MimeExclusionListForCache
    Return=0
    type=REG_SZ
    data=multipart/mixed multipart/x-mixed-replace multipart/x-byteranges 
</pre>
<pre><b># 38035000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\HeaderExclusionListForCache
    Return=2
</pre>
<pre><b># 38036000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DnsCacheEnabled
    Return=2
</pre>
<pre><b># 38036000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DnsCacheEntries
    Return=2
</pre>
<pre><b># 38036000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\DnsCacheTimeout
    Return=2
</pre>
<pre><b># 38037000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WarnOnPost
    Return=0
    type=REG_BINARY
    data=01000000
</pre>
<pre><b># 38037000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WarnAlwaysOnPost
    Return=2
</pre>
<pre><b># 38037000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WarnOnZoneCrossing
    Return=2
</pre>
<pre><b># 38037000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WarnOnBadCertSending
    Return=2
</pre>
<pre><b># 38037000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WarnOnBadCertRecving
    Return=2
</pre>
<pre><b># 38037000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WarnOnPostRedirect
    Return=2
</pre>
<pre><b># 38038000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\AlwaysDrainOnRedirect
    Return=2
</pre>
<pre><b># 38038000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\WarnOnHTTPSToHTTPRedirect
    Return=2
</pre>
<pre><b># 38039000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\GlobalUserOffline
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 38039000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\EnableAutodial
    Return=2
</pre>
<pre><b># 38043000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\UrlEncoding
    Return=ea
</pre>
<pre><b># 38044000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\TruncateFileName
    Return=2
</pre>
<pre><b># 38045000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\BadProxyExpiresTime
    Return=2
</pre>
<pre><b># 38047000   LoadLibrary</b>
    lpFileName=OLEAUT32.dll
    Return=SUCCESS
</pre>
<pre><b># 38051000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 38079000   LoadLibrary</b>
    lpFileName=Kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 38081000   LoadLibrary</b>
    lpFileName=Kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 38083000   LoadLibrary</b>
    lpFileName=Kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 38085000   LoadLibrary</b>
    lpFileName=Gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 38087000   LoadLibrary</b>
    lpFileName=User32.dll
    Return=SUCCESS
</pre>
<pre><b># 38116000   LoadLibrary</b>
    lpFileName=Kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 38118000   LoadLibrary</b>
    lpFileName=Gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 38119000   LoadLibrary</b>
    lpFileName=User32.dll
    Return=SUCCESS
</pre>
<pre><b># 38121000   LoadLibrary</b>
    lpFileName=Kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 38123000   LoadLibrary</b>
    lpFileName=Gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 38125000   LoadLibrary</b>
    lpFileName=User32.dll
    Return=SUCCESS
</pre>
<pre><b># 38127000   LoadLibrary</b>
    lpFileName=Kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 38128000   LoadLibrary</b>
    lpFileName=Gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 38130000   LoadLibrary</b>
    lpFileName=User32.dll
    Return=SUCCESS
</pre>
<pre><b># 38134000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38137000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38143000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 38250000   LoadLibrary</b>
    lpFileName=\kernel32
    Return=FAILURE
</pre>
<pre><b># 38253000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32
    Return=FAILURE
</pre>
<pre><b># 38256000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 38265000   LoadLibrary</b>
    lpFileName=\ole32.dll
    Return=FAILURE
</pre>
<pre><b># 38268000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\ole32.dll
    Return=FAILURE
</pre>
<pre><b># 38271000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 38274000   LoadLibrary</b>
    lpFileName=\kernel32
    Return=FAILURE
</pre>
<pre><b># 38276000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32
    Return=FAILURE
</pre>
<pre><b># 38280000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 38282000   LoadLibrary</b>
    lpFileName=\kernel32
    Return=FAILURE
</pre>
<pre><b># 38285000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32
    Return=FAILURE
</pre>
<pre><b># 38288000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 38291000   LoadLibrary</b>
    lpFileName=\kernel32
    Return=FAILURE
</pre>
<pre><b># 38294000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32
    Return=FAILURE
</pre>
<pre><b># 38297000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 38299000   LoadLibrary</b>
    lpFileName=\kernel32
    Return=FAILURE
</pre>
<pre><b># 38302000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32
    Return=FAILURE
</pre>
<pre><b># 38305000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 38307000   LoadLibrary</b>
    lpFileName=\kernel32
    Return=FAILURE
</pre>
<pre><b># 38310000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32
    Return=FAILURE
</pre>
<pre><b># 38314000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 38315000   LoadLibrary</b>
    lpFileName=\gdiplus.dll
    Return=FAILURE
</pre>
<pre><b># 38318000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus.dll
    Return=FAILURE
</pre>
<pre><b># 38322000   LoadLibrary</b>
    lpFileName=gdiplus.dll
    Return=SUCCESS
</pre>
<pre><b># 38351000   LoadLibrary</b>
    lpFileName=\GdiPlus.dll
    Return=FAILURE
</pre>
<pre><b># 38353000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\GdiPlus.dll
    Return=FAILURE
</pre>
<pre><b># 38357000   LoadLibrary</b>
    lpFileName=GdiPlus.dll
    Return=SUCCESS
</pre>
<pre><b># 38377000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38380000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38384000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 38405000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38408000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38411000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 38432000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38434000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38438000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 38459000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38462000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 38466000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 43540000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43543000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43552000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 43586000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43588000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43603000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 43642000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43645000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43655000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
<pre><b># 43691000   LoadLibrary</b>
    lpFileName=\user32
    Return=FAILURE
</pre>
<pre><b># 43694000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\user32
    Return=FAILURE
</pre>
<pre><b># 43706000   LoadLibrary</b>
    lpFileName=user32
    Return=SUCCESS
</pre>
<pre><b># 43708000   LoadLibrary</b>
    lpFileName=\kernel32
    Return=FAILURE
</pre>
<pre><b># 43711000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\kernel32
    Return=FAILURE
</pre>
<pre><b># 43724000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 43744000   LoadLibrary</b>
    lpFileName=\GdiPlus.dll
    Return=FAILURE
</pre>
<pre><b># 43747000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\GdiPlus.dll
    Return=FAILURE
</pre>
<pre><b># 43750000   LoadLibrary</b>
    lpFileName=GdiPlus.dll
    Return=SUCCESS
</pre>
<pre><b># 43799000   LoadLibrary</b>
    lpFileName=\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43802000   LoadLibrary</b>
    lpFileName=C:\Documents and Settings\All Users\Desktop\gdiplus
    Return=FAILURE
</pre>
<pre><b># 43806000   LoadLibrary</b>
    lpFileName=gdiplus
    Return=SUCCESS
</pre>
</body>