<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>2c2a1044acd7d47ade2e74b06fe366fdc1c363297b5292c8a362f34018ae100b_3340.trace.hooklog Bahavior Analysis</pre>
<pre><b># 31465000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=76390000
</pre>
<pre><b># 31584000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=77f10000
</pre>
<pre><b># 31536000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=629c0000
</pre>
<pre><b># 31666000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 31666000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 31779000   CreateThread</b>
    dwThreadId=0
    Return=40
</pre>
<pre><b># 31894000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 31899000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 31901000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=5ad70000
</pre>
<pre><b># 32109000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
</pre>
<pre><b># 32176000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateProcess
    Return=2
</pre>
<pre><b># 32177000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateObject
    Return=2
</pre>
<pre><b># 32109000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=76fd0000
</pre>
<pre><b># 32181000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
</pre>
<pre><b># 32181000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=76fd0000
</pre>
<pre><b># 32225000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32228000   CreateFile</b>
    hName=C:\WINDOWS\Registration\R000000000007.clb
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=c4
</pre>
<pre><b># 32257000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32271000   RegQueryValue</b>
    hKey=56\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 32278000   RegQueryValue</b>
    hKey=56\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\InprocServer32
    Return=0
</pre>
<pre><b># 32291000   RegQueryValue</b>
    hKey=56\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\AppID
    Return=2
</pre>
<pre><b># 32299000   RegQueryValue</b>
    hKey=56\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\InprocServer32\ThreadingModel
    Return=0
</pre>
<pre><b># 32387000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM
    Return=0
</pre>
<pre><b># 32387000   RegQueryValue</b>
    hKey=cc\Logging Directory
    Return=0
</pre>
<pre><b># 32387000   RegQueryValue</b>
    hKey=cc\Logging Directory
    Return=0
</pre>
<pre><b># 32389000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM
    Return=0
</pre>
<pre><b># 32389000   RegQueryValue</b>
    hKey=cc\Logging
    Return=0
</pre>
<pre><b># 32389000   RegQueryValue</b>
    hKey=cc\Log File Max Size
    Return=0
</pre>
<pre><b># 32390000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM
    Return=0
</pre>
<pre><b># 32390000   RegQueryValue</b>
    hKey=cc\Repository Directory
    Return=0
</pre>
<pre><b># 32390000   RegQueryValue</b>
    hKey=cc\Repository Directory
    Return=0
</pre>
<pre><b># 32399000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=77120000
</pre>
<pre><b># 32422000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32425000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32450000   RegQueryValue</b>
    hKey=56\CLSID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\AppID
    Return=0
</pre>
<pre><b># 32453000   RegQueryValue</b>
    hKey=56\AppID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\DllSurrogate
    Return=2
</pre>
<pre><b># 32454000   RegQueryValue</b>
    hKey=56\AppID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\LocalService
    Return=0
</pre>
<pre><b># 32470000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 32479000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=77e70000
</pre>
<pre><b># 32514000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\MaximumAllowedAllocationSize
    Return=2
</pre>
<pre><b># 32531000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\DefaultAccessPermission
    Return=2
</pre>
<pre><b># 32541000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=104
</pre>
<pre><b># 32568000   CreateThread</b>
    dwThreadId=1240520
    Return=100
</pre>
<pre><b># 32593000   LoadLibrary</b>
    lpFileName=OLE32
    Return=774e0000
</pre>
<pre><b># 32603000   CreateThread</b>
    dwThreadId=1241000
    Return=10c
</pre>
<pre><b># 32607000   LoadLibrary</b>
    lpFileName=OLE32.DLL
    Return=774e0000
</pre>
<pre><b># 32668000   CreateThread</b>
    dwThreadId=15662556
    Return=118
</pre>
<pre><b># 32684000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{F309AD18-D86A-11D0-A075-00C04FB68820}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 32687000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32689000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32700000   RegQueryValue</b>
    hKey=56\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 32710000   RegQueryValue</b>
    hKey=56\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\InprocServer32
    Return=0
</pre>
<pre><b># 32721000   RegQueryValue</b>
    hKey=56\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\AppID
    Return=2
</pre>
<pre><b># 32736000   RegQueryValue</b>
    hKey=56\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\InprocServer32\ThreadingModel
    Return=0
</pre>
<pre><b># 32813000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=128
</pre>
<pre><b># 32839000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{D4781CD6-E5D3-44DF-AD94-930EFE48A887}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 32887000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{9556DC99-828C-11CF-A37E-00AA003240C7}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 32890000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32892000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32902000   RegQueryValue</b>
    hKey=56\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 32913000   RegQueryValue</b>
    hKey=56\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\InprocServer32
    Return=0
</pre>
<pre><b># 32923000   RegQueryValue</b>
    hKey=56\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\AppID
    Return=2
</pre>
<pre><b># 32936000   RegQueryValue</b>
    hKey=56\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\InprocServer32\ThreadingModel
    Return=0
</pre>
<pre><b># 33081000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters
    Return=0
</pre>
<pre><b># 33082000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\QueryAdapterName
    Return=2
</pre>
<pre><b># 33082000   RegQueryValue</b>
    hKey=13c\DisableAdapterDomainName
    Return=2
</pre>
<pre><b># 33082000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UseDomainNameDevolution
    Return=2
</pre>
<pre><b># 33082000   RegQueryValue</b>
    hKey=13c\UseDomainNameDevolution
    Return=0
</pre>
<pre><b># 33083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\PrioritizeRecordData
    Return=2
</pre>
<pre><b># 33083000   RegQueryValue</b>
    hKey=13c\PrioritizeRecordData
    Return=2
</pre>
<pre><b># 33083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\AllowUnqualifiedQuery
    Return=2
</pre>
<pre><b># 33083000   RegQueryValue</b>
    hKey=13c\AllowUnqualifiedQuery
    Return=2
</pre>
<pre><b># 33083000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\AppendToMultiLabelName
    Return=2
</pre>
<pre><b># 33084000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\ScreenBadTlds
    Return=2
</pre>
<pre><b># 33084000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\ScreenUnreachableServers
    Return=2
</pre>
<pre><b># 33084000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\FilterClusterIp
    Return=2
</pre>
<pre><b># 33085000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\WaitForNameErrorOnAll
    Return=2
</pre>
<pre><b># 33085000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UseEdns
    Return=2
</pre>
<pre><b># 33085000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\QueryIpMatching
    Return=2
</pre>
<pre><b># 33085000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UseHostsFile
    Return=2
</pre>
<pre><b># 33085000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationEnabled
    Return=2
</pre>
<pre><b># 33086000   RegQueryValue</b>
    hKey=13c\DisableDynamicUpdate
    Return=2
</pre>
<pre><b># 33086000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterPrimaryName
    Return=2
</pre>
<pre><b># 33086000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterAdapterName
    Return=2
</pre>
<pre><b># 33086000   RegQueryValue</b>
    hKey=13c\EnableAdapterDomainNameRegistration
    Return=2
</pre>
<pre><b># 33087000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterReverseLookup
    Return=2
</pre>
<pre><b># 33087000   RegQueryValue</b>
    hKey=13c\DisableReverseAddressRegistrations
    Return=2
</pre>
<pre><b># 33087000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterWanAdapters
    Return=2
</pre>
<pre><b># 33087000   RegQueryValue</b>
    hKey=13c\DisableWanDynamicUpdate
    Return=2
</pre>
<pre><b># 33088000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationTtl
    Return=2
</pre>
<pre><b># 33088000   RegQueryValue</b>
    hKey=13c\DefaultRegistrationTTL
    Return=2
</pre>
<pre><b># 33088000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationRefreshInterval
    Return=2
</pre>
<pre><b># 33088000   RegQueryValue</b>
    hKey=13c\DefaultRegistrationRefreshInterval
    Return=2
</pre>
<pre><b># 33090000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationMaxAddressCount
    Return=2
</pre>
<pre><b># 33091000   RegQueryValue</b>
    hKey=13c\MaxNumberOfAddressesToRegister
    Return=2
</pre>
<pre><b># 33091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UpdateSecurityLevel
    Return=2
</pre>
<pre><b># 33091000   RegQueryValue</b>
    hKey=13c\UpdateSecurityLevel
    Return=2
</pre>
<pre><b># 33091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UpdateZoneExcludeFile
    Return=2
</pre>
<pre><b># 33091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UpdateTopLevelDomainZones
    Return=2
</pre>
<pre><b># 33092000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\DnsTest
    Return=2
</pre>
<pre><b># 33092000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxCacheSize
    Return=2
</pre>
<pre><b># 33092000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxCacheTtl
    Return=2
</pre>
<pre><b># 33092000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxNegativeCacheTtl
    Return=2
</pre>
<pre><b># 33093000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\AdapterTimeoutLimit
    Return=2
</pre>
<pre><b># 33093000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\ServerPriorityTimeLimit
    Return=2
</pre>
<pre><b># 33093000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxCachedSockets
    Return=2
</pre>
<pre><b># 33093000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MulticastListenLevel
    Return=2
</pre>
<pre><b># 33094000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MulticastSendLevel
    Return=2
</pre>
<pre><b># 33094000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 33095000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DnsQueryTimeouts
    Return=2
</pre>
<pre><b># 33095000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DnsQuickQueryTimeouts
    Return=2
</pre>
<pre><b># 33095000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DnsMulticastQueryTimeouts
    Return=2
</pre>
<pre><b># 33101000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
</pre>
<pre><b># 33103000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\ProcessID
    Return=0
</pre>
<pre><b># 33103000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\EnablePrivateObjectHeap
    Return=2
</pre>
<pre><b># 33103000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\ContextLimit
    Return=2
</pre>
<pre><b># 33103000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\ObjectLimit
    Return=2
</pre>
<pre><b># 33104000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\IdentifierLimit
    Return=2
</pre>
<pre><b># 33972000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{027947E1-D731-11CE-A357-000000000001}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 33975000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 33978000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 33993000   RegQueryValue</b>
    hKey=56\CLSID\{1B1CAD8C-2DAB-11D2-B604-00104B703EFD}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 34000000   RegQueryValue</b>
    hKey=56\CLSID\{1B1CAD8C-2DAB-11D2-B604-00104B703EFD}\InprocServer32
    Return=0
</pre>
<pre><b># 34011000   RegQueryValue</b>
    hKey=56\CLSID\{1B1CAD8C-2DAB-11D2-B604-00104B703EFD}\AppID
    Return=2
</pre>
<pre><b># 34027000   RegQueryValue</b>
    hKey=56\CLSID\{1B1CAD8C-2DAB-11D2-B604-00104B703EFD}\InprocServer32\ThreadingModel
    Return=0
</pre>
<pre><b># 34044000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{1C1C45EE-4395-11D2-B60B-00104B703EFD}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 34058000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{423EC01E-2E35-11D2-B604-00104B703EFD}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 35772000   CreateThread</b>
    dwThreadId=17759708
    Return=154
</pre>
<pre><b># 36153000   ExitProcess</b></pre>
</body>