<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>349d5d2d3b330bacd6702f36f9ea6c708c5d61e4a2b963fa3682ef590e8497a7_3200.trace.hooklog Bahavior Analysis</pre>
<pre><b># 25366000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25519000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25467000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 25618000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 25622000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 25756000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25945000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25975000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 25979000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 25980000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 25790000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 26021000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 26051000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 26051000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 26415000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 26417000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27574000   LoadLibrary</b>
    lpFileName=KERNEL32.dll
    Return=SUCCESS
</pre>
<pre><b># 27578000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28246000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28249000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28254000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 28816000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 28836000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28842000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 28865000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 28876000   CreateFile</b>
    hName=C:\WINDOWS\system32\ntdll.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28876000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\ntdll.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 28896000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28896000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48614000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 48614000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM2.tmp
    Return=SUCCESS
</pre>
<pre><b># 48624000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM4.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 48633000   CreateFile</b>
    hName=C:\WINDOWS\system32\kernel32.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48633000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\kernel32.dll
    lpNewFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM4.tmp
    Return=SUCCESS
</pre>
<pre><b># 48659000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM4.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 48659000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\~TM4.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>