<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>3e9a6f168c4f9f6ce6c6db3fee35218408ee0f79189f53e174f19a439e4036fb_3316.trace.hooklog Bahavior Analysis</pre>
<pre><b># 32854000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=76390000
</pre>
<pre><b># 33004000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=77f10000
</pre>
<pre><b># 32955000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=629c0000
</pre>
<pre><b># 34786000   ExitProcess</b></pre>
</body>