<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>44b18af5174f298bec60b90475b3dbc9238606d9bba378c4dcf6c53bdae627d6_3244.trace.hooklog Bahavior Analysis</pre>
<pre><b># 24673000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 24793000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24762000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 24837000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 24838000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 24858000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 24956000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24986000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 24987000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 24988000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 24888000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 25071000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 25072000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 25009000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 25125000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 25291000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25294000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25297000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25309000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25320000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25323000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25327000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25330000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 25332000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 25343000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 25354000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 25357000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 25359000   LoadLibrary</b>
    lpFileName=winmm.dll
    Return=SUCCESS
</pre>
<pre><b># 25361000   LoadLibrary</b>
    lpFileName=winmm.dll
    Return=SUCCESS
</pre>
<pre><b># 25400000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Mixer.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25400000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Mixer.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25526000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 25543000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25552000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25696000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 25700000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25434000   CreateProcessInternal</b>
    lpCommandLine=net stop "Windows Firewall/Internet Connection Sharing (ICS)"
    Return=SUCCESS
    dwProcessId=3264
    dwThreadId=3268
</pre>
<pre><b># 25433000   CreateProcessInternal</b>
    lpCommandLine=net stop "Windows Firewall/Internet Connection Sharing (ICS)"
    Return=SUCCESS
    dwProcessId=3264
    dwThreadId=3268
</pre>
<pre><b># 25887000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25904000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26098000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25709000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3276
    dwThreadId=3280
</pre>
<pre><b># 25709000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3276
    dwThreadId=3280
</pre>
<pre><b># 25709000   WinExec</b>
    lpCmdLine=net stop System Restore Service
    Return=SUCCESS
</pre>
<pre><b># 26140000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 26141000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Mixer
    type=REG_SZ
    data=C:\WINDOWS\system32\Mixer.exe
    Return=0
</pre>
<pre><b># 26150000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 26151000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Mixer
    type=REG_SZ
    data=C:\WINDOWS\system32\Mixer.exe
    Return=0
</pre>
<pre><b># 26421000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26447000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26783000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26153000   CreateProcessInternal</b>
    lpCommandLine=net stop "Protected Storage"
    Return=SUCCESS
    dwProcessId=3284
    dwThreadId=3288
</pre>
<pre><b># 26153000   CreateProcessInternal</b>
    lpCommandLine=net stop "Protected Storage"
    Return=SUCCESS
    dwProcessId=3284
    dwThreadId=3288
</pre>
<pre><b># 26153000   WinExec</b>
    lpCmdLine=net stop "Protected Storage"
    Return=SUCCESS
</pre>
<pre><b># 27309000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27345000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27760000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26924000   CreateProcessInternal</b>
    lpCommandLine=net stop "Windows Firewall/Internet Connection Sharing (ICS)"
    Return=SUCCESS
    dwProcessId=3296
    dwThreadId=3300
</pre>
<pre><b># 26924000   CreateProcessInternal</b>
    lpCommandLine=net stop "Windows Firewall/Internet Connection Sharing (ICS)"
    Return=SUCCESS
    dwProcessId=3296
    dwThreadId=3300
</pre>
<pre><b># 26924000   WinExec</b>
    lpCmdLine=net stop "Windows Firewall/Internet Connection Sharing (ICS)"
    Return=SUCCESS
</pre>
<pre><b># 28287000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28333000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28865000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27796000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3308
    dwThreadId=3312
</pre>
<pre><b># 27796000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3308
    dwThreadId=3312
</pre>
<pre><b># 27796000   WinExec</b>
    lpCmdLine=net stop System Restore Service
    Return=SUCCESS
</pre>
<pre><b># 28916000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 28916000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Mixer
    type=REG_SZ
    data=C:\WINDOWS\system32\Mixer.exe
    Return=0
</pre>
<pre><b># 28966000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 29000000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 29062000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29099000   LoadLibrary</b>
    lpFileName=WINSTA.dll
    Return=SUCCESS
</pre>
<pre><b># 30188000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30233000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31020000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29580000   CreateProcessInternal</b>
    lpCommandLine=net stop "Protected Storage"
    Return=SUCCESS
    dwProcessId=3336
    dwThreadId=3340
</pre>
<pre><b># 29580000   CreateProcessInternal</b>
    lpCommandLine=net stop "Protected Storage"
    Return=SUCCESS
    dwProcessId=3336
    dwThreadId=3340
</pre>
<pre><b># 29580000   WinExec</b>
    lpCmdLine=net stop "Protected Storage"
    Return=SUCCESS
</pre>
</body>