<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>47a1e5875b3e7c74cd1444679eee2c9251342a30fde70c8cbc02d1a68a500a3f_3256.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22359000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22440000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22405000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22487000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 22487000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 22598000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 22599000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 22601000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 22612000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 22613000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 22618000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 22619000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 22619000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 22621000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 22628000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22629000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\WPA\PnP\seed
    Return=0
    type=REG_DWORD
    data=-2116632297
</pre>
<pre><b># 22629000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 22629000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
    type=REG_SZ
    data=\
</pre>
<pre><b># 22630000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 22630000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
    type=REG_SZ
    data=\Device\HarddiskVolume1
</pre>
<pre><b># 22633000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 22633000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
    type=REG_SZ
    data=D:\
</pre>
<pre><b># 22634000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 22634000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
    type=REG_SZ
    data=D:\
</pre>
<pre><b># 22634000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackCachePath
    Return=2
</pre>
<pre><b># 22635000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 22635000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 22637000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\DevicePath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 22639000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogLevel
    Return=2
</pre>
<pre><b># 22640000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogPath
    Return=2
</pre>
<pre><b># 22657000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting
    Return=0
</pre>
<pre><b># 22657000   RegDeleteKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\DW
    Return=2
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\DoReport
    Return=0
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\ShowUI
    Return=0
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\AllOrNone
    Return=0
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\IncludeMicrosoftApps
    Return=0
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\IncludeWindowsApps
    Return=0
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\DoTextLog
    Return=2
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\IncludeKernelFaults
    Return=0
</pre>
<pre><b># 22658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\IncludeShutdownErrs
    Return=2
</pre>
<pre><b># 22659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\NumberOfFaultPipes
    Return=2
</pre>
<pre><b># 22659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\NumberOfHangPipes
    Return=2
</pre>
<pre><b># 22659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\MaxUserQueueSize
    Return=2
</pre>
<pre><b># 22659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\ForceQueueMode
    Return=2
</pre>
<pre><b># 22660000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\ExclusionList
    Return=0
</pre>
<pre><b># 22660000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\InclusionList
    Return=0
</pre>
<pre><b># 22660000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 22691000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\PCHealth\ErrorReporting\ExclusionList\malware.exe
    Return=2
</pre>
<pre><b># 22693000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 22699000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 22760000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22778000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22826000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\c754_appcompat.txt
    desiredAccess=GENERIC_ALL 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 22853000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 22855000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\c754_appcompat.txt
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 22861000   LoadLibrary</b>
    lpFileName=SHLWAPI.dll
    Return=SUCCESS
</pre>
<pre><b># 22881000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 22961000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\c754_appcompat.txt
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 23132000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 23141000   CreateFile</b>
    hName=C:\WINDOWS\system32\dwwin.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23149000   CreateFile</b>
    hName=C:\WINDOWS\system32\dwwin.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23298000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 23302000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23042000   CreateProcessInternal</b>
    lpCommandLine=C:\WINDOWS\system32\dwwin.exe -x -s 160
    Return=SUCCESS
    dwProcessId=3276
    dwThreadId=3280
</pre>
<pre><b># 23042000   CreateProcess</b>
    lpCommandLine=C:\WINDOWS\system32\dwwin.exe -x -s 160
    Return=SUCCESS
    dwProcessId=3276
    dwThreadId=3280
</pre>
</body>