<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>6d63c149547c6d2ed9a15bf2f06574c64e89bb2d78fd6c1e510a48a1dffbf002_3252.trace.hooklog Bahavior Analysis</pre>
<pre><b># 25091000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25279000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25219000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 25304000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 25327000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 25327000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 25328000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 25328000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25328000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 25328000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\PathCompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 25329000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\AutoRun
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 25330000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 25331000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 25331000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 25331000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25332000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=9
</pre>
<pre><b># 25332000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\PathCompletionChar
    Return=2
</pre>
<pre><b># 25332000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\AutoRun
    Return=2
</pre>
<pre><b># 25552000   CreateFile</b>
    hName=C:\Windows\runreg.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25561000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 25567000   CreateFile</b>
    hName=C:\Windows\runreg.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25793000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 25807000   CreateFile</b>
    hName=C:\WINDOWS\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25815000   CreateFile</b>
    hName=C:\WINDOWS\regedit.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25940000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25700000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\regedit.exe
    lpCommandLine=regedit /s C:\windows\backup.reg
    Return=SUCCESS
    dwProcessId=3268
    dwThreadId=3272
</pre>
<pre><b># 25700000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\regedit.exe
    lpCommandLine=regedit /s C:\windows\backup.reg
    Return=SUCCESS
    dwProcessId=3268
    dwThreadId=3272
</pre>
<pre><b># 27112000   CreateFile</b>
    hName=C:\Windows\runreg.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27121000   ExitProcess</b></pre>
</body>