<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>7eae51b7d81c2159373036cdf15848683192783e9fcb9f7e256473d543adcb17_3264.trace.hooklog Bahavior Analysis</pre>
<pre><b># 35191000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 35268000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 35238000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 35288000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 35288000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 35311000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 35325000   RegCreateKey</b>
    hKey=50\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 35325000   RegQueryValue</b>
    hKey=50\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 35334000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35334000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35334000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 35335000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35337000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35337000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35337000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 35337000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 35340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 35340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35343000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35343000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35343000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 35343000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35346000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35346000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35346000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 35346000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 35350000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35352000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35352000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 35353000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 35353000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35355000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35355000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35356000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 35356000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35358000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35358000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35359000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 35359000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35361000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 35361000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 35362000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 35362000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35363000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 35363000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 35363000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 35369000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 35369000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 35370000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 35381000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 35489000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35517000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 35518000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 35519000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 35412000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 35606000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 35607000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 35543000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 35644000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 35645000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 35647000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 35659000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 35659000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 35665000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 35666000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 35666000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 35668000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 35671000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 35674000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 35750000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 35902000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\.dll
    Return=0
    type=REG_SZ
    data=dllfile
</pre>
<pre><b># 36073000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}
    Return=0
</pre>
<pre><b># 36076000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}
    type=REG_SZ
    data=MediaViewV1alpha8915
    Return=0
</pre>
<pre><b># 36081000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 36103000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 36108000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\NoExplorer
    type=REG_DWORD
    data=1
    Return=0
</pre>
<pre><b># 36197000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}
    Return=0
</pre>
<pre><b># 36202000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}
    type=REG_SZ
    data=MediaViewV1alpha8915
    Return=0
</pre>
<pre><b># 36210000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\Programmable
    Return=0
</pre>
<pre><b># 36218000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\InprocServer32
    Return=0
</pre>
<pre><b># 36224000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\InprocServer32
    type=REG_SZ
    data=C:\Program Files\MediaViewV1\MediaViewV1alpha8915\ie\MediaViewV1alpha8915.dll
    Return=0
</pre>
<pre><b># 36229000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\InprocServer32\ThreadingModel
    type=REG_SZ
    data=Apartment
    Return=0
</pre>
<pre><b># 36238000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\TypeLib
    Return=0
</pre>
<pre><b># 36245000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\TypeLib
    type=REG_SZ
    data={817b8e5f-ee5b-4600-885a-5bf94bffd599}
    Return=0
</pre>
<pre><b># 36256000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\Version
    Return=0
</pre>
<pre><b># 36260000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{1aedf39c-a4da-4f0f-80d9-5a8af0991f46}\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 36293000   CreateFile</b>
    hName=C:\Program Files\MediaViewV1\MediaViewV1alpha8915\ie\MediaViewV1alpha8915.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 36303000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}
    Return=0
</pre>
<pre><b># 36308000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1
    Return=0
</pre>
<pre><b># 36311000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1
    Return=2
</pre>
<pre><b># 36312000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1
    type=REG_SZ
    data=MediaViewV1alpha8915Lib
    Return=0
</pre>
<pre><b># 36316000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\FLAGS
    Return=0
</pre>
<pre><b># 36318000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\FLAGS
    Return=2
</pre>
<pre><b># 36320000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\FLAGS
    type=REG_SZ
    data=0
    Return=0
</pre>
<pre><b># 36323000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\0
    Return=0
</pre>
<pre><b># 36328000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\0\win32
    Return=0
</pre>
<pre><b># 36331000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\0\win32
    Return=2
</pre>
<pre><b># 36332000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\0\win32
    type=REG_SZ
    data=C:\Program Files\MediaViewV1\MediaViewV1alpha8915\ie\MediaViewV1alpha8915.dll
    Return=0
</pre>
<pre><b># 36337000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\HELPDIR
    Return=0
</pre>
<pre><b># 36340000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\HELPDIR
    Return=2
</pre>
<pre><b># 36341000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{817B8E5F-EE5B-4600-885A-5BF94BFFD599}\1.1\HELPDIR
    type=REG_SZ
    data=C:\Program Files\MediaViewV1\MediaViewV1alpha8915\ie
    Return=0
</pre>
<pre><b># 36346000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}
    Return=0
</pre>
<pre><b># 36350000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}
    Return=2
</pre>
<pre><b># 36351000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}
    type=REG_SZ
    data=IMediaViewV1alpha8915BHO
    Return=0
</pre>
<pre><b># 36358000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\ProxyStubClsid
    Return=0
</pre>
<pre><b># 36360000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\ProxyStubClsid
    Return=2
</pre>
<pre><b># 36363000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\ProxyStubClsid
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 36366000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 36369000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\ProxyStubClsid32
    Return=2
</pre>
<pre><b># 36371000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\ProxyStubClsid32
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 36373000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\TypeLib
    Return=0
</pre>
<pre><b># 36376000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\TypeLib
    Return=2
</pre>
<pre><b># 36377000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\TypeLib
    type=REG_SZ
    data={817B8E5F-EE5B-4600-885A-5BF94BFFD599}
    Return=0
</pre>
<pre><b># 36379000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\TypeLib\Version
    Return=2
</pre>
<pre><b># 36381000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{8AE07355-8344-41CA-9EBE-E45DF140F64F}\TypeLib\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 36442000   ExitProcess</b></pre>
</body>