<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>909ff2538563b60702e115b3384f4a8e45b9388b4e612d7bc1574ee8ca593b4f_3296.trace.hooklog Bahavior Analysis</pre>
<pre><b># 32552000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 32629000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 32598000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 32708000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 32720000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 32726000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 32732000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 32737000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 32743000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 32752000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32767000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=432
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 32884000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 32950000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 32990000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 33166000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 33167000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 32767000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 33240000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=432
</pre>
<pre><b># 33251000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33251000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33256000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33256000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33261000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33261000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33288000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{zmk3ie4i-hzng-cjnc-v5ik-1n3cuchhsx5n}
    Return=0
</pre>
<pre><b># 33291000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{zmk3ie4i-hzng-cjnc-v5ik-1n3cuchhsx5n}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 33292000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{zmk3ie4i-hzng-cjnc-v5ik-1n3cuchhsx5n}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\injyqkarh.exe⁄(Q’
    Return=0
</pre>
<pre><b># 33296000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33296000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33747000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 33747000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 33754000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33754000   CreateFile</b>
    hName=C:\Windows\System32\inldtepix.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33758000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 33758000   CreateFile</b>
    hName=C:\Windows\System32\injyqkarh.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 33987000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 33991000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 33771000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\injyqkarh.exe
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 33771000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\injyqkarh.exe
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 33771000   CreateProcess</b>
    lpCommandLine=C:\Windows\System32\injyqkarh.exe
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 34004000   ExitProcess</b></pre>
</body>