<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ab97b4a3944efb3dda525728e9742497853e7280efb6b21297a70de0e129dc6f_3220.trace.hooklog Bahavior Analysis</pre>
<pre><b># 34524000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 34598000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34568000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 34615000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 34616000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 34639000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 34651000   RegCreateKey</b>
    hKey=50\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 34651000   RegQueryValue</b>
    hKey=50\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 34659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 34659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34661000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34662000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34662000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 34662000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34664000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34664000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 34665000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 34665000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34667000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34668000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34668000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 34668000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34670000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34670000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34670000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 34670000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34674000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34674000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34674000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 34674000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34676000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34676000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 34677000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 34677000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34680000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34680000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34680000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 34680000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34682000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34682000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34683000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 34683000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34686000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34686000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34686000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 34686000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34687000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 34687000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 34687000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 34693000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 34693000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 34694000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 34705000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34804000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34828000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 34829000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 34830000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 34733000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 34910000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 34911000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 34850000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 34945000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 34946000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 34948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 34959000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 34960000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 34966000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 34967000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 34967000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 34969000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 34972000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 34974000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 35046000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 35214000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\.dll
    Return=0
    type=REG_SZ
    data=dllfile
</pre>
<pre><b># 35387000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}
    Return=0
</pre>
<pre><b># 35390000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}
    type=REG_SZ
    data=MediaPlayerV1alpha541
    Return=0
</pre>
<pre><b># 35394000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 35414000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 35419000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\NoExplorer
    type=REG_DWORD
    data=1
    Return=0
</pre>
<pre><b># 35504000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}
    Return=0
</pre>
<pre><b># 35509000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}
    type=REG_SZ
    data=MediaPlayerV1alpha541
    Return=0
</pre>
<pre><b># 35517000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\Programmable
    Return=0
</pre>
<pre><b># 35523000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\InprocServer32
    Return=0
</pre>
<pre><b># 35529000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\InprocServer32
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha541\ie\MediaPlayerV1alpha541.dll
    Return=0
</pre>
<pre><b># 35533000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\InprocServer32\ThreadingModel
    type=REG_SZ
    data=Apartment
    Return=0
</pre>
<pre><b># 35539000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\TypeLib
    Return=0
</pre>
<pre><b># 35544000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\TypeLib
    type=REG_SZ
    data={30565eed-5357-4189-a367-a99291ab7656}
    Return=0
</pre>
<pre><b># 35550000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\Version
    Return=0
</pre>
<pre><b># 35553000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{8303b1d4-65aa-4a21-8d08-8148bc3ba965}\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 35581000   CreateFile</b>
    hName=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha541\ie\MediaPlayerV1alpha541.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35590000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}
    Return=0
</pre>
<pre><b># 35595000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1
    Return=0
</pre>
<pre><b># 35598000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1
    Return=2
</pre>
<pre><b># 35599000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1
    type=REG_SZ
    data=MediaPlayerV1alpha541Lib
    Return=0
</pre>
<pre><b># 35602000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\FLAGS
    Return=0
</pre>
<pre><b># 35605000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\FLAGS
    Return=2
</pre>
<pre><b># 35606000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\FLAGS
    type=REG_SZ
    data=0
    Return=0
</pre>
<pre><b># 35609000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\0
    Return=0
</pre>
<pre><b># 35613000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\0\win32
    Return=0
</pre>
<pre><b># 35615000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\0\win32
    Return=2
</pre>
<pre><b># 35617000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\0\win32
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha541\ie\MediaPlayerV1alpha541.dll
    Return=0
</pre>
<pre><b># 35621000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\HELPDIR
    Return=0
</pre>
<pre><b># 35624000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\HELPDIR
    Return=2
</pre>
<pre><b># 35625000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{30565EED-5357-4189-A367-A99291AB7656}\1.1\HELPDIR
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha541\ie
    Return=0
</pre>
<pre><b># 35629000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}
    Return=0
</pre>
<pre><b># 35632000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}
    Return=2
</pre>
<pre><b># 35634000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}
    type=REG_SZ
    data=IMediaPlayerV1alpha541BHO
    Return=0
</pre>
<pre><b># 35637000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\ProxyStubClsid
    Return=0
</pre>
<pre><b># 35639000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\ProxyStubClsid
    Return=2
</pre>
<pre><b># 35640000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\ProxyStubClsid
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 35643000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 35646000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\ProxyStubClsid32
    Return=2
</pre>
<pre><b># 35647000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\ProxyStubClsid32
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 35650000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\TypeLib
    Return=0
</pre>
<pre><b># 35653000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\TypeLib
    Return=2
</pre>
<pre><b># 35654000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\TypeLib
    type=REG_SZ
    data={30565EED-5357-4189-A367-A99291AB7656}
    Return=0
</pre>
<pre><b># 35656000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\TypeLib\Version
    Return=2
</pre>
<pre><b># 35658000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A9FF4188-80A9-4122-BAC0-6A751C247062}\TypeLib\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 35714000   ExitProcess</b></pre>
</body>