<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>c7975850ea15fba1eab6861c348c251a5cfff05864c9c728305a7fc3f253d1df_2952.trace.hooklog Bahavior Analysis</pre>
<pre><b># 30722000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 30825000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 30776000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 30844000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 30844000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 30860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\WBEM\CIMOM\Logging
    Return=0
    type=REG_SZ
    data=1
</pre>
<pre><b># 30860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\WBEM\CIMOM\Logging Directory
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 30861000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\WBEM\CIMOM\Logging Directory
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\WBEM\Logs\
</pre>
<pre><b># 30864000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\WBEM\CIMOM\Log File Max Size
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 30864000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\WBEM\CIMOM\Log File Max Size
    Return=0
    type=REG_SZ
    data=65536
</pre>
<pre><b># 30878000   CreateFile</b>
    hName=\\.\Ip
    desiredAccess=GENERIC_EXECUTE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30878000   CreateFile</b>
    hName=\\.\Ip
    desiredAccess=GENERIC_EXECUTE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30913000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 30920000   RegCreateKey</b>
    hKey=77c\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 30920000   RegQueryValue</b>
    hKey=77c\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 30928000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30928000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30929000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 30930000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30933000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30933000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30933000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 30933000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30936000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30936000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 30936000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 30936000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30939000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30939000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30939000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 30939000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30941000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30941000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30941000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 30941000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30944000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30944000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30944000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 30945000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30947000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 30948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 30948000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30951000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30951000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30951000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 30951000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30954000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30954000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30954000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 30954000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30958000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30958000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30958000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 30958000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30959000   RegCreateKey</b>
    hKey=770\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 30960000   RegCreateKey</b>
    hKey=770\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 30960000   RegQueryValue</b>
    hKey=770\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 30966000   RegCreateKey</b>
    hKey=770\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 30966000   RegCreateKey</b>
    hKey=770\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 30966000   RegQueryValue</b>
    hKey=770\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 30972000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 31074000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31102000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 31103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 31104000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 31003000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 31191000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 31192000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 31125000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 31233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 31234000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 31239000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 31254000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 31254000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 31261000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 31262000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 31262000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 31264000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 31267000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 31269000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 31330000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 31336000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 31354000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\MaximumAllowedAllocationSize
    Return=2
</pre>
<pre><b># 31377000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31391000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31453000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateProcess
    Return=2
</pre>
<pre><b># 31453000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateObject
    Return=2
</pre>
<pre><b># 31391000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 31457000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 31457000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 31496000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 31498000   CreateFile</b>
    hName=C:\WINDOWS\Registration\R000000000007.clb
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31528000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 31540000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 31546000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\InprocServer32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\wbem\wbemprox.dll
</pre>
<pre><b># 31555000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\AppID
    Return=2
</pre>
<pre><b># 31562000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F811-1D3A-11D0-891F-00AA004B2E24}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 31627000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM
    Return=0
</pre>
<pre><b># 31627000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\Logging Directory
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 31627000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\Logging Directory
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\WBEM\Logs\
</pre>
<pre><b># 31629000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM
    Return=0
</pre>
<pre><b># 31629000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\Logging
    Return=0
    type=REG_SZ
    data=1
</pre>
<pre><b># 31629000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\Log File Max Size
    Return=0
    type=REG_SZ
    data=65536
</pre>
<pre><b># 31630000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM
    Return=0
</pre>
<pre><b># 31630000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\Repository Directory
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 31630000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\Repository Directory
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 31639000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 31644000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 31658000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\\Microsoft\\Wbem\\WMIC
    Return=0
</pre>
<pre><b># 31658000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\\Microsoft\\Wbem\\WMIC
    Return=0
</pre>
<pre><b># 31659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\\Microsoft\\Wbem\\WMIC\mofcompstatus
    Return=0
</pre>
<pre><b># 31659000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\\Microsoft\\Wbem\\WMIC\WMICLC
    Return=0
</pre>
<pre><b># 31659000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\\Microsoft\\Wbem\\WMIC\mofcompMUIStatus
    Return=0
</pre>
<pre><b># 31659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\\Microsoft\\Wbem\\WMIC\mofcompstatus
    Return=0
    type=REG_SZ
    data=1
</pre>
<pre><b># 31660000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\\Microsoft\\Wbem\\WMIC\WMICLC
    Return=0
    type=REG_DWORD
    data=1033
</pre>
<pre><b># 31660000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\\Microsoft\\Wbem\\WMIC\mofcompMUIStatus
    Return=0
    type=REG_DWORD
    data=-1
</pre>
<pre><b># 31662000   CreateFile</b>
    hName=C:\WINDOWS\system32\wbem\Cli.mof
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31663000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\\Microsoft\\Wbem\\WMIC\Cli.mof
    Return=0
    type=REG_SZ
    data=128526480000000000
</pre>
<pre><b># 31664000   CreateFile</b>
    hName=C:\WINDOWS\system32\wbem\CliEgAliases.mof
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31667000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\\Microsoft\\Wbem\\WMIC\CliEgAliases.mof
    Return=0
    type=REG_SZ
    data=128526480000000000
</pre>
<pre><b># 31668000   CreateFile</b>
    hName=C:\WINDOWS\system32\wbem\CliEgAliases.mfl
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31670000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\\Microsoft\\Wbem\\WMIC\CliEgAliases.mfl
    Return=0
    type=REG_SZ
    data=128526480000000000
</pre>
<pre><b># 31672000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Wbem\CIMOM\Logging
    Return=0
    type=REG_SZ
    data=1
</pre>
<pre><b># 31672000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Wbem\CIMOM\Logging Directory
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 31672000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Wbem\CIMOM\Logging Directory
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\WBEM\Logs\
</pre>
<pre><b># 31672000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Wbem\CIMOM\Log File Max Size
    Return=0
    type=REG_SZ
    data=65536
</pre>
<pre><b># 31674000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 31677000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 31685000   RegQueryValue</b>
    hKey=73a\CLSID\{F6D90F12-9C73-11D3-B32E-00C04F990BB4}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 31691000   RegQueryValue</b>
    hKey=73a\CLSID\{F6D90F12-9C73-11D3-B32E-00C04F990BB4}\InprocServer32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\msxml3.dll
</pre>
<pre><b># 31699000   RegQueryValue</b>
    hKey=73a\CLSID\{F6D90F12-9C73-11D3-B32E-00C04F990BB4}\AppID
    Return=2
</pre>
<pre><b># 31707000   RegQueryValue</b>
    hKey=73a\CLSID\{F6D90F12-9C73-11D3-B32E-00C04F990BB4}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 31792000   CreateFile</b>
    hName=C:\WINDOWS\system32\msxml3r.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31986000   LoadLibrary</b>
    lpFileName=OLEAUT32.dll
    Return=SUCCESS
</pre>
<pre><b># 32120000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 32156000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Internet Settings\DisableImprovedZoneCheck
    Return=2
</pre>
<pre><b># 32165000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_OBJECT_CACHING\WMIC.exe
    Return=2
</pre>
<pre><b># 32165000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_OBJECT_CACHING\*
    Return=2
</pre>
<pre><b># 32166000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_ZONE_ELEVATION\WMIC.exe
    Return=2
</pre>
<pre><b># 32166000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_ZONE_ELEVATION\*
    Return=2
</pre>
<pre><b># 32167000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_MIME_HANDLING\WMIC.exe
    Return=2
</pre>
<pre><b># 32167000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_MIME_HANDLING\*
    Return=2
</pre>
<pre><b># 32168000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_MIME_SNIFFING\WMIC.exe
    Return=2
</pre>
<pre><b># 32168000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_MIME_SNIFFING\*
    Return=2
</pre>
<pre><b># 32168000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_WINDOW_RESTRICTIONS\WMIC.exe
    Return=2
</pre>
<pre><b># 32168000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_WINDOW_RESTRICTIONS\*
    Return=2
</pre>
<pre><b># 32170000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_WEBOC_POPUPMANAGEMENT\WMIC.exe
    Return=2
</pre>
<pre><b># 32170000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_WEBOC_POPUPMANAGEMENT\*
    Return=2
</pre>
<pre><b># 32171000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_BEHAVIORS\WMIC.exe
    Return=2
</pre>
<pre><b># 32171000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_BEHAVIORS\*
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 32172000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_DISABLE_MK_PROTOCOL\WMIC.exe
    Return=2
</pre>
<pre><b># 32172000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_DISABLE_MK_PROTOCOL\*
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 32172000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_LOCALMACHINE_LOCKDOWN\WMIC.exe
    Return=2
</pre>
<pre><b># 32172000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_LOCALMACHINE_LOCKDOWN\*
    Return=2
</pre>
<pre><b># 32173000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_LOCALMACHINE_LOCKDOWN\WMIC.exe
    Return=2
</pre>
<pre><b># 32173000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_LOCALMACHINE_LOCKDOWN\*
    Return=2
</pre>
<pre><b># 32176000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_PROTOCOL_LOCKDOWN\WMIC.exe
    Return=2
</pre>
<pre><b># 32176000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_PROTOCOL_LOCKDOWN\*
    Return=2
</pre>
<pre><b># 32177000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_SAFE_BINDTOOBJECT\WMIC.exe
    Return=2
</pre>
<pre><b># 32177000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_SAFE_BINDTOOBJECT\*
    Return=2
</pre>
<pre><b># 31999000   LoadLibrary</b>
    lpFileName=urlmon.dll
    Return=SUCCESS
</pre>
<pre><b># 32212000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 32429000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 32361000   LoadLibrary</b>
    lpFileName=mlang.dll
    Return=SUCCESS
</pre>
<pre><b># 32476000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\.xml\Content Type
    Return=0
    type=REG_SZ
    data=text/xml
</pre>
<pre><b># 32481000   CreateFile</b>
    hName=C:\WINDOWS\system32\wbem\XSL-Mappings.xml
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32483000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Internet Settings\IsTextPlainHonored
    Return=2
</pre>
<pre><b># 32758000   CreateFile</b>
    hName=TempWmicBatchFile.bat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 32788000   CreateFile</b>
    hName=CONIN$
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32788000   CreateFile</b>
    hName=TempWmicBatchFile.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32817000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32820000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32840000   RegQueryValue</b>
    hKey=73a\CLSID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\AppID
    Return=0
    type=REG_SZ
    data={8BC3F05E-D86B-11D0-A075-00C04FB68820}
</pre>
<pre><b># 32842000   RegQueryValue</b>
    hKey=73a\AppID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\DllSurrogate
    Return=2
</pre>
<pre><b># 32844000   RegQueryValue</b>
    hKey=73a\AppID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\LocalService
    Return=0
</pre>
<pre><b># 32857000   CreateThread</b>
    dwThreadId=519396
    Return=SUCCESS
</pre>
<pre><b># 32875000   LoadLibrary</b>
    lpFileName=OLE32
    Return=SUCCESS
</pre>
<pre><b># 32887000   CreateThread</b>
    dwThreadId=519876
    Return=SUCCESS
</pre>
<pre><b># 32896000   LoadLibrary</b>
    lpFileName=OLE32.DLL
    Return=SUCCESS
</pre>
<pre><b># 32952000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{F309AD18-D86A-11D0-A075-00C04FB68820}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={7C857801-7381-11CF-884D-00AA004B2E24}
</pre>
<pre><b># 32955000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32958000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 32966000   RegQueryValue</b>
    hKey=73a\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 32972000   RegQueryValue</b>
    hKey=73a\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\InprocServer32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\wbem\wbemsvc.dll
</pre>
<pre><b># 32980000   RegQueryValue</b>
    hKey=73a\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\AppID
    Return=2
</pre>
<pre><b># 32990000   RegQueryValue</b>
    hKey=73a\CLSID\{7C857801-7381-11CF-884D-00AA004B2E24}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 33049000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33063000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{D4781CD6-E5D3-44DF-AD94-930EFE48A887}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={7C857801-7381-11CF-884D-00AA004B2E24}
</pre>
<pre><b># 33085000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{9556DC99-828C-11CF-A37E-00AA003240C7}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={D68AF00A-29CB-43FA-8504-CE99A996D9EA}
</pre>
<pre><b># 33088000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 33091000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 33099000   RegQueryValue</b>
    hKey=73a\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 33105000   RegQueryValue</b>
    hKey=73a\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\InprocServer32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\wbem\fastprox.dll
</pre>
<pre><b># 33114000   RegQueryValue</b>
    hKey=73a\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\AppID
    Return=2
</pre>
<pre><b># 33124000   RegQueryValue</b>
    hKey=73a\CLSID\{D68AF00A-29CB-43FA-8504-CE99A996D9EA}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 33224000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters
    Return=0
</pre>
<pre><b># 33225000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\QueryAdapterName
    Return=2
</pre>
<pre><b># 33225000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DisableAdapterDomainName
    Return=2
</pre>
<pre><b># 33225000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UseDomainNameDevolution
    Return=2
</pre>
<pre><b># 33226000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\UseDomainNameDevolution
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 33226000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\PrioritizeRecordData
    Return=2
</pre>
<pre><b># 33226000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\PrioritizeRecordData
    Return=2
</pre>
<pre><b># 33226000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\AllowUnqualifiedQuery
    Return=2
</pre>
<pre><b># 33226000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\AllowUnqualifiedQuery
    Return=2
</pre>
<pre><b># 33227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\AppendToMultiLabelName
    Return=2
</pre>
<pre><b># 33227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\ScreenBadTlds
    Return=2
</pre>
<pre><b># 33227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\ScreenUnreachableServers
    Return=2
</pre>
<pre><b># 33227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\FilterClusterIp
    Return=2
</pre>
<pre><b># 33227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\WaitForNameErrorOnAll
    Return=2
</pre>
<pre><b># 33227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UseEdns
    Return=2
</pre>
<pre><b># 33228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\QueryIpMatching
    Return=2
</pre>
<pre><b># 33228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UseHostsFile
    Return=2
</pre>
<pre><b># 33228000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationEnabled
    Return=2
</pre>
<pre><b># 33229000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DisableDynamicUpdate
    Return=2
</pre>
<pre><b># 33229000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterPrimaryName
    Return=2
</pre>
<pre><b># 33229000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterAdapterName
    Return=2
</pre>
<pre><b># 33229000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\EnableAdapterDomainNameRegistration
    Return=2
</pre>
<pre><b># 33229000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterReverseLookup
    Return=2
</pre>
<pre><b># 33229000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DisableReverseAddressRegistrations
    Return=2
</pre>
<pre><b># 33230000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegisterWanAdapters
    Return=2
</pre>
<pre><b># 33230000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DisableWanDynamicUpdate
    Return=2
</pre>
<pre><b># 33230000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationTtl
    Return=2
</pre>
<pre><b># 33231000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DefaultRegistrationTTL
    Return=2
</pre>
<pre><b># 33231000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationRefreshInterval
    Return=2
</pre>
<pre><b># 33231000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DefaultRegistrationRefreshInterval
    Return=2
</pre>
<pre><b># 33231000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\RegistrationMaxAddressCount
    Return=2
</pre>
<pre><b># 33231000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\MaxNumberOfAddressesToRegister
    Return=2
</pre>
<pre><b># 33232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UpdateSecurityLevel
    Return=2
</pre>
<pre><b># 33232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\UpdateSecurityLevel
    Return=2
</pre>
<pre><b># 33232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UpdateZoneExcludeFile
    Return=2
</pre>
<pre><b># 33232000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\UpdateTopLevelDomainZones
    Return=2
</pre>
<pre><b># 33233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\DnsTest
    Return=2
</pre>
<pre><b># 33233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxCacheSize
    Return=2
</pre>
<pre><b># 33233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxCacheTtl
    Return=2
</pre>
<pre><b># 33233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxNegativeCacheTtl
    Return=2
</pre>
<pre><b># 33233000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\AdapterTimeoutLimit
    Return=2
</pre>
<pre><b># 33234000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\ServerPriorityTimeLimit
    Return=2
</pre>
<pre><b># 33234000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MaxCachedSockets
    Return=2
</pre>
<pre><b># 33234000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MulticastListenLevel
    Return=2
</pre>
<pre><b># 33234000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\DnsCache\Parameters\MulticastSendLevel
    Return=2
</pre>
<pre><b># 33235000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 33235000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DnsQueryTimeouts
    Return=2
</pre>
<pre><b># 33236000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DnsQuickQueryTimeouts
    Return=2
</pre>
<pre><b># 33236000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\Tcpip\Parameters\DnsMulticastQueryTimeouts
    Return=2
</pre>
<pre><b># 33241000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 33243000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\ProcessID
    Return=0
    type=REG_DWORD
    data=848
</pre>
<pre><b># 33243000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\EnablePrivateObjectHeap
    Return=2
</pre>
<pre><b># 33243000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\ContextLimit
    Return=2
</pre>
<pre><b># 33243000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\ObjectLimit
    Return=2
</pre>
<pre><b># 33243000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\IdentifierLimit
    Return=2
</pre>
<pre><b># 33396000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 33399000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 33407000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F812-1D3A-11D0-891F-00AA004B2E24}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 33413000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F812-1D3A-11D0-891F-00AA004B2E24}\InprocServer32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\wbem\fastprox.dll
</pre>
<pre><b># 33422000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F812-1D3A-11D0-891F-00AA004B2E24}\AppID
    Return=2
</pre>
<pre><b># 33432000   RegQueryValue</b>
    hKey=73a\CLSID\{4590F812-1D3A-11D0-891F-00AA004B2E24}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 33440000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\WBEM\CIMOM\EnableObjectValidation
    Return=2
</pre>
<pre><b># 33446000   CreateFile</b>
    hName=C:\WINDOWS\system32\WBEM\Logs\WMIC.LOG
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 33482000   DeleteFile</b>
    fileName=TempWmicBatchFile.bat
    Return=FAILURE
</pre>
<pre><b># 33898000   ExitProcess</b></pre>
</body>