<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>d093c08d270cd3a7db7c154877c5a132b818e7e4f2b88415616de6fccf500708_3212.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23999000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 24079000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24047000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 24126000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 24126000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 24348000   LoadLibrary</b>
    lpFileName=advapi32
    Return=SUCCESS
</pre>
<pre><b># 24350000   LoadLibrary</b>
    lpFileName=mpr
    Return=SUCCESS
</pre>
<pre><b># 24462000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24530000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 24570000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24370000   LoadLibrary</b>
    lpFileName=sfc
    Return=SUCCESS
</pre>
<pre><b># 24798000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24798000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 24801000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24801000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\system32\Wqk.dll
    Return=SUCCESS
</pre>
<pre><b># 24807000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24807000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24818000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 24824000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 24835000   CreateFile</b>
    hName=\\.\PIPE\SfcApi
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24840000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 24840000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 24842000   CreateThread</b>
    dwThreadId=1245084
    Return=SUCCESS
</pre>
<pre><b># 24845000   CreateThread</b>
    dwThreadId=11140796
    Return=SUCCESS
</pre>
<pre><b># 24847000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\control\NetworkProvider\HwOrder\ProviderOrder
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 24854000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\control\NetworkProvider\HwOrder\ProviderOrder
    Return=0
    type=REG_SZ
    data=RDPNP,LanmanWorkstation,WebClient
</pre>
<pre><b># 24855000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 24855000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=Microsoft Terminal Services
</pre>
<pre><b># 24855000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\Class
    Return=2
</pre>
<pre><b># 24855000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 24855000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 24860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 24860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=Microsoft Windows Network
</pre>
<pre><b># 24860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\Class
    Return=2
</pre>
<pre><b># 24860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 24860000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 24862000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 24862000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=Web Client Network
</pre>
<pre><b># 24862000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\Class
    Return=2
</pre>
<pre><b># 24862000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 24866000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 24919000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\RDPNP\NetworkProvider\Name
    Return=0
</pre>
<pre><b># 25166000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25166000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25178000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 25178000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 25186000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\WebClient\NetworkProvider\Name
    Return=0
    type=REG_SZ
    data=Web Client Network
</pre>
<pre><b># 25497000   CreateFile</b>
    hName=\\.\PIPE\DAV RPC SERVICE
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25560000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25571000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25621000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25627000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25628000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25644000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25657000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25659000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25662000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 25666000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 25668000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 25670000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 25696000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25696000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25706000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 25706000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 25708000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 25708000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 25729000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\HP710C
    Return=0
</pre>
<pre><b># 25734000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25734000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Star Wars Episode 2 - Attack Of The Clones Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25741000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25741000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Jenna Jameson - Built For Speed Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25746000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25746000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\[DiVX] Lord of The Rings Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25753000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25753000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\[DiVX] Harry Potter And The Sorcerors Stone Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25759000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25759000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\CKY3 - Bam Margera World Industries Alien Workshop Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25765000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25765000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Cat Attacks Child Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25771000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25771000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\PS1 Boot Disc Full Dwonloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25777000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25777000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Sony Play station boot disc - Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25783000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25783000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\How To Hack Websites.exe
    Return=SUCCESS
</pre>
<pre><b># 25788000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25788000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\AIM Account Stealer Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25794000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25794000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\MSN Password Hacker and Stealer.exe
    Return=SUCCESS
</pre>
<pre><b># 25799000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25799000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Hacking Tool Collection.exe
    Return=SUCCESS
</pre>
<pre><b># 25805000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25805000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Windows XP Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25811000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25811000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Macromedia Flash 5.0 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25833000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25835000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25835000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25844000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 25833000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\DSL Modem Uncapper.exe
    Return=SUCCESS
</pre>
<pre><b># 25846000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 25851000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25851000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Internet and Computer Speed Booster.exe
    Return=SUCCESS
</pre>
<pre><b># 25871000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25874000   CreateFile</b>
    hName=c:\aiolog.txt
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25874000   CreateFile</b>
    hName=c:\aiolog.txt
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25871000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\ZoneAlarm Firewall Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25888000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25892000   CreateFile</b>
    hName=\\.\PIPE\browser
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25888000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Borland Delphi 6 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 25910000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25910000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\ScaryMovie 2 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25930000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25929000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25953000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25929000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\StarWars2 - CloneAttack - FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25960000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25960000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Spiderman FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25972000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25972000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Shakira FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 25984000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25986000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25984000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Gladiator FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 26029000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26029000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\AikaQuest3Hentai FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 26041000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LanmanWorkstation\NetworkProvider\Name
    Return=0
    type=REG_SZ
    data=Microsoft Windows Network
</pre>
<pre><b># 26042000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26039000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\MoviezChannelsInstaler.exe
    Return=SUCCESS
</pre>
<pre><b># 26056000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26060000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26056000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Zidane-ScreenInstaler.exe
    Return=SUCCESS
</pre>
<pre><b># 26074000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26086000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26086000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\LordOfTheRings-FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 26101000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26101000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\SIMS FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 26110000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26110000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Britney spears nude.exe
    Return=SUCCESS
</pre>
<pre><b># 26121000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26121000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Quake 4 BETA.exe
    Return=SUCCESS
</pre>
<pre><b># 26165000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26116000   LoadLibrary</b>
    lpFileName=cscdll.dll
    Return=SUCCESS
</pre>
<pre><b># 26169000   CreateFile</b>
    hName=\\.\shadow
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26169000   CreateFile</b>
    hName=\\.\shadow
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26165000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Windows XP key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 26180000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26185000   CreateFile</b>
    hName=\\.\PIPE\browser
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26180000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Windows XP serial generator.exe
    Return=SUCCESS
</pre>
<pre><b># 26197000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26197000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Xbox.info.exe
    Return=SUCCESS
</pre>
<pre><b># 26237000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26237000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\DivX.exe
    Return=SUCCESS
</pre>
<pre><b># 26249000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26252000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26252000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\GTA3 crack.exe
    Return=SUCCESS
</pre>
<pre><b># 26264000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26268000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26264000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Battle.net key generator (WORKS!!).exe
    Return=SUCCESS
</pre>
<pre><b># 26276000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26276000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Warcraft 3 battle.net serial generator.exe
    Return=SUCCESS
</pre>
<pre><b># 26288000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26288000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Half-life WON key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 26299000   CreateFile</b>
    hName=\\.\PIPE\srvsvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26305000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26305000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Star wars episode 2 downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 26371000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26383000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26376000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26371000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Winzip 8.0 + serial.exe
    Return=SUCCESS
</pre>
<pre><b># 26392000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 26393000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 26420000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26420000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Winrar + crack.exe
    Return=SUCCESS
</pre>
<pre><b># 26428000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26428000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Key generator for all windows XP versions.exe
    Return=SUCCESS
</pre>
<pre><b># 26464000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26464000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Warcraft 3 ONLINE key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 26498000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26498000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Half-life ONLINE key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 26514000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26506000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26509000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26531000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 26531000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 26509000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Grand theft auto 3 CD1 crack.exe
    Return=SUCCESS
</pre>
<pre><b># 26543000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26543000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Macromedia key generator (all products).exe
    Return=SUCCESS
</pre>
<pre><b># 26564000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26564000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\KaZaA media desktop v2.0 UNOFFICIAL.exe
    Return=SUCCESS
</pre>
<pre><b># 26583000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26583000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Microsoft key generator, works for ALL microsoft products!!.exe
    Return=SUCCESS
</pre>
<pre><b># 26622000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26622000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Microsoft Windows XP crack pack.exe
    Return=SUCCESS
</pre>
<pre><b># 26652000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26652000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Hack into any computer!!.exe
    Return=SUCCESS
</pre>
<pre><b># 26663000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star Wars Episode 2 - Attack Of The Clones Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26663000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star Wars Episode 2 - Attack Of The Clones Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26668000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Jenna Jameson - Built For Speed Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26667000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Jenna Jameson - Built For Speed Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26671000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Lord of The Rings Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26671000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Lord of The Rings Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26676000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Harry Potter And The Sorcerors Stone Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26676000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Harry Potter And The Sorcerors Stone Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26680000   CreateFile</b>
    hName=C:\WINDOWS\Temp\CKY3 - Bam Margera World Industries Alien Workshop Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26680000   CreateFile</b>
    hName=C:\WINDOWS\Temp\CKY3 - Bam Margera World Industries Alien Workshop Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26685000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Cat Attacks Child Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26685000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Cat Attacks Child Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26689000   CreateFile</b>
    hName=C:\WINDOWS\Temp\PS1 Boot Disc Full Dwonloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26689000   CreateFile</b>
    hName=C:\WINDOWS\Temp\PS1 Boot Disc Full Dwonloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26693000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Sony Play station boot disc - Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26693000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Sony Play station boot disc - Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26696000   CreateFile</b>
    hName=C:\WINDOWS\Temp\How To Hack Websites.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26696000   CreateFile</b>
    hName=C:\WINDOWS\Temp\How To Hack Websites.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26700000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AIM Account Stealer Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26700000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AIM Account Stealer Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26704000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MSN Password Hacker and Stealer.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26704000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MSN Password Hacker and Stealer.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26708000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hacking Tool Collection.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26708000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hacking Tool Collection.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26713000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26713000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26716000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia Flash 5.0 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26716000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia Flash 5.0 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26720000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DSL Modem Uncapper.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26720000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DSL Modem Uncapper.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26724000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Internet and Computer Speed Booster.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26724000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Internet and Computer Speed Booster.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26728000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ZoneAlarm Firewall Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26728000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ZoneAlarm Firewall Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26732000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Borland Delphi 6 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26732000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Borland Delphi 6 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26736000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ScaryMovie 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26736000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ScaryMovie 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26740000   CreateFile</b>
    hName=C:\WINDOWS\Temp\StarWars2 - CloneAttack - FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26740000   CreateFile</b>
    hName=C:\WINDOWS\Temp\StarWars2 - CloneAttack - FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26743000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Spiderman FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26743000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Spiderman FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26746000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Shakira FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26746000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Shakira FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26750000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Gladiator FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26750000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Gladiator FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26754000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AikaQuest3Hentai FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26754000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AikaQuest3Hentai FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26757000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MoviezChannelsInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26757000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MoviezChannelsInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26761000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Zidane-ScreenInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26760000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Zidane-ScreenInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26766000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26766000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26771000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 26772000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 26766000   CreateFile</b>
    hName=C:\WINDOWS\Temp\LordOfTheRings-FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26766000   CreateFile</b>
    hName=C:\WINDOWS\Temp\LordOfTheRings-FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26775000   CreateFile</b>
    hName=C:\WINDOWS\Temp\SIMS FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26775000   CreateFile</b>
    hName=C:\WINDOWS\Temp\SIMS FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26779000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Britney spears nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26779000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Britney spears nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26782000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Quake 4 BETA.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26782000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Quake 4 BETA.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26786000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26785000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26789000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26789000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26792000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Xbox.info.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26792000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Xbox.info.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26795000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DivX.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26795000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DivX.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26798000   CreateFile</b>
    hName=C:\WINDOWS\Temp\GTA3 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26798000   CreateFile</b>
    hName=C:\WINDOWS\Temp\GTA3 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26802000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Battle.net key generator (WORKS!!).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26802000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Battle.net key generator (WORKS!!).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26805000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 battle.net serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26805000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 battle.net serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26809000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life WON key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26809000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life WON key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26815000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star wars episode 2 downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26814000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star wars episode 2 downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26818000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winzip 8.0 + serial.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26818000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winzip 8.0 + serial.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26821000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winrar + crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26821000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winrar + crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26825000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Key generator for all windows XP versions.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26825000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Key generator for all windows XP versions.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26829000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26829000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26833000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26832000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26836000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Grand theft auto 3 CD1 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26836000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Grand theft auto 3 CD1 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26843000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26839000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26847000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 26847000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 26841000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia key generator (all products).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26841000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia key generator (all products).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26851000   CreateFile</b>
    hName=C:\WINDOWS\Temp\KaZaA media desktop v2.0 UNOFFICIAL.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26851000   CreateFile</b>
    hName=C:\WINDOWS\Temp\KaZaA media desktop v2.0 UNOFFICIAL.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26857000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft key generator, works for ALL microsoft products!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26857000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft key generator, works for ALL microsoft products!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26861000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft Windows XP crack pack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26861000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft Windows XP crack pack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26865000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hack into any computer!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26864000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hack into any computer!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26867000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26867000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\dextor32.exe
    Return=SUCCESS
</pre>
<pre><b># 26872000   ExitProcess</b></pre>
</body>