<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff0203b682aa62f1d93c7fbc37915f0_428.trace.hooklog Bahavior Analysis</pre>
<pre><b># 21380000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 24384000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 27392000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 30399000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 33412000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 36413000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 39415000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 42411000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
<pre><b># 48483000   CreateThread</b>
    dwThreadId=12320244
    Return=SUCCESS
</pre>
</body>