<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff0203b682aa62f1d93c7fbc37915f0_3212.trace.hooklog Bahavior Analysis</pre>
<pre><b># 25684000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25754000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25727000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 25829000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25841000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 25846000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 25852000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 25856000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 25861000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 25871000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25881000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=428
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 25972000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26036000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 26075000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26275000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 26276000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 25881000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 26344000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=428
</pre>
<pre><b># 26354000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26354000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26359000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26359000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26364000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26364000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26381000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{mkxpbrzh-whsc-dtib-tjpf-3shgwomkozmm}
    Return=0
</pre>
<pre><b># 26383000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{mkxpbrzh-whsc-dtib-tjpf-3shgwomkozmm}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 26384000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{mkxpbrzh-whsc-dtib-tjpf-3shgwomkozmm}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\inpsutmlb.exeö®Ç∏
    Return=0
</pre>
<pre><b># 26387000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26387000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26794000   CreateFile</b>
    hName=C:\Windows\System32\inpsutmlb.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 26794000   CreateFile</b>
    hName=C:\Windows\System32\inpsutmlb.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 26801000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26801000   CreateFile</b>
    hName=C:\Windows\System32\inhwoipfi.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26806000   CreateFile</b>
    hName=C:\Windows\System32\inpsutmlb.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 26805000   CreateFile</b>
    hName=C:\Windows\System32\inpsutmlb.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 26999000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 27002000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26816000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\inpsutmlb.exe
    Return=SUCCESS
    dwProcessId=3228
    dwThreadId=3232
</pre>
<pre><b># 26816000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\inpsutmlb.exe
    Return=SUCCESS
    dwProcessId=3228
    dwThreadId=3232
</pre>
<pre><b># 26816000   CreateProcess</b>
    lpCommandLine=C:\Windows\System32\inpsutmlb.exe
    Return=SUCCESS
    dwProcessId=3228
    dwThreadId=3232
</pre>
<pre><b># 27011000   ExitProcess</b></pre>
</body>