<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff3357d3bf495777ed8909a2a6fdcf0_3148.trace.hooklog Bahavior Analysis</pre>
<pre><b># 29885000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 29971000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29942000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 29982000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 29993000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 29993000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 29994000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 29994000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 29994000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 29995000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\PathCompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 29995000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\AutoRun
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 29996000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 29997000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 29997000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 29997000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 29997000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=9
</pre>
<pre><b># 29998000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\PathCompletionChar
    Return=2
</pre>
<pre><b># 29998000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\AutoRun
    Return=2
</pre>
<pre><b># 30110000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30114000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 30118000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30120000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30150000   DeleteFile</b>
    fileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
</pre>
<pre><b># 30154000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30172000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30193000   DeleteFile</b>
    fileName=c:\$$$$$.bat
    Return=SUCCESS
</pre>
<pre><b># 30196000   CreateFile</b>
    hName=c:\$$$$$.bat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 30205000   ExitProcess</b></pre>
</body>