<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff35f94cfc3052d1b9675a3e6660fe0_3196.trace.hooklog Bahavior Analysis</pre>
<pre><b># 19791000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 19870000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 19840000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 19911000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 19911000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 20575000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20583000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20585000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20596000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20598000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20600000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 20603000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 20608000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 20659000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Setup\Version
    Return=2
</pre>
<pre><b># 20659000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Setup\Version
    type=REG_DWORD
    data=131
    Return=0
</pre>
<pre><b># 20662000   CreateFile</b>
    hName=C:\WINDOWS\system32\winxcfg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20662000   CreateFile</b>
    hName=C:\WINDOWS\system32\winxcfg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20666000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\winxcfg.exe
    type=REG_SZ
    data=C:\WINDOWS\system32\winxcfg.exe
    Return=0
</pre>
<pre><b># 20669000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20668000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20851000   RegSetValue</b>
    hKey=0\DisableSharing
    type=REG_DWORD
    data=0
    Return=6
</pre>
<pre><b># 20851000   RegSetValue</b>
    hKey=0\Dir98
    type=REG_SZ
    data=012345:C:\WINDOWS\system32\macromd
    Return=6
</pre>
<pre><b># 20853000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\teen tied up and raped.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20853000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\teen tied up and raped.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20856000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\password stealer.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20856000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\password stealer.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20860000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\girls gone wild.mpg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20860000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\girls gone wild.mpg.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20864000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\aimcracker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20864000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\aimcracker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20867000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Napster Clone.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20866000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Napster Clone.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20870000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\MSN.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20870000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\MSN.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20872000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20872000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20876000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Cable Modem Uncapper.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20876000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\Cable Modem Uncapper.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20880000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\yahoo hacker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20880000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\yahoo hacker.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20884000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\blonde with titts and cunt sending chills thru cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20884000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\blonde with titts and cunt sending chills thru cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20889000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\amateur spreading more fine ass than stud can handle.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20889000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\amateur spreading more fine ass than stud can handle.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20893000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\teen with her legs wide and fingers in her wet cunt.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20893000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\teen with her legs wide and fingers in her wet cunt.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20897000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\huge titty blonde taking in a full 12 inch cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20897000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\huge titty blonde taking in a full 12 inch cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20901000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\gangbang tryout with young slut and two studs.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20901000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\gangbang tryout with young slut and two studs.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20905000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\candy stripper getting down on sick mans cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20905000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\candy stripper getting down on sick mans cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20911000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\tiny girl opening hole in crazy wish of cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20911000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\tiny girl opening hole in crazy wish of cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20923000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\cute blonde cheerleader dancing.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20923000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\cute blonde cheerleader dancing.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20928000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hot hungry sluts sucking cum for a line of coke.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20928000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\hot hungry sluts sucking cum for a line of coke.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20933000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nasty chick in hardcore fucking.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20933000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\nasty chick in hardcore fucking.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20937000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\showing some hot girls share cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20937000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\showing some hot girls share cock.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20941000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\asian girls stuffed mouth shots.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20941000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\asian girls stuffed mouth shots.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20947000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\girls with cock in hand and mouths fill with cum .mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20947000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\girls with cock in hand and mouths fill with cum .mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20952000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\jessica shows us her fat fisting.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20952000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\jessica shows us her fat fisting.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20956000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\gay super heros and fairys.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20956000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\gay super heros and fairys.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20960000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\two dudes comparing dick sizes.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20960000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\two dudes comparing dick sizes.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20964000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\wild hoe showing spreading the pink.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20964000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\wild hoe showing spreading the pink.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20968000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\sexy fucked tranny babe.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20968000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\sexy fucked tranny babe.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20974000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\young and mature babes working soft juggs.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20973000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\young and mature babes working soft juggs.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20978000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\toon tramps strutting around.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20978000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\toon tramps strutting around.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20982000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\couple beach vacation fucking.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20982000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\couple beach vacation fucking.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20986000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\sizzling slut flashing outdoors.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 20986000   CreateFile</b>
    hName=C:\WINDOWS\system32\macromd\sizzling slut flashing outdoors.mpg.pif
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21004000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Lucida San
    Return=0
</pre>
<pre><b># 21005000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Tah
    Return=0
</pre>
<pre><b># 21006000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Microsoft 
    Return=0
</pre>
<pre><b># 21167000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 21170000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 21172000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 21300000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 21302000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 21314000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21323000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21380000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 21338000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 21393000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 21395000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21401000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
</body>