<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff669f3bb3ec4c7ae6ad373cf42d2e0_3312.trace.hooklog Bahavior Analysis</pre>
<pre><b># 41035000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 42476000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 42099000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 42821000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 43431000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 44222000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 46526000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 46527000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 46652000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 46669000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\install\picture.exe
    Return=SUCCESS
</pre>
<pre><b># 46670000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\install\picture.exe
    Return=SUCCESS
</pre>
<pre><b># 46670000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\install\picture.exe
    Return=SUCCESS
</pre>
<pre><b># 46670000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\install\picture.exe
    Return=SUCCESS
</pre>
<pre><b># 47227000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
</body>