<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff77884c07585bf072a4955b641c530_3160.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20354000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20502000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20399000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 20560000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 20560000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 20774000   LoadLibrary</b>
    lpFileName=advapi32
    Return=SUCCESS
</pre>
<pre><b># 20776000   LoadLibrary</b>
    lpFileName=mpr
    Return=SUCCESS
</pre>
<pre><b># 20899000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20964000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 21002000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20806000   LoadLibrary</b>
    lpFileName=sfc
    Return=SUCCESS
</pre>
<pre><b># 21233000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 21233000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 21235000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21235000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\system32\Wqk.dll
    Return=SUCCESS
</pre>
<pre><b># 21242000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21242000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21256000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 21264000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 21275000   CreateFile</b>
    hName=\\.\PIPE\SfcApi
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21280000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 21280000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 21282000   CreateThread</b>
    dwThreadId=1245084
    Return=SUCCESS
</pre>
<pre><b># 21286000   CreateThread</b>
    dwThreadId=11140796
    Return=SUCCESS
</pre>
<pre><b># 21293000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\control\NetworkProvider\HwOrder\ProviderOrder
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21294000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\control\NetworkProvider\HwOrder\ProviderOrder
    Return=0
    type=REG_SZ
    data=RDPNP,LanmanWorkstation,WebClient
</pre>
<pre><b># 21294000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21294000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=Microsoft Terminal Services
</pre>
<pre><b># 21298000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\Class
    Return=2
</pre>
<pre><b># 21298000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 21298000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\RDPNP\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 21300000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21300000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=Microsoft Windows Network
</pre>
<pre><b># 21300000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\Class
    Return=2
</pre>
<pre><b># 21302000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 21303000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\LanmanWorkstation\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 21304000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 21307000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\name
    Return=0
    type=REG_SZ
    data=Web Client Network
</pre>
<pre><b># 21307000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\Class
    Return=2
</pre>
<pre><b># 21308000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 21308000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\system\CurrentControlSet\services\WebClient\NetworkProvider\ProviderPath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 21358000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\RDPNP\NetworkProvider\Name
    Return=0
</pre>
<pre><b># 21601000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21601000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21622000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 21623000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 21634000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\WebClient\NetworkProvider\Name
    Return=0
    type=REG_SZ
    data=Web Client Network
</pre>
<pre><b># 21943000   CreateFile</b>
    hName=\\.\PIPE\DAV RPC SERVICE
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21964000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21980000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21982000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21997000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22005000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22008000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22026000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22028000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22034000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 22038000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 22042000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 22044000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 22100000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\HP710C
    Return=0
</pre>
<pre><b># 22105000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22105000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Star Wars Episode 2 - Attack Of The Clones Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22111000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22111000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Jenna Jameson - Built For Speed Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22117000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22117000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\[DiVX] Lord of The Rings Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22124000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22124000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\[DiVX] Harry Potter And The Sorcerors Stone Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22131000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22130000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\CKY3 - Bam Margera World Industries Alien Workshop Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22138000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22140000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22137000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22146000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 22147000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 22149000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 22149000   CreateFile</b>
    hName=c:\documents and settings\all users\desktop\malware.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 22138000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Cat Attacks Child Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22155000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22155000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\PS1 Boot Disc Full Dwonloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22160000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22160000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Sony Play station boot disc - Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22165000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22165000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\How To Hack Websites.exe
    Return=SUCCESS
</pre>
<pre><b># 22171000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22171000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\AIM Account Stealer Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22179000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22179000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\MSN Password Hacker and Stealer.exe
    Return=SUCCESS
</pre>
<pre><b># 22185000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22185000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Hacking Tool Collection.exe
    Return=SUCCESS
</pre>
<pre><b># 22190000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22190000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Windows XP Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22196000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22195000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Macromedia Flash 5.0 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22201000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22201000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\DSL Modem Uncapper.exe
    Return=SUCCESS
</pre>
<pre><b># 22206000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22206000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Internet and Computer Speed Booster.exe
    Return=SUCCESS
</pre>
<pre><b># 22214000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22214000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\ZoneAlarm Firewall Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22223000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22223000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Borland Delphi 6 Key Generator.exe
    Return=SUCCESS
</pre>
<pre><b># 22229000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22229000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\ScaryMovie 2 Full Downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22234000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22234000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\StarWars2 - CloneAttack - FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22240000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22240000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Spiderman FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22245000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22245000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Shakira FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22263000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22263000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22264000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22271000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 22271000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 22264000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Gladiator FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22276000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22276000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\AikaQuest3Hentai FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22286000   CreateFile</b>
    hName=c:\aiolog.txt
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22286000   CreateFile</b>
    hName=c:\aiolog.txt
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22288000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22288000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\MoviezChannelsInstaler.exe
    Return=SUCCESS
</pre>
<pre><b># 22296000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22304000   CreateFile</b>
    hName=\\.\PIPE\browser
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22296000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Zidane-ScreenInstaler.exe
    Return=SUCCESS
</pre>
<pre><b># 22320000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22323000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22320000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\LordOfTheRings-FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22340000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22345000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22340000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\SIMS FullDownloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22352000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22352000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Britney spears nude.exe
    Return=SUCCESS
</pre>
<pre><b># 22365000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22382000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22365000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Quake 4 BETA.exe
    Return=SUCCESS
</pre>
<pre><b># 22392000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22392000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Windows XP key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 22429000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22429000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Windows XP serial generator.exe
    Return=SUCCESS
</pre>
<pre><b># 22438000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22441000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LanmanWorkstation\NetworkProvider\Name
    Return=0
    type=REG_SZ
    data=Microsoft Windows Network
</pre>
<pre><b># 22438000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Xbox.info.exe
    Return=SUCCESS
</pre>
<pre><b># 22446000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22452000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22446000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\DivX.exe
    Return=SUCCESS
</pre>
<pre><b># 22462000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22466000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22462000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\GTA3 crack.exe
    Return=SUCCESS
</pre>
<pre><b># 22476000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22476000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Battle.net key generator (WORKS!!).exe
    Return=SUCCESS
</pre>
<pre><b># 22484000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22484000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Warcraft 3 battle.net serial generator.exe
    Return=SUCCESS
</pre>
<pre><b># 22496000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22496000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Half-life WON key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 22530000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22497000   LoadLibrary</b>
    lpFileName=cscdll.dll
    Return=SUCCESS
</pre>
<pre><b># 22530000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Star wars episode 2 downloader.exe
    Return=SUCCESS
</pre>
<pre><b># 22535000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22538000   CreateFile</b>
    hName=\\.\shadow
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22538000   CreateFile</b>
    hName=\\.\shadow
    desiredAccess=
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22535000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Winzip 8.0 + serial.exe
    Return=SUCCESS
</pre>
<pre><b># 22545000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22553000   CreateFile</b>
    hName=\\.\PIPE\browser
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22545000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Winrar + crack.exe
    Return=SUCCESS
</pre>
<pre><b># 22557000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22557000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Key generator for all windows XP versions.exe
    Return=SUCCESS
</pre>
<pre><b># 22614000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22614000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Warcraft 3 ONLINE key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 22622000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22630000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22622000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Half-life ONLINE key generator.exe
    Return=SUCCESS
</pre>
<pre><b># 22634000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22634000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Grand theft auto 3 CD1 crack.exe
    Return=SUCCESS
</pre>
<pre><b># 22646000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22649000   CreateFile</b>
    hName=\\.\PIPE\wkssvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22646000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Macromedia key generator (all products).exe
    Return=SUCCESS
</pre>
<pre><b># 22668000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22668000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\KaZaA media desktop v2.0 UNOFFICIAL.exe
    Return=SUCCESS
</pre>
<pre><b># 22679000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22682000   CreateFile</b>
    hName=\\.\PIPE\srvsvc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22679000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Microsoft key generator, works for ALL microsoft products!!.exe
    Return=SUCCESS
</pre>
<pre><b># 22732000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22732000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Microsoft Windows XP crack pack.exe
    Return=SUCCESS
</pre>
<pre><b># 22782000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22782000   CreateFile</b>
    hName=C:\WINDOWS\system32\Wqk.dll
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22795000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 22795000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows\AppInit_DLLs
    type=REG_SZ
    data=Wqk.dll
    Return=0
</pre>
<pre><b># 22799000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22799000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\Temp\Hack into any computer!!.exe
    Return=SUCCESS
</pre>
<pre><b># 22819000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star Wars Episode 2 - Attack Of The Clones Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22819000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star Wars Episode 2 - Attack Of The Clones Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22826000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Jenna Jameson - Built For Speed Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22826000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Jenna Jameson - Built For Speed Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22836000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Lord of The Rings Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22836000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Lord of The Rings Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22843000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Harry Potter And The Sorcerors Stone Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22843000   CreateFile</b>
    hName=C:\WINDOWS\Temp\[DiVX] Harry Potter And The Sorcerors Stone Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22854000   CreateFile</b>
    hName=C:\WINDOWS\Temp\CKY3 - Bam Margera World Industries Alien Workshop Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22850000   CreateFile</b>
    hName=C:\WINDOWS\Temp\CKY3 - Bam Margera World Industries Alien Workshop Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22862000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Cat Attacks Child Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22862000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Cat Attacks Child Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22869000   CreateFile</b>
    hName=C:\WINDOWS\Temp\PS1 Boot Disc Full Dwonloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22869000   CreateFile</b>
    hName=C:\WINDOWS\Temp\PS1 Boot Disc Full Dwonloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22876000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Sony Play station boot disc - Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22876000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Sony Play station boot disc - Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22887000   CreateFile</b>
    hName=C:\WINDOWS\Temp\How To Hack Websites.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22887000   CreateFile</b>
    hName=C:\WINDOWS\Temp\How To Hack Websites.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22893000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AIM Account Stealer Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22893000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AIM Account Stealer Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22901000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MSN Password Hacker and Stealer.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22901000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MSN Password Hacker and Stealer.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22907000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hacking Tool Collection.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22907000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hacking Tool Collection.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22914000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22914000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22921000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia Flash 5.0 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22921000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia Flash 5.0 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22928000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DSL Modem Uncapper.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22927000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DSL Modem Uncapper.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22934000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Internet and Computer Speed Booster.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22934000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Internet and Computer Speed Booster.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22944000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ZoneAlarm Firewall Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22944000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ZoneAlarm Firewall Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22952000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Borland Delphi 6 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22952000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Borland Delphi 6 Key Generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22958000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ScaryMovie 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22958000   CreateFile</b>
    hName=C:\WINDOWS\Temp\ScaryMovie 2 Full Downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22965000   CreateFile</b>
    hName=C:\WINDOWS\Temp\StarWars2 - CloneAttack - FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22965000   CreateFile</b>
    hName=C:\WINDOWS\Temp\StarWars2 - CloneAttack - FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22972000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Spiderman FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22972000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Spiderman FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22979000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Shakira FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22979000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Shakira FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22989000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Gladiator FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22986000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Gladiator FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22995000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AikaQuest3Hentai FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22995000   CreateFile</b>
    hName=C:\WINDOWS\Temp\AikaQuest3Hentai FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23002000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MoviezChannelsInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23002000   CreateFile</b>
    hName=C:\WINDOWS\Temp\MoviezChannelsInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23009000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Zidane-ScreenInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23009000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Zidane-ScreenInstaler.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23017000   CreateFile</b>
    hName=C:\WINDOWS\Temp\LordOfTheRings-FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23016000   CreateFile</b>
    hName=C:\WINDOWS\Temp\LordOfTheRings-FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23023000   CreateFile</b>
    hName=C:\WINDOWS\Temp\SIMS FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23023000   CreateFile</b>
    hName=C:\WINDOWS\Temp\SIMS FullDownloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23030000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Britney spears nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23030000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Britney spears nude.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23036000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Quake 4 BETA.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23036000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Quake 4 BETA.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23042000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23042000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23049000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23049000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Windows XP serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23055000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Xbox.info.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23055000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Xbox.info.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23061000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DivX.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23061000   CreateFile</b>
    hName=C:\WINDOWS\Temp\DivX.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23067000   CreateFile</b>
    hName=C:\WINDOWS\Temp\GTA3 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23067000   CreateFile</b>
    hName=C:\WINDOWS\Temp\GTA3 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23074000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Battle.net key generator (WORKS!!).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23074000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Battle.net key generator (WORKS!!).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23080000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 battle.net serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23080000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 battle.net serial generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23087000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life WON key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23087000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life WON key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23094000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star wars episode 2 downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23093000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Star wars episode 2 downloader.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23099000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winzip 8.0 + serial.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23099000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winzip 8.0 + serial.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23102000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winrar + crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23102000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Winrar + crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23105000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Key generator for all windows XP versions.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23105000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Key generator for all windows XP versions.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23109000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23109000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Warcraft 3 ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23113000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23113000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Half-life ONLINE key generator.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23116000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Grand theft auto 3 CD1 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23116000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Grand theft auto 3 CD1 crack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23119000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia key generator (all products).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23119000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Macromedia key generator (all products).exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23123000   CreateFile</b>
    hName=C:\WINDOWS\Temp\KaZaA media desktop v2.0 UNOFFICIAL.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23123000   CreateFile</b>
    hName=C:\WINDOWS\Temp\KaZaA media desktop v2.0 UNOFFICIAL.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23127000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft key generator, works for ALL microsoft products!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23127000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft key generator, works for ALL microsoft products!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23132000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft Windows XP crack pack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23132000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Microsoft Windows XP crack pack.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23135000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hack into any computer!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23135000   CreateFile</b>
    hName=C:\WINDOWS\Temp\Hack into any computer!!.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23137000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23137000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\WINDOWS\dextor32.exe
    Return=SUCCESS
</pre>
<pre><b># 23144000   ExitProcess</b></pre>
</body>