<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff85376c31aef03394672f4a066eb99_3284.trace.hooklog Bahavior Analysis</pre>
<pre><b># 34210000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 34297000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34254000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 34318000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 34318000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 34340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 34354000   RegCreateKey</b>
    hKey=50\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 34354000   RegQueryValue</b>
    hKey=50\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 34361000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34362000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34362000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 34362000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34364000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34364000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34364000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 34364000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34366000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34367000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 34367000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 34367000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34369000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34369000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34370000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 34370000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34372000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34372000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34372000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 34372000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34375000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34376000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34377000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 34378000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34381000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34381000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 34382000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 34382000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34384000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34384000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34384000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 34385000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34387000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34387000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34388000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 34388000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34390000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 34390000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 34391000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 34391000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34392000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 34392000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 34392000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 34398000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 34398000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 34398000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 34409000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 34510000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34535000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 34536000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 34537000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 34438000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 34717000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 34720000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 34558000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 34756000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 34758000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 34759000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 34771000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 34771000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 34777000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 34778000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 34778000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 34780000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 34783000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 34785000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 34883000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 35013000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\.dll
    Return=0
    type=REG_SZ
    data=dllfile
</pre>
<pre><b># 35182000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}
    Return=0
</pre>
<pre><b># 35185000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}
    type=REG_SZ
    data=MediaPlayerV1alpha2627
    Return=0
</pre>
<pre><b># 35190000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 35210000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 35215000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\NoExplorer
    type=REG_DWORD
    data=1
    Return=0
</pre>
<pre><b># 35300000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}
    Return=0
</pre>
<pre><b># 35304000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}
    type=REG_SZ
    data=MediaPlayerV1alpha2627
    Return=0
</pre>
<pre><b># 35312000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\Programmable
    Return=0
</pre>
<pre><b># 35318000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\InprocServer32
    Return=0
</pre>
<pre><b># 35324000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\InprocServer32
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha2627\ie\MediaPlayerV1alpha2627.dll
    Return=0
</pre>
<pre><b># 35329000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\InprocServer32\ThreadingModel
    type=REG_SZ
    data=Apartment
    Return=0
</pre>
<pre><b># 35335000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\TypeLib
    Return=0
</pre>
<pre><b># 35340000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\TypeLib
    type=REG_SZ
    data={3b851a45-3d1e-4a6f-8fc6-a6338b3d4d66}
    Return=0
</pre>
<pre><b># 35346000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\Version
    Return=0
</pre>
<pre><b># 35348000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{58a71d28-ceff-4fc1-a24e-fd93fd615e0e}\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 35376000   CreateFile</b>
    hName=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha2627\ie\MediaPlayerV1alpha2627.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35386000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}
    Return=0
</pre>
<pre><b># 35390000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1
    Return=0
</pre>
<pre><b># 35393000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1
    Return=2
</pre>
<pre><b># 35394000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1
    type=REG_SZ
    data=MediaPlayerV1alpha2627Lib
    Return=0
</pre>
<pre><b># 35397000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\FLAGS
    Return=0
</pre>
<pre><b># 35400000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\FLAGS
    Return=2
</pre>
<pre><b># 35401000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\FLAGS
    type=REG_SZ
    data=0
    Return=0
</pre>
<pre><b># 35404000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\0
    Return=0
</pre>
<pre><b># 35408000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\0\win32
    Return=0
</pre>
<pre><b># 35410000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\0\win32
    Return=2
</pre>
<pre><b># 35411000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\0\win32
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha2627\ie\MediaPlayerV1alpha2627.dll
    Return=0
</pre>
<pre><b># 35416000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\HELPDIR
    Return=0
</pre>
<pre><b># 35418000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\HELPDIR
    Return=2
</pre>
<pre><b># 35420000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}\1.1\HELPDIR
    type=REG_SZ
    data=C:\Program Files\MediaPlayerV1\MediaPlayerV1alpha2627\ie
    Return=0
</pre>
<pre><b># 35424000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}
    Return=0
</pre>
<pre><b># 35427000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}
    Return=2
</pre>
<pre><b># 35428000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}
    type=REG_SZ
    data=IMediaPlayerV1alpha2627BHO
    Return=0
</pre>
<pre><b># 35431000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\ProxyStubClsid
    Return=0
</pre>
<pre><b># 35434000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\ProxyStubClsid
    Return=2
</pre>
<pre><b># 35435000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\ProxyStubClsid
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 35439000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 35441000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\ProxyStubClsid32
    Return=2
</pre>
<pre><b># 35442000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\ProxyStubClsid32
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 35445000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\TypeLib
    Return=0
</pre>
<pre><b># 35448000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\TypeLib
    Return=2
</pre>
<pre><b># 35449000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\TypeLib
    type=REG_SZ
    data={3B851A45-3D1E-4A6F-8FC6-A6338B3D4D66}
    Return=0
</pre>
<pre><b># 35451000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\TypeLib\Version
    Return=2
</pre>
<pre><b># 35452000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{A4D3F37D-3AFF-43A5-9053-267C691C291E}\TypeLib\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 35508000   ExitProcess</b></pre>
</body>