<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff8cd07415fc5297ee7dec0d0d7eb00_3100.trace.hooklog Bahavior Analysis</pre>
<pre><b># 19662000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 19756000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 19723000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 19776000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 19789000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\Tsu5CB7E07D.dll
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28713000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28739000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 28741000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 28741000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 28768000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 28795000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 28822000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 28861000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 28861000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 28519000   LoadLibrary</b>
    lpFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\Tsu5CB7E07D.dll
    Return=SUCCESS
</pre>
<pre><b># 28884000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28888000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\malware.log
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 28939000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\CSDVersion
    Return=0
    type=REG_SZ
    data=Service Pack 3
</pre>
<pre><b># 28955000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 28960000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 29001000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 29086000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 29088000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 29089000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 29237000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 29466000   CreateFile</b>
    hName=C:\WINDOWS\system32\wininet.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29473000   CreateFile</b>
    hName=C:\WINDOWS\system32\wininet.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29484000   CreateFile</b>
    hName=C:\WINDOWS\system32\msi.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29506000   CreateFile</b>
    hName=C:\WINDOWS\system32\msi.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29516000   LoadLibrary</b>
    lpFileName=sxs.dll
    Return=SUCCESS
</pre>
<pre><b># 29638000   LoadLibrary</b>
    lpFileName=mscoree.dll
    Return=FAILURE
</pre>
<pre><b># 29652000   LoadLibrary</b>
    lpFileName=rstrtmgr.dll
    Return=FAILURE
</pre>
<pre><b># 29674000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29682000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29683000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29692000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 29699000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29707000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29768000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 29721000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 29800000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 29802000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 29808000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 29850000   LoadLibrary</b>
    lpFileName=UxTheme.dll
    Return=SUCCESS
</pre>
<pre><b># 30024000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Lucida San
    Return=0
</pre>
<pre><b># 30025000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Tah
    Return=0
</pre>
<pre><b># 30026000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Microsoft 
    Return=0
</pre>
<pre><b># 30647000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\23B56708.dat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 38576000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\23B56708.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>