<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff9cb50dff230b70c0723ef6ce7cbe0_3112.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20537000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20631000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20597000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 20648000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20661000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\TsuA2566BAE.dll
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29523000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29547000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 29549000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 29549000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 29574000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 29601000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 29629000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 29669000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 29669000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 29327000   LoadLibrary</b>
    lpFileName=C:\DOCUME~1\ants\LOCALS~1\Temp\TsuA2566BAE.dll
    Return=SUCCESS
</pre>
<pre><b># 29691000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29698000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\malware.log
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 29748000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\CSDVersion
    Return=0
    type=REG_SZ
    data=Service Pack 3
</pre>
<pre><b># 29764000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 29769000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 29809000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 29893000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 29895000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 29896000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 30043000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 30273000   CreateFile</b>
    hName=C:\WINDOWS\system32\wininet.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30281000   CreateFile</b>
    hName=C:\WINDOWS\system32\wininet.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30292000   CreateFile</b>
    hName=C:\WINDOWS\system32\msi.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30313000   CreateFile</b>
    hName=C:\WINDOWS\system32\msi.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30324000   LoadLibrary</b>
    lpFileName=sxs.dll
    Return=SUCCESS
</pre>
<pre><b># 30453000   LoadLibrary</b>
    lpFileName=mscoree.dll
    Return=FAILURE
</pre>
<pre><b># 30466000   LoadLibrary</b>
    lpFileName=rstrtmgr.dll
    Return=FAILURE
</pre>
<pre><b># 30488000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30495000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30497000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30506000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 30513000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30520000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30578000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 30533000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 30611000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 30613000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30620000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 30661000   LoadLibrary</b>
    lpFileName=UxTheme.dll
    Return=SUCCESS
</pre>
<pre><b># 30891000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Lucida San
    Return=0
</pre>
<pre><b># 30891000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Tah
    Return=0
</pre>
<pre><b># 30892000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Microsoft 
    Return=0
</pre>
<pre><b># 31767000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\3345A220.dat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 41583000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\3345A220.dat
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>