<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffa14684ec37491be14e18c73ffeb80_2832.trace.hooklog Bahavior Analysis</pre>
<pre><b># 21614000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21697000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21665000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 21742000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 21743000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 21756000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21851000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21876000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21877000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 21878000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 21783000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21956000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21957000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 21898000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 22032000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23611000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 23984000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 31314000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 31749000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 34068000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 36345000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 37624000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 37784000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 38273000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 41067000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 42980000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
<pre><b># 44835000   LoadLibrary</b>
    lpFileName=NTDLL
    Return=SUCCESS
</pre>
</body>