<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffb1bef367cd3542a0e7c96c88e46d0_3052.trace.hooklog Bahavior Analysis</pre>
<pre><b># 18905000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 18980000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 18950000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 19024000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 19124000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 19153000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 19157000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 19158000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 19051000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 19251000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 19252000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 19178000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 19316000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 19317000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 28677000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 32916000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32916000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 47034000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\AppData
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Application Data
</pre>
<pre><b># 47037000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local AppData
    Return=0
    type=REG_EXPAND_SZ
    data=%USERPROFILE%\Local Settings\Application Data
</pre>
<pre><b># 47092000   CreateFile</b>
    hName=\\.\Ip
    desiredAccess=GENERIC_EXECUTE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 47092000   CreateFile</b>
    hName=\\.\Ip
    desiredAccess=GENERIC_EXECUTE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 47042000   LoadLibrary</b>
    lpFileName=iphlpapi.dll
    Return=SUCCESS
</pre>
<pre><b># 47106000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Linkage\Bind
    Return=0
    type=REG_MULTI_SZ
    data=                                                                                                                                                                                                                                  
</pre>
<pre><b># 47107000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Linkage\Bind
    Return=0
    type=REG_MULTI_SZ
    data=\ D e v i c e \ { 2 9 9 7 E 7 8 B - 5 F B C - 4 4 9 C - A 3 3 C - 5 E 0 4 C 7 B 1 3 E A 4 }   \ D e v i c e \ { 6 D B E 5 7 2 E - D D D 4 - 4 5 0 9 - B 4 8 8 - 6 0 E 8 3 0 B 8 D B 3 6 }   \ D e v i c e \ N d i s W a n I p     
</pre>
<pre><b># 47112000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\EnableDHCP
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 47112000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\LeaseObtainedTime
    Return=0
    type=REG_DWORD
    data=1474694069
</pre>
<pre><b># 47112000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\LeaseTerminatesTime
    Return=0
    type=REG_DWORD
    data=1474780469
</pre>
<pre><b># 47112000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\Interfaces\{2997E78B-5FBC-449C-A33C-5E04C7B13EA4}\DhcpServer
    Return=0
    type=REG_SZ
    data=10.0.2.2
</pre>
<pre><b># 47136000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47136000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.dat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47141000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47141000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47153000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/lsdb.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47153000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/lsdb.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47159000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/content.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47159000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/content.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47166000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/manifest.json
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47165000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/manifest.json
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47172000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/background.html
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47172000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/background.html
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47182000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/QAaRZLl.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47182000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/eaifcamnpjpoeofpnidjkofkfddgiclj/QAaRZLl.js
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 47341000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 47344000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 47192000   CreateProcessInternal</b>
    lpApplicationName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.exe
    lpCommandLine="C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.exe" 
    Return=SUCCESS
    dwProcessId=3372
    dwThreadId=3376
</pre>
<pre><b># 47192000   CreateProcess</b>
    lpApplicationName=C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.exe
    lpCommandLine="C:\DOCUME~1\ants\LOCALS~1\Temp/10186d29/GcFTJQ.exe" 
    Return=SUCCESS
    dwProcessId=3372
    dwThreadId=3376
</pre>
</body>