<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffd7fe307e3d9e9e0860aca29a79b80_3252.trace.hooklog Bahavior Analysis</pre>
<pre><b># 38414000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 38494000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 38461000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 38546000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 38571000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 38573000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 38574000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 38776000   LoadLibrary</b>
    lpFileName=Secur32.dll
    Return=SUCCESS
</pre>
<pre><b># 39309000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 39320000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 39321000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 39335000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 39336000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\WPA\PnP\seed
    Return=0
    type=REG_DWORD
    data=-2116632297
</pre>
<pre><b># 39336000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 39336000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\OsLoaderPath
    Return=0
    type=REG_SZ
    data=\
</pre>
<pre><b># 39337000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 39337000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemPartition
    Return=0
    type=REG_SZ
    data=\Device\HarddiskVolume1
</pre>
<pre><b># 39340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 39340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\SourcePath
    Return=0
    type=REG_SZ
    data=D:\
</pre>
<pre><b># 39340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 39340000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackSourcePath
    Return=0
    type=REG_SZ
    data=D:\
</pre>
<pre><b># 39341000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\ServicePackCachePath
    Return=2
</pre>
<pre><b># 39341000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
    type=REG_EXPAND_SZ
    data=
</pre>
<pre><b># 39341000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\DriverCachePath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 39343000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\DevicePath
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 39346000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogLevel
    Return=2
</pre>
<pre><b># 39346000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\LogPath
    Return=2
</pre>
<pre><b># 39378000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 39410000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 39419000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Telephony\Tapi32MaxNumRequestRetries
    Return=2
</pre>
<pre><b># 39419000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Telephony\Tapi32RequestRetryTimeout
    Return=2
</pre>
<pre><b># 39421000   LoadLibrary</b>
    lpFileName=RASAPI32.DLL
    Return=SUCCESS
</pre>
<pre><b># 39479000   LoadLibrary</b>
    lpFileName=RTUTILS.DLL
    Return=SUCCESS
</pre>
<pre><b># 39500000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing
    Return=0
</pre>
<pre><b># 39500000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 39501000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableFileTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 39501000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 39501000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 39502000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\ConsoleTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 39502000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\MaxFileSize
    Return=0
    type=REG_DWORD
    data=1048576
</pre>
<pre><b># 39502000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileDirectory
    Return=0
    type=REG_EXPAND_SZ
    data=%windir%\tracing
</pre>
<pre><b># 39504000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableFileTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 39504000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 39505000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 39505000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\ConsoleTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 39505000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\MaxFileSize
    Return=0
    type=REG_DWORD
    data=1048576
</pre>
<pre><b># 39505000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\RASDLG\FileDirectory
    Return=0
    type=REG_EXPAND_SZ
    data=%windir%\tracing
</pre>
<pre><b># 39531000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 39024000   LoadLibrary</b>
    lpFileName=rasdlg.dll
    Return=SUCCESS
</pre>
<pre><b># 42189000   LoadLibrary</b>
    lpFileName=rasdlg.dll
    Return=SUCCESS
</pre>
</body>