<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffe1e7b667a9ae17a22a0a9fe6f8f70_3292.trace.hooklog Bahavior Analysis</pre>
<pre><b># 21631000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21704000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21675000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 21737000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 21751000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 21751000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 21762000   RegCreateKey</b>
    hKey=7b0\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 21762000   RegQueryValue</b>
    hKey=7b0\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 21770000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21770000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21770000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 21770000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21772000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21772000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21773000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 21773000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21775000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21775000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 21775000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 21775000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21777000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21778000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21778000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 21778000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21780000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21780000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21780000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 21780000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21783000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21783000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21783000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 21783000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21786000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21786000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 21786000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 21787000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21789000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21789000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21789000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 21789000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21792000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21792000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21792000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 21793000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21795000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21795000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 21795000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 21795000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21796000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 21797000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 21797000   RegQueryValue</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 21802000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 21803000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 21803000   RegQueryValue</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 21814000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 21912000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21936000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 21937000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 21938000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 21842000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 22019000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 22020000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 21959000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 22054000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 22056000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 22058000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 22068000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 22068000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 22074000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 22075000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 22075000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 22076000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 22080000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 22082000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 22089000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 22099000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 22099000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22100000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 22100000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22100000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 22101000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\PathCompletionChar
    Return=0
    type=REG_DWORD
    data=64
</pre>
<pre><b># 22101000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor\AutoRun
    Return=0
    type=REG_SZ
    data=
</pre>
<pre><b># 22102000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DisableUNCCheck
    Return=2
</pre>
<pre><b># 22102000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\EnableExtensions
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 22103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DelayedExpansion
    Return=2
</pre>
<pre><b># 22103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\DefaultColor
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\CompletionChar
    Return=0
    type=REG_DWORD
    data=9
</pre>
<pre><b># 22103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\PathCompletionChar
    Return=2
</pre>
<pre><b># 22104000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Command Processor\AutoRun
    Return=2
</pre>
<pre><b># 22210000   ExitProcess</b></pre>
</body>