<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>ffffcf6d4f65461b7f08106aabb1cc80_3284.trace.hooklog Bahavior Analysis</pre>
<pre><b># 29672000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 29857000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29799000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 31502000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 31503000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 31508000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 31509000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 34346000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 34353000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34212000   CreateProcessInternal</b>
    lpApplicationName=C:\Program Files\Common Files\Java\Java Update\jusched.exe
    lpCommandLine="C:\Program Files\Common Files\Java\Java Update\jusched.exe" DEL:C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3324
    dwThreadId=3328
</pre>
<pre><b># 34207000   CreateProcessInternal</b>
    lpApplicationName=C:\Program Files\Common Files\Java\Java Update\jusched.exe
    lpCommandLine="C:\Program Files\Common Files\Java\Java Update\jusched.exe" DEL:C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3324
    dwThreadId=3328
</pre>
<pre><b># 34207000   CreateProcess</b>
    lpApplicationName=C:\Program Files\Common Files\Java\Java Update\jusched.exe
    lpCommandLine="C:\Program Files\Common Files\Java\Java Update\jusched.exe" DEL:C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3324
    dwThreadId=3328
</pre>
</body>