html{
    text-align: center;
    height:100%;
    margin: 0;
    padding: 0;
}
header{
    margin-top: 200px;
    color:white;
    font-family: "Roboto", sans-serif;
}
body{
    background: #fae699;
    min-height: 100%;
    padding-top: 185px;
    margin:0;
    position:relative;
}
h2 {
    font-size: 30px;
}
p {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
}

#logo_img{
    max-height: 110px;
    padding: 10px 0px;
}

form{
    padding-bottom: 20px;
}

#upload_form input[type="submit"], #search_form input[type="submit"]{
    border-radius: 0px;
    /*font-weight: 700;*/
    padding: 5px 20px;
    text-align: center;
    /*font-family: "Roboto", monospace;*/
    color: #fff;
    border: solid 2px rgba(255, 255, 255,0.35);
    background-color: #002060;
}
#upload_form input[type="submit"]:hover, #search_form input[type="submit"]:hover{
    /*font-family: "Roboto", monospace;*/
    border: solid 2px #fff;
    background-color: #1C2AA7;
    color: #fff;
}

#upload_form input[type="submit"]{
    margin-top: 10px;
}

input[type="text"] {
    /*font-family: "Roboto", sans-serif;*/
    /*background-color: transparent;*/
    /*border-radius: 6px;*/
    border: solid 2px #c0c0c0;
    padding: 0 1em;
    color: #333;
    text-decoration: none;
    line-height: 2.5em;
    /*width:300px;*/
}

input[type="text"]:focus{
    animation: focus 0.1s;
    background-color: rgba(255, 255, 255,1);
    /*border: 2px solid #c0c0c0;*/
    /*border-radius: 6px;*/
    color: #333
}

input[type="button"] {
    background-color: #333;
    /*font-family: "Roboto", monospace;*/
    border: 2px solid #333;
    color: white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#fileTable {
    font-size: 10px;
    padding: 5px;
    background-color: #fff;
    font-family: "Roboto", monospace;
    color: #333;
}
#tab {
    width: 500px;
    padding-left: 150px;
}
#tab a{
    width: 100px;
    color: white;
    background-color: #002060;
}

#tab a:hover{
    border-color: #002060;
    background-color: #003BB2;
}

/*.nav-tabs{*/
    /*border-bottom: 1px solid #002060;*/
/*}*/
.nav-tabs a{
    color: #50503F;
}

#upload_form {
    width: 450px
}

#search_form {
    width: 500px
}

#hintText{
    text-align: left;
    font-size: 20px;
    padding-left: 0px;
    padding-bottom: 5px;
}
#chooseFileLabel{
    background: gray;
    border: none;
    color: white;
    padding: 9px 10px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
}
#search_form label{
    /*width: 80px;*/
    text-align: right;
    padding: 15px 15px;
}

#hashType{
    padding: 9px 3px;
    margin: 5px 0px;
}

#search_form input[type="text"]{
    margin: 5px 0px;
}
#success,#error {
    width: 650px;
    margin-top: 10px;
}

#searchBtn{
    margin-top: 25px;
}
.errorlist{
    display: none;
}
.navbar-nav nav{

}
.nav-title{
    color: orange;
    float: left;
    padding: 25px 0px;
    font-size: 32px;
    line-height: 30px;
    height: 80px;
    font-family: 'Slabo 27px', serif;
}

.nav-title:hover, .nav-title:focus {
    text-decoration: none;
    color: #ffad66;
}

.navbar-inverse{
    background-image: url("../image/nav_bg1.jpg");
    background-size: 100% ;
    height: 110px;
}

.logo-img {
    padding-bottom: 20px;
}

/*.tab-content{*/
    /*margin-top: 25px;*/
/*}*/
#upload_form, #search_form{
    margin-top: 25px;
}

.search-column{
    padding-left: 0px;
    padding-right: 0px;
}

.search_title{
    /*padding-top: 20px;*/
    text-align: left;
}

/*.content{*/
    /*padding-top: 20px;*/
/*}*/

.nav2{
    top:110px;
    background-color: #374d74;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.list-group-item{
    text-align: left;
}

.navbar-nav a{
    color: white;
}

.navbar-nav li a {
    display: block;
    font-size: 16px;
    padding-top: 20px;
}

.navbar-nav a:hover, .navbar-nav a:focus{
    color: #374d74;
    background-color: rgb(237,244,249) !important;;
}

#nav{
    border-style: none;
    border-radius: 0;
}

.navbar{
    border-radius: 0;
}

.nav-tabs>li>a{
    margin-right: 0px;
}

.list-group-item{
    background-color: #F2EEDF;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #F2EEDF;
}
.nav-tabs>li>a{
    background-color: #DCD3B1;
}
#hashFrame{
    background-color: #F2EEDF;
}

iframe {
    height:400px;
    overflow-y: scroll;
    width: 100%;
    border:none
}

/*Contact*/
.contact-form{
    /*border-style: solid;*/
    width: 500px;
    margin: auto;
    background-color: #F2EEDF;
    padding: 10px 0px;
}

.form-item{
    padding: 10px 0px;
}

.form-item label{
    padding: 10px 0px;
    width: 100px;
    text-align: left;
}

.form-item input{
    width: 300px;
    height: 40px;
    padding: 5px 14px;
    text-align: left;
}

.form-item textarea{
    width: 300px;
    height: 100px;
    padding: 5px 14px;
    text-align: left;
}

.contact-form input[type="submit"]{
    width: 100px;
    height: 35px;
    /*padding: 5px 14px;*/
    /*text-align: left;*/
    background-color: #DFCC9F;
    border: none;
    color: gray;
    font-weight: 700;
}
.contact-form input[type="submit"]:hover{
    background-color: #f2dca9;
}

/*footer*/
footer{
    bottom: 0px;
    position: absolute;
    text-align:center;
    background-color: #374d74;
    width:100%;
    height: 50px;
}

.content{
    padding-bottom: 50px;
}
footer p{
    color: white;
    font-size: 14px;
    line-height: 40px;
    margin: 0px;
}

footer .container, footer .row {
    height: 50px;
}

#save_img, #print_img{
    max-height: 20px;
}

.share{
    text-align: left;
    padding: 10px 10px;
    background-color:  #F2EEDF;
}