#login_dialog .modal-title, #signup_dialog .modal-title{
    text-align: center;
}

#login_dialog input[type="submit"], #signup_dialog input[type="submit"]{
    width: 100%;
    margin-top: 10px;
}

#login-form, #signup-form{
    margin: 0 auto;
    width: 400px;
}

#login-form .input-lg, #signup-form .input-lg{
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 10px;
}

.nav-form .modal-content{
    background-color: #FFA07A;
}

.nav-form .modal-title, .nav-form label{
    color: white;
}
.nav-form .modal-content{
    background-color: #FFA07A;
}

.nav-form .btn{
    background: #87cfe5;
    color: #0c0c0c;
}

.nav-form .btn:hover{
    background: #00aace;
}

.errorlist li{
    color: red;
}

.modal-body li{
    color: red;
}