/*.container-space {*/
  /*margin-top: 50px;*/
  /*margin-bottom: 70px;*/
/*}*/

#service2{
  margin-bottom: 70px;
}

.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.nav.navbar-nav li a {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: #b3b3b3;
}

.nav.navbar-nav li ul li a {
  color: black;
}

.nav.navbar-nav li ul li a:hover {
  color: #808080;
}

.navbar.navbar-default {
  background-color: #374d74;
}

#navimg {
  background-image: url(../image/nav_bg1.jpg);
  background-size: 100% ;
  height: 100px;
  padding-top: 16px;
}

#nav-title {
  color: #ffc000;
  font-size: 28px;
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Slabo 27px', serif;
  text-decoration: none
}

footer {
  color: white;
  background-color: #374d74;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

footer p {
  padding-top: 10px;
  text-indent: 50px;
  text-align: justify;
  font-size: 14px;
}

#upload-file-selector {
  display:none;   
}

.margin-correction {
  margin-right: 10px;   
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

.form-center{
  text-align: center;
}

p {
  text-indent: 50px;
  text-align: justify;
  font-size: 20px;
}

p:only-child {
  text-indent: 0px;
  text-align: center;
  font-size: 14px;
}

#navimg img {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 25px;
}

body {
  background: #fae699;
}

/*search detail*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #F2EEDF;
}

.nav-tabs>li>a{
    background-color: #DCD3B1;
    color: black;
}

#hashFrame{
    background-color: #F2EEDF;
}

.list-group-item{
    background-color: #F2EEDF;
}

iframe {
    height:400px;
    overflow-y: scroll;
    width: 100%;
    border:none
}

#save_img, #print_img{
    max-height: 20px;
}

.share{
    text-align: left;
    padding: 10px 10px;
    background-color:  #F2EEDF;
}

.jumbotron p {
  text-indent: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.hooklog-page{
    padding: 10px 0px 0px 10px;
}

/*family*/

.tab-content{
    margin-bottom: 70px;
}

.tab-pane img{
    max-width: 100%;
    /*margin-bottom: 70px;*/
}