* { 
	margin: 0; 
	padding: 0; 
}

#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}
tr:nth-of-type(even) {
	background: #fff;
}
th {
	background: #333;
	color: white;
	font-weight: bold;
}
td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}