<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>32175785c2cdd7e87a1f34a7f472455b955d699dd892517287fba6b826cc17aa_3388.trace.hooklog Bahavior Analysis</pre>
<pre><b># 27076000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 27227000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27175000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 27299000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27299000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 27357000   CreateFile</b>
    hName=r.txt
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27357000   CreateFile</b>
    hName=r.txt
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 27388000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 27390000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 27391000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 27531000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 27534000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 27546000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27554000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27651000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 27652000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 27615000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 27571000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 27667000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 27669000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 27678000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 27719000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27721000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\UseDoubleClickTimer
    Return=2
</pre>
<pre><b># 27730000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Lucida San
    Return=0
</pre>
<pre><b># 27731000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Tah
    Return=0
</pre>
<pre><b># 27731000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink\Microsoft 
    Return=0
</pre>
<pre><b># 27785000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 27789000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 27791000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 27798000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\FontSubstitutes\Tahoma
    Return=2
</pre>
<pre><b># 27908000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 28016000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 28110000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28198000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 28239000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 28518000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28545000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 28546000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 28547000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 28449000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 28573000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 28021000   LoadLibrary</b>
    lpFileName=wininet.dll
    Return=SUCCESS
</pre>
<pre><b># 28611000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 28642000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 28683000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 28575000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 28689000   LoadLibrary</b>
    lpFileName=ntdll.dll
    Return=SUCCESS
</pre>
<pre><b># 28695000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\bvvcb.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28697000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28703000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28710000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28718000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28728000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28741000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28747000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28753000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28767000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28774000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28783000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28788000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28793000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28801000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28814000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28830000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28842000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28852000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28858000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28866000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28898000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28919000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28925000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28931000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28940000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28948000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28953000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28960000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28965000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28979000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28992000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 28998000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29006000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29012000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29021000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29040000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29045000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29064000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29070000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29076000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29084000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29119000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29125000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29130000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29138000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29150000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29156000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29164000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29170000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29181000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29193000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29202000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29207000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29214000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29224000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29235000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29246000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29260000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29271000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29279000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29285000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29292000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29325000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29330000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29341000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29361000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29368000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29374000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29378000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29392000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29405000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29410000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29417000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29425000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29434000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29442000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29453000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29463000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29475000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29496000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29507000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29513000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29533000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29549000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29557000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29564000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29569000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29575000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29584000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29592000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29597000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29608000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29614000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29622000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29633000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29638000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29643000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29662000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29678000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29696000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29702000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29707000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29713000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29747000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29754000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29761000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29767000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29772000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29780000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29788000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29798000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29803000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29817000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29822000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29830000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29836000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29842000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29858000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29874000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29887000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29899000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29904000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29910000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 29932000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30021000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30080000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30086000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30092000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30101000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30109000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30115000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30120000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30134000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30142000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30148000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30153000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30160000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30165000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30190000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30205000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30216000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30230000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30237000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30246000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30267000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30284000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30289000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30298000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30306000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30312000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30318000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30324000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30334000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30349000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30355000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30360000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30366000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30374000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30383000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30403000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30409000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30428000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30433000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30441000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30447000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30480000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30486000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30492000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30688000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30790000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30886000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30898000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 30947000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31047000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31147000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31235000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31335000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31435000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31535000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31635000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31735000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31836000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 31936000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32046000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32145000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32259000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32378000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32481000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32594000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32716000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32824000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 32928000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33063000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33202000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33310000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33418000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33525000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33626000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33746000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 33891000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34006000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34128000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34243000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34360000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34496000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34609000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34724000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 34888000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35006000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35123000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35230000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35337000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35444000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35552000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35685000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35798000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 35905000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36040000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36148000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36261000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36350000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36469000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36574000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36692000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36796000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 36900000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37015000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37117000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37226000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37327000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37427000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37555000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37645000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37745000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37848000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 37947000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 38048000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 38148000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
<pre><b># 38248000   DeleteFile</b>
    fileName=C:\Users\user\Desktop\9292-6441_qc_0721FORM.exe
    Return=FAILURE
</pre>
</body>