<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>3f88c0ab7e07df62d09bebea5f74c1c1a880a2cb93fcd4af65b86b727987e815_3268.trace.hooklog Bahavior Analysis</pre>
<pre><b># 23355000   CreateFile</b>
    hName=C:\Documents
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 23358000   CreateFile</b>
    hName=C:\Documents and
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 23360000   CreateFile</b>
    hName=C:\Documents and Settings\All
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=FAILURE
</pre>
<pre><b># 23449000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 23453000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23351000   CreateProcessInternal</b>
    lpCommandLine=C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3276
    dwThreadId=3280
</pre>
<pre><b># 23485000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>