<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>6f62027da424709dcadcdc1047cc49fa94b27f5572d4920f627afdd87f546d55_IE Bahavior Analysis</pre>
<pre><b># 29515000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 29600000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29568000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 29645000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29712000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
</body>