<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>764b6f0369e6e7e161b6cd0cda6236252f48d8586cdd9f843afda24eb053025f_3112.trace.hooklog Bahavior Analysis</pre>
<pre><b># 30557000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 30630000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 30601000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 30648000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 30648000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 30671000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 30684000   RegCreateKey</b>
    hKey=50\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 30684000   RegQueryValue</b>
    hKey=50\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 30691000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30691000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30692000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 30692000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30694000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30694000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30694000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 30694000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30696000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30697000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 30697000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 30697000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30699000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30699000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30699000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 30699000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30702000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30702000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30702000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 30702000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30705000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30705000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30705000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 30705000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 30708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 30708000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30711000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30711000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30711000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 30711000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30714000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30714000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30714000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 30714000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30717000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 30717000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 30717000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 30717000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30718000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 30718000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 30719000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 30724000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 30725000   RegCreateKey</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 30725000   RegQueryValue</b>
    hKey=5c\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 30736000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 30832000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30855000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 30856000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 30857000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 30763000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 30938000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 30938000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 30878000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 30973000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 30974000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 30976000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 30987000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 30988000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 30994000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 30994000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 30994000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 30996000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 31000000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 31002000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 31076000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 31217000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\.dll
    Return=0
    type=REG_SZ
    data=dllfile
</pre>
<pre><b># 31380000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{0e521e20-abeb-4c69-a863-9ff8728585c9}
    Return=0
</pre>
<pre><b># 31383000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{0e521e20-abeb-4c69-a863-9ff8728585c9}
    type=REG_SZ
    data=MediaViewV1alpha4815
    Return=0
</pre>
<pre><b># 31397000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 31426000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 31431000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{0e521e20-abeb-4c69-a863-9ff8728585c9}\NoExplorer
    type=REG_DWORD
    data=1
    Return=0
</pre>
<pre><b># 31516000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}
    Return=0
</pre>
<pre><b># 31520000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}
    type=REG_SZ
    data=MediaViewV1alpha4815
    Return=0
</pre>
<pre><b># 31528000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\Programmable
    Return=0
</pre>
<pre><b># 31538000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\InprocServer32
    Return=0
</pre>
<pre><b># 31544000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\InprocServer32
    type=REG_SZ
    data=C:\Program Files\MediaViewV1\MediaViewV1alpha4815\ie\MediaViewV1alpha4815.dll
    Return=0
</pre>
<pre><b># 31548000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\InprocServer32\ThreadingModel
    type=REG_SZ
    data=Apartment
    Return=0
</pre>
<pre><b># 31554000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\TypeLib
    Return=0
</pre>
<pre><b># 31558000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\TypeLib
    type=REG_SZ
    data={0557a19f-09ab-4f48-bd00-337aaa3e7b0f}
    Return=0
</pre>
<pre><b># 31564000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\Version
    Return=0
</pre>
<pre><b># 31566000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\CLSID\{0e521e20-abeb-4c69-a863-9ff8728585c9}\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 31593000   CreateFile</b>
    hName=C:\Program Files\MediaViewV1\MediaViewV1alpha4815\ie\MediaViewV1alpha4815.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31602000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}
    Return=0
</pre>
<pre><b># 31606000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1
    Return=0
</pre>
<pre><b># 31609000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1
    Return=2
</pre>
<pre><b># 31610000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1
    type=REG_SZ
    data=MediaViewV1alpha4815Lib
    Return=0
</pre>
<pre><b># 31613000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\FLAGS
    Return=0
</pre>
<pre><b># 31616000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\FLAGS
    Return=2
</pre>
<pre><b># 31617000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\FLAGS
    type=REG_SZ
    data=0
    Return=0
</pre>
<pre><b># 31620000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\0
    Return=0
</pre>
<pre><b># 31624000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\0\win32
    Return=0
</pre>
<pre><b># 31626000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\0\win32
    Return=2
</pre>
<pre><b># 31627000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\0\win32
    type=REG_SZ
    data=C:\Program Files\MediaViewV1\MediaViewV1alpha4815\ie\MediaViewV1alpha4815.dll
    Return=0
</pre>
<pre><b># 31632000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\HELPDIR
    Return=0
</pre>
<pre><b># 31635000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\HELPDIR
    Return=2
</pre>
<pre><b># 31636000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{0557A19F-09AB-4F48-BD00-337AAA3E7B0F}\1.1\HELPDIR
    type=REG_SZ
    data=C:\Program Files\MediaViewV1\MediaViewV1alpha4815\ie
    Return=0
</pre>
<pre><b># 31641000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}
    Return=0
</pre>
<pre><b># 31643000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}
    Return=2
</pre>
<pre><b># 31645000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}
    type=REG_SZ
    data=IMediaViewV1alpha4815BHO
    Return=0
</pre>
<pre><b># 31648000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\ProxyStubClsid
    Return=0
</pre>
<pre><b># 31650000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\ProxyStubClsid
    Return=2
</pre>
<pre><b># 31651000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\ProxyStubClsid
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 31654000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\ProxyStubClsid32
    Return=0
</pre>
<pre><b># 31657000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\ProxyStubClsid32
    Return=2
</pre>
<pre><b># 31658000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\ProxyStubClsid32
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
    Return=0
</pre>
<pre><b># 31661000   RegCreateKey</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\TypeLib
    Return=0
</pre>
<pre><b># 31663000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\TypeLib
    Return=2
</pre>
<pre><b># 31665000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\TypeLib
    type=REG_SZ
    data={0557A19F-09AB-4F48-BD00-337AAA3E7B0F}
    Return=0
</pre>
<pre><b># 31666000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\TypeLib\Version
    Return=2
</pre>
<pre><b># 31667000   RegSetValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{64D75338-0D6C-41B2-8F4A-170BABA52C92}\TypeLib\Version
    type=REG_SZ
    data=1.1
    Return=0
</pre>
<pre><b># 31724000   ExitProcess</b></pre>
</body>