<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>76f0373e7cd6484b9041cce58b06f90f52b73aeb1bad3f2f7de34fa3b7071488_3084.trace.hooklog Bahavior Analysis</pre>
<pre><b># 24966000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25072000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25041000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 25137000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 25245000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25271000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 25273000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 25273000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 25175000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 25301000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Telephony\Tapi32MaxNumRequestRetries
    Return=2
</pre>
<pre><b># 25301000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Telephony\Tapi32RequestRetryTimeout
    Return=2
</pre>
<pre><b># 25303000   LoadLibrary</b>
    lpFileName=RASAPI32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25317000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25348000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 25437000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 25437000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 25373000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 25628000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25635000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 25637000   LoadLibrary</b>
    lpFileName=GDI32.dll
    Return=SUCCESS
</pre>
<pre><b># 25642000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 25648000   LoadLibrary</b>
    lpFileName=RASAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 25651000   LoadLibrary</b>
    lpFileName=SHELL32.dll
    Return=SUCCESS
</pre>
<pre><b># 25652000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 25699000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 25701000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 25702000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 25848000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 25850000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 25864000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25871000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25972000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 25973000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 25934000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 25887000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 25988000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 25990000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25997000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 26034000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Desktop
    Return=0
</pre>
<pre><b># 26035000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26035000   CopyFile</b>
    lpExistingFileName=C:\Documents and Settings\All Users\Desktop\malware.exe
    lpNewFileName=C:\Documents and Settings\ants\Desktop\club_reps1_non_members.exe
    Return=SUCCESS
</pre>
<pre><b># 26910000   LoadLibrary</b>
    lpFileName=TAPI32.DLL
    Return=SUCCESS
</pre>
<pre><b># 26914000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\EnableDebuggerTracing
    Return=2
</pre>
<pre><b># 26915000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26915000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\EnableFileTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26915000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\ConsoleTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 26916000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing
    Return=0
</pre>
<pre><b># 26916000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26918000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\EnableFileTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26919000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\FileTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 26919000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26919000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\ConsoleTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 26919000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\MaxFileSize
    Return=0
    type=REG_DWORD
    data=1048576
</pre>
<pre><b># 26919000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\FileDirectory
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 26921000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\EnableFileTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26921000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\FileTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 26921000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\EnableConsoleTracing
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26921000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\ConsoleTracingMask
    Return=0
    type=REG_DWORD
    data=-65536
</pre>
<pre><b># 26922000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\MaxFileSize
    Return=0
    type=REG_DWORD
    data=1048576
</pre>
<pre><b># 26922000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Tracing\tapi32\FileDirectory
    Return=0
    type=REG_EXPAND_SZ
    data=%windir%\tracing
</pre>
<pre><b># 26936000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 26941000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 27027000   LoadLibrary</b>
    lpFileName=Secur32.dll
    Return=SUCCESS
</pre>
<pre><b># 27161000   LoadLibrary</b>
    lpFileName=tapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27162000   CreateThread</b>
    dwThreadId=1242376
    Return=SUCCESS
</pre>
<pre><b># 28669000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Coulomb\club_reps1_non_members
    Return=0
</pre>
<pre><b># 28673000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Coulomb\club_reps1_non_members\Param1
    type=REG_BINARY
    data=D8
    Return=0
</pre>
<pre><b># 28674000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Coulomb\club_reps1_non_members\Param2
    type=REG_BINARY
    data=D883D883D883D883D883D883D883D883D883D883D883D883D883D883D883D883
    Return=0
</pre>
<pre><b># 28675000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Coulomb\club_reps1_non_members\Param3
    type=REG_BINARY
    data=D883D883D883D883D883D883D883D883D883D883D883D883D883D883D883D883
    Return=0
</pre>
<pre><b># 28675000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Coulomb\club_reps1_non_members\ref
    type=REG_BINARY
    data=0000000000000000000000000000000000000000000000000000000000000000
    Return=0
</pre>
<pre><b># 28676000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Coulomb\club_reps1_non_members\PIN
    type=REG_SZ
    data=
    Return=0
</pre>
<pre><b># 28677000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Coulomb\club_reps1_non_members\ref
    Return=ea
</pre>
</body>