<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>b606cad7024a165b899e3d2ae9625e6d0f207928eb2838a6c4c8b26ddd583bb8_3192.trace.hooklog Bahavior Analysis</pre>
<pre><b># 26762000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=76390000
</pre>
<pre><b># 26993000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=77f10000
</pre>
<pre><b># 26911000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=629c0000
</pre>
<pre><b># 27141000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 27142000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 27225000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=48
</pre>
<pre><b># 27260000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27266000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 27267000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 27537000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
</pre>
<pre><b># 27641000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=773d0000
</pre>
<pre><b># 27666000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=773d0000
</pre>
<pre><b># 27437000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=7c9c0000
</pre>
<pre><b># 27705000   CreateFile</b>
    hName=C:\WINDOWS\system32\netmsg.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=48
</pre>
<pre><b># 27714000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=4c
</pre>
<pre><b># 27714000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=4c
</pre>
<pre><b># 31070000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\is-LES4C.tmp\malware.tmp
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=48
</pre>
<pre><b># 31069000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\is-LES4C.tmp\malware.tmp
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=48
</pre>
</body>