<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>c11052131a5fb949be8a6cf12493f9e64fab9e82a7366833418d4ac6deea43be_3168.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22183000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22262000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22231000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22309000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 22309000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 22427000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 22429000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 22431000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 22578000   LoadLibrary</b>
    lpFileName=OLEAUT32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22645000   LoadLibrary</b>
    lpFileName=SXS.DLL
    Return=SUCCESS
</pre>
<pre><b># 22686000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 22705000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 22707000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 22721000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22728000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22789000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 22744000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 22804000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 22805000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 22812000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 23323000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23326000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23328000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23330000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23491000   LoadLibrary</b>
    lpFileName=MSVBVM60.DLL
    Return=SUCCESS
</pre>
<pre><b># 23506000   LoadLibrary</b>
    lpFileName=MSVBVM60.DLL
    Return=SUCCESS
</pre>
<pre><b># 23511000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23515000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23518000   LoadLibrary</b>
    lpFileName=User32.dll
    Return=SUCCESS
</pre>
<pre><b># 23522000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23525000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 23749000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 26265000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 30004000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30017000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30030000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30042000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30056000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30068000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30079000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 30107000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 30132000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30209000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 30213000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 30156000   CreateProcessInternal</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3212
    dwThreadId=3216
</pre>
<pre><b># 30156000   CreateProcess</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.exe
    Return=SUCCESS
    dwProcessId=3212
    dwThreadId=3216
</pre>
<pre><b># 30236000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 30281000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30294000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30304000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 30330000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 30368000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30380000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 30405000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30417000   LoadLibrary</b>
    lpFileName=ntdll
    Return=SUCCESS
</pre>
<pre><b># 30441000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30452000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30474000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30486000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30499000   LoadLibrary</b>
    lpFileName=kernel32
    Return=SUCCESS
</pre>
<pre><b># 30519000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Visual Basic\6.0
    Return=0
</pre>
<pre><b># 30525000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Visual Basic\6.0\AllowUnsafeObjectPassing
    Return=2
</pre>
<pre><b># 30553000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\HTML Help\.HLP
    Return=2
</pre>
<pre><b># 30560000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\Help\.HLP
    Return=2
</pre>
<pre><b># 30688000   ExitProcess</b></pre>
</body>