<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>d4fef5cb9c660209ae1265c7fecf8e990c31144ad78b40368204558407da4518_3204.trace.hooklog Bahavior Analysis</pre>
<pre><b># 25852000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25982000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 25951000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 26027000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 26028000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 26050000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26155000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26183000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 26184000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 26185000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 26081000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 26273000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 26274000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 26207000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 26329000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 26489000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 26491000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 26493000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 26502000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 26511000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26513000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26516000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26519000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 26520000   LoadLibrary</b>
    lpFileName=shell32.dll
    Return=SUCCESS
</pre>
<pre><b># 26531000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 26542000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 26545000   LoadLibrary</b>
    lpFileName=user32.dll
    Return=SUCCESS
</pre>
<pre><b># 26547000   LoadLibrary</b>
    lpFileName=winmm.dll
    Return=SUCCESS
</pre>
<pre><b># 26549000   LoadLibrary</b>
    lpFileName=winmm.dll
    Return=SUCCESS
</pre>
<pre><b># 26590000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26590000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26789000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 26806000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26815000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26951000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 26955000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26697000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3216
    dwThreadId=3220
</pre>
<pre><b># 26697000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3216
    dwThreadId=3220
</pre>
<pre><b># 27126000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27144000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27336000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27841000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 27890000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28192000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 27604000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3252
    dwThreadId=3256
</pre>
<pre><b># 27603000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3252
    dwThreadId=3256
</pre>
<pre><b># 27603000   WinExec</b>
    lpCmdLine=net stop System Restore Service
    Return=SUCCESS
</pre>
<pre><b># 28301000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 28303000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 28312000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 28801000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 28801000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 28806000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 28807000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 28818000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 28818000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\config\Rundll32.exe
    lpNewFileName=\
    Return=FAILURE
</pre>
<pre><b># 29426000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29454000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 29757000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29109000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3264
    dwThreadId=3268
</pre>
<pre><b># 29108000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3264
    dwThreadId=3268
</pre>
<pre><b># 29108000   WinExec</b>
    lpCmdLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
</pre>
<pre><b># 30153000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30181000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 30611000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 29786000   CreateProcessInternal</b>
    lpCommandLine=Net Stop mcshield
    Return=SUCCESS
    dwProcessId=3276
    dwThreadId=3280
</pre>
<pre><b># 29776000   CreateProcessInternal</b>
    lpCommandLine=Net Stop mcshield
    Return=SUCCESS
    dwProcessId=3276
    dwThreadId=3280
</pre>
<pre><b># 29776000   WinExec</b>
    lpCmdLine=Net Stop mcshield
    Return=SUCCESS
</pre>
<pre><b># 31465000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 31517000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32016000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 31048000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 31048000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 31048000   WinExec</b>
    lpCmdLine=net stop System Restore Service
    Return=SUCCESS
</pre>
<pre><b># 32071000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 32071000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 32072000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 32073000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 32109000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 32109000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\config\Rundll32.exe
    lpNewFileName=\
    Return=FAILURE
</pre>
<pre><b># 33276000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33331000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33973000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 32758000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 32758000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3316
    dwThreadId=3320
</pre>
<pre><b># 32758000   WinExec</b>
    lpCmdLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
</pre>
<pre><b># 34659000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34702000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35388000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34011000   CreateProcessInternal</b>
    lpCommandLine=Net Stop mcshield
    Return=SUCCESS
    dwProcessId=3324
    dwThreadId=3328
</pre>
<pre><b># 34011000   CreateProcessInternal</b>
    lpCommandLine=Net Stop mcshield
    Return=SUCCESS
    dwProcessId=3324
    dwThreadId=3328
</pre>
<pre><b># 34011000   WinExec</b>
    lpCmdLine=Net Stop mcshield
    Return=SUCCESS
</pre>
<pre><b># 36933000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 37020000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 37932000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 36202000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3368
    dwThreadId=3372
</pre>
<pre><b># 36192000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3368
    dwThreadId=3372
</pre>
<pre><b># 36192000   WinExec</b>
    lpCmdLine=net stop System Restore Service
    Return=SUCCESS
</pre>
<pre><b># 38017000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 38017000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 38018000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 38018000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 38081000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 38081000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\config\Rundll32.exe
    lpNewFileName=\
    Return=FAILURE
</pre>
<pre><b># 40134000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 40230000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 41346000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 39247000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3408
    dwThreadId=3412
</pre>
<pre><b># 39247000   CreateProcessInternal</b>
    lpCommandLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
    dwProcessId=3408
    dwThreadId=3412
</pre>
<pre><b># 39247000   WinExec</b>
    lpCmdLine=Net Stop Norton Antivirus Auto Protect Service
    Return=SUCCESS
</pre>
<pre><b># 42299000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 42398000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 43470000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 41410000   CreateProcessInternal</b>
    lpCommandLine=Net Stop mcshield
    Return=SUCCESS
    dwProcessId=3436
    dwThreadId=3440
</pre>
<pre><b># 41410000   CreateProcessInternal</b>
    lpCommandLine=Net Stop mcshield
    Return=SUCCESS
    dwProcessId=3436
    dwThreadId=3440
</pre>
<pre><b># 41410000   WinExec</b>
    lpCmdLine=Net Stop mcshield
    Return=SUCCESS
</pre>
<pre><b># 45788000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 45888000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 47348000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 44765000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3488
    dwThreadId=3492
</pre>
<pre><b># 44765000   CreateProcessInternal</b>
    lpCommandLine=net stop System Restore Service
    Return=SUCCESS
    dwProcessId=3488
    dwThreadId=3492
</pre>
<pre><b># 44765000   WinExec</b>
    lpCmdLine=net stop System Restore Service
    Return=SUCCESS
</pre>
<pre><b># 47470000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 47507000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 47508000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 47508000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Run\Rundll32
    type=REG_SZ
    data=C:\WINDOWS\system32\Rundll32.exe
    Return=0
</pre>
<pre><b># 47610000   CreateFile</b>
    hName=C:\WINDOWS\system32\config\Rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 47610000   CopyFile</b>
    lpExistingFileName=C:\WINDOWS\system32\config\Rundll32.exe
    lpNewFileName=\
    Return=FAILURE
</pre>
<pre><b># 50807000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 50924000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
</body>