<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fc9bea961abb915c516b64e094d674544871f4bbec1e807ce1acf880c0096b17_3444.trace.hooklog Bahavior Analysis</pre>
<pre><b># 48309000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 48540000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 48450000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 49224000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 49010000   LoadLibrary</b>
    lpFileName=adsldpc.dll
    Return=SUCCESS
</pre>
<pre><b># 52348000   LoadLibrary</b>
    lpFileName=adsldpc 
    Return=SUCCESS
</pre>
</body>