<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff6e10b530975c473ec236a13cc71d0_3320.trace.hooklog Bahavior Analysis</pre>
<pre><b># 33629000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 33702000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 33674000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 33778000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 33790000   LoadLibrary</b>
    lpFileName=ADVAPI32.dll
    Return=SUCCESS
</pre>
<pre><b># 33796000   LoadLibrary</b>
    lpFileName=MSVCRT.dll
    Return=SUCCESS
</pre>
<pre><b># 33801000   LoadLibrary</b>
    lpFileName=USER32.dll
    Return=SUCCESS
</pre>
<pre><b># 33805000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 33810000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 33819000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 33830000   OpenProcess</b>
    desiredAccess=DELETE READ_CONTROL SYNCHRONIZE WRITE_DAC WRITE_OWNER PROCESS_CREATE_PROCESS PROCESS_CREATE_THREAD PROCESS_DUP_HANDLE PROCESS_QUERY_INFORMATION PROCESS_SET_INFORMATION PROCESS_SET_QUOTA PROCESS_SUSPEND_RESUME PROCESS_TERMINATE PROCESS_VM_OPERATION PROCESS_VM_READ PROCESS_VM_WRITE 
    dwProcessId=424
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 33920000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 33983000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 34021000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34195000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 34195000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 33830000   LoadLibrary</b>
    lpFileName=sfc_os.dll
    Return=SUCCESS
</pre>
<pre><b># 34264000   CreateRemoteThread</b>
    procName=winlogon.exe
    Return=SUCCESS
    pId=424
</pre>
<pre><b># 34275000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34275000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34280000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34280000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34285000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34284000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34302000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{bxay8yqc-avr6-sd3a-en9c-uka4gi0z0e3i}
    Return=0
</pre>
<pre><b># 34304000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{bxay8yqc-avr6-sd3a-en9c-uka4gi0z0e3i}
    type=REG_SZ
    data=œµÕ≥…Ë÷√
    Return=0
</pre>
<pre><b># 34305000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Active Setup\Installed Components\{bxay8yqc-avr6-sd3a-en9c-uka4gi0z0e3i}\stubpath
    type=REG_EXPAND_SZ
    data=C:\Windows\System32\inpbwqegf.exe
    ãZã
    Return=0
</pre>
<pre><b># 34307000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34307000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34709000   CreateFile</b>
    hName=C:\Windows\System32\inpbwqegf.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 34709000   CreateFile</b>
    hName=C:\Windows\System32\inpbwqegf.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 34715000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34715000   CreateFile</b>
    hName=C:\Windows\System32\inlsmacbt.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34719000   CreateFile</b>
    hName=C:\Windows\System32\inpbwqegf.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 34719000   CreateFile</b>
    hName=C:\Windows\System32\inpbwqegf.exe_lang.ini
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 34929000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 34932000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34731000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\inpbwqegf.exe
    Return=SUCCESS
    dwProcessId=3332
    dwThreadId=3336
</pre>
<pre><b># 34731000   CreateProcessInternal</b>
    lpCommandLine=C:\Windows\System32\inpbwqegf.exe
    Return=SUCCESS
    dwProcessId=3332
    dwThreadId=3336
</pre>
<pre><b># 34731000   CreateProcess</b>
    lpCommandLine=C:\Windows\System32\inpbwqegf.exe
    Return=SUCCESS
    dwProcessId=3332
    dwThreadId=3336
</pre>
<pre><b># 34943000   ExitProcess</b></pre>
</body>