<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff6cd7b2778385fac142cb0df6999b0_3184.trace.hooklog Bahavior Analysis</pre>
<pre><b># 19360000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 19443000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 19409000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 19486000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 19486000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 19506000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 19603000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 19627000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 19628000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 19629000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 19534000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 19650000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 19736000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20972000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 20981000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp
    Return=SUCCESS
</pre>
<pre><b># 20981000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp
    Return=SUCCESS
</pre>
<pre><b># 21010000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21337000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\achevwabtx@oeyaaeyyuia.com\chrome.manifest
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21355000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\jfpophopokgbdjcmphoeahomhedlbcin\background.html
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21374000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\achevwabtx@oeyaaeyyuia.com\content\bg.js
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21398000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\achevwabtx@oeyaaeyyuia.com\bootstrap.js
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21418000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\jfpophopokgbdjcmphoeahomhedlbcin\content.js
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21434000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\jfpophopokgbdjcmphoeahomhedlbcin\lsdb.js
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21450000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\jfpophopokgbdjcmphoeahomhedlbcin\vod.js
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21470000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\LDO315bIQ.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21885000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\LDO315bIQ.dat
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21901000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\jfpophopokgbdjcmphoeahomhedlbcin\manifest.json
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21919000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\achevwabtx@oeyaaeyyuia.com\install.rdf
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 21928000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\jfpophopokgbdjcmphoeahomhedlbcin
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21938000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\achevwabtx@oeyaaeyyuia.com\content
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21945000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\7zS1.tmp\achevwabtx@oeyaaeyyuia.com
    desiredAccess=GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22128000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 22132000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21966000   CreateProcessInternal</b>
    lpCommandLine=.\LDO315bIQ.exe
    Return=SUCCESS
    dwProcessId=3208
    dwThreadId=3212
</pre>
<pre><b># 21966000   CreateProcessInternal</b>
    lpCommandLine=.\LDO315bIQ.exe
    Return=SUCCESS
    dwProcessId=3208
    dwThreadId=3212
</pre>
<pre><b># 21966000   CreateProcess</b>
    lpCommandLine=.\LDO315bIQ.exe
    Return=SUCCESS
    dwProcessId=3208
    dwThreadId=3212
</pre>
</body>