<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff751922a607ed0888f9d23819cb4c0_3164.trace.hooklog Bahavior Analysis</pre>
<pre><b># 22706000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22733000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22820000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 22790000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 22716000   LoadLibrary</b>
    lpFileName=USER32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22835000   LoadLibrary</b>
    lpFileName=ADVAPI32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22912000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 22912000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 22844000   LoadLibrary</b>
    lpFileName=OLEAUT32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22923000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22926000   LoadLibrary</b>
    lpFileName=ADVAPI32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22934000   LoadLibrary</b>
    lpFileName=KERNEL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22949000   LoadLibrary</b>
    lpFileName=MPR.DLL
    Return=SUCCESS
</pre>
<pre><b># 22970000   LoadLibrary</b>
    lpFileName=VERSION.DLL
    Return=SUCCESS
</pre>
<pre><b># 22977000   LoadLibrary</b>
    lpFileName=USER32.DLL
    Return=SUCCESS
</pre>
<pre><b># 22985000   LoadLibrary</b>
    lpFileName=WSOCK32.DLL
    Return=SUCCESS
</pre>
<pre><b># 23131000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 23090000   LoadLibrary</b>
    lpFileName=WINMM.DLL
    Return=SUCCESS
</pre>
<pre><b># 23186000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23266000   LoadLibrary</b>
    lpFileName=netapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23292000   CreateFile</b>
    hName=C:\WINDOWS\system32\\drivers\etc\hosts
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23292000   CreateFile</b>
    hName=C:\WINDOWS\system32\\drivers\etc\hosts
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23308000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23308000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23643000   CreateFile</b>
    hName=C:\WINDOWS\system32\rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23651000   CreateFile</b>
    hName=C:\WINDOWS\system32\rundll32.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23684000   CreateFile</b>
    hName=C:\WINDOWS\system32\wscntfy.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23691000   CreateFile</b>
    hName=C:\WINDOWS\system32\wscntfy.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23879000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 23891000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 23899000   CreateFile</b>
    hName=C:\WINDOWS\system32\net.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24034000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 24036000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 23792000   CreateProcessInternal</b>
    lpCommandLine=net stop "Kingsoft AntiVirus Service"
    Return=SUCCESS
    dwProcessId=3196
    dwThreadId=3200
</pre>
<pre><b># 23792000   CreateProcessInternal</b>
    lpCommandLine=net stop "Kingsoft AntiVirus Service"
    Return=SUCCESS
    dwProcessId=3196
    dwThreadId=3200
</pre>
<pre><b># 24161000   CreateFile</b>
    hName=C:\WINDOWS\rundl132.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24160000   CreateFile</b>
    hName=C:\WINDOWS\rundl132.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24181000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows NT\CurrentVersion\Windows
    Return=0
</pre>
<pre><b># 24185000   RegSetValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows NT\CurrentVersion\Windows\load
    type=REG_SZ
    data=C:\WINDOWS\rundl132.exe
    Return=0
</pre>
<pre><b># 24187000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24187000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 24192000   DeleteFile</b>
    fileName=C:\Documents and Settings\All Users\Desktop\malware.exe.exe
    Return=FAILURE
</pre>
<pre><b># 24192000   DeleteFile</b>
    fileName=C:\Documents and Settings\All Users\Desktop\malware.exe.exe
    Return=FAILURE
</pre>
<pre><b># 24197000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24197000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24204000   CreateFile</b>
    hName=C:\WINDOWS\Logo1_.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24204000   CreateFile</b>
    hName=C:\WINDOWS\Logo1_.exe
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24351000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.tmp
    desiredAccess=GENERIC_READ 
    creationDisposition=CREATE_NEW
    Return=SUCCESS
</pre>
<pre><b># 24358000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.bat
    Return=FAILURE
</pre>
<pre><b># 24358000   DeleteFile</b>
    fileName=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.bat
    Return=FAILURE
</pre>
<pre><b># 24359000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.bat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24359000   CreateFile</b>
    hName=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.bat
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 24664000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24369000   CreateProcessInternal</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.bat
    Return=SUCCESS
    dwProcessId=3212
    dwThreadId=3216
</pre>
<pre><b># 24368000   CreateProcessInternal</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.bat
    Return=SUCCESS
    dwProcessId=3212
    dwThreadId=3216
</pre>
<pre><b># 24368000   CreateProcess</b>
    lpCommandLine=C:\DOCUME~1\ants\LOCALS~1\Temp\$$a1.bat
    Return=SUCCESS
    dwProcessId=3212
    dwThreadId=3216
</pre>
<pre><b># 24907000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24711000   CreateProcessInternal</b>
    lpCommandLine=C:\WINDOWS\Logo1_.exe
    Return=SUCCESS
    dwProcessId=3220
    dwThreadId=3224
</pre>
<pre><b># 24711000   CreateProcessInternal</b>
    lpCommandLine=C:\WINDOWS\Logo1_.exe
    Return=SUCCESS
    dwProcessId=3220
    dwThreadId=3224
</pre>
<pre><b># 24711000   CreateProcess</b>
    lpCommandLine=C:\WINDOWS\Logo1_.exe
    Return=SUCCESS
    dwProcessId=3220
    dwThreadId=3224
</pre>
<pre><b># 24950000   ExitProcess</b></pre>
</body>