<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff80ae9338aec1e979ad1ddeb060560_3184.trace.hooklog Bahavior Analysis</pre>
<pre><b># 19730000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 19811000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 19779000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 19820000   LoadLibrary</b>
    lpFileName=MSVCRT.DLL
    Return=SUCCESS
</pre>
<pre><b># 19834000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\MFC42LOC.DLL
    Return=FAILURE
</pre>
<pre><b># 19852000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 19944000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 19968000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 19969000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 19984000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 19880000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 20084000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 20085000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 20027000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 20195000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 20195000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 20217000   LoadLibrary</b>
    lpFileName=COMCTL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20231000   LoadLibrary</b>
    lpFileName=COMCTL32.dll
    Return=SUCCESS
</pre>
<pre><b># 20259000   LoadLibrary</b>
    lpFileName=COMCTL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20294000   LoadLibrary</b>
    lpFileName=COMCTL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20329000   LoadLibrary</b>
    lpFileName=COMCTL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20359000   LoadLibrary</b>
    lpFileName=COMCTL32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20426000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 20428000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 20430000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 20580000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 20582000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 20595000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20602000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20661000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 20618000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 20678000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 20680000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 20686000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 20794000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 20844000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateProcess
    Return=2
</pre>
<pre><b># 20844000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\MinimumFreeMemPercentageToCreateObject
    Return=2
</pre>
<pre><b># 20794000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 20847000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\Com+Enabled
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 20847000   LoadLibrary</b>
    lpFileName=CLBCATQ.DLL
    Return=SUCCESS
</pre>
<pre><b># 20884000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 20886000   CreateFile</b>
    hName=C:\WINDOWS\Registration\R000000000007.clb
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 20906000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 20917000   RegQueryValue</b>
    hKey=5a\CLSID\{9BA05972-F6A8-11CF-A442-00A0C90A8F39}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 20922000   RegQueryValue</b>
    hKey=5a\CLSID\{9BA05972-F6A8-11CF-A442-00A0C90A8F39}\InprocServer32
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 20932000   RegQueryValue</b>
    hKey=5a\CLSID\{9BA05972-F6A8-11CF-A442-00A0C90A8F39}\AppID
    Return=2
</pre>
<pre><b># 20939000   RegQueryValue</b>
    hKey=5a\CLSID\{9BA05972-F6A8-11CF-A442-00A0C90A8F39}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Apartment
</pre>
<pre><b># 21113000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21179000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 21218000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 21426000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21455000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings
    Return=0
</pre>
<pre><b># 21464000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LDAP\LdapClientIntegrity
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 21467000   LoadLibrary</b>
    lpFileName=Comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21494000   LoadLibrary</b>
    lpFileName=RichEd20.dll
    Return=SUCCESS
</pre>
<pre><b># 21541000   LoadLibrary</b>
    lpFileName=Comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21588000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 21621000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{EAB22AC1-30C1-11CF-A7EB-0000C05BAE0B}\Typelib
    Return=0
    type=REG_SZ
    data={EAB22AC0-30C1-11CF-A7EB-0000C05BAE0B}
</pre>
<pre><b># 21625000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{b722bccb-4e68-101b-a2bc-00aa00404770}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={B8DA6310-E19B-11D0-933C-00A0C90DCAA9}
</pre>
<pre><b># 21629000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{79eac9c4-baf9-11ce-8c82-00aa004ba90b}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={B8DA6310-E19B-11D0-933C-00A0C90DCAA9}
</pre>
<pre><b># 21632000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{000214E6-0000-0000-C000-000000000046}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={bf50b68e-29b8-4386-ae9c-9734d5117cd5}
</pre>
<pre><b># 21636000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{93F2F68C-1D1B-11D3-A30E-00C04F79ABD1}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={bf50b68e-29b8-4386-ae9c-9734d5117cd5}
</pre>
<pre><b># 21640000   LoadLibrary</b>
    lpFileName=ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 21651000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\MaxRpcSize
    Return=2
</pre>
<pre><b># 21656000   LoadLibrary</b>
    lpFileName=rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 21674000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\MaximumAllowedAllocationSize
    Return=2
</pre>
<pre><b># 21687000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\OLE\DefaultAccessPermission
    Return=2
</pre>
<pre><b># 21695000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21713000   CreateThread</b>
    dwThreadId=1233268
    Return=SUCCESS
</pre>
<pre><b># 21731000   LoadLibrary</b>
    lpFileName=OLE32
    Return=SUCCESS
</pre>
<pre><b># 21739000   CreateThread</b>
    dwThreadId=1233748
    Return=SUCCESS
</pre>
<pre><b># 21744000   LoadLibrary</b>
    lpFileName=OLE32.DLL
    Return=SUCCESS
</pre>
<pre><b># 21773000   CreateThread</b>
    dwThreadId=15269340
    Return=SUCCESS
</pre>
<pre><b># 21796000   CreateFile</b>
    hName=\\.\PIPE\lsarpc
    desiredAccess=GENERIC_READ GENERIC_WRITE 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21832000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
</pre>
<pre><b># 21834000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 21836000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 21844000   RegQueryValue</b>
    hKey=5a\CLSID\{00020424-0000-0000-C000-000000000046}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 21849000   RegQueryValue</b>
    hKey=5a\CLSID\{00020424-0000-0000-C000-000000000046}\InprocServer32
    Return=0
    type=REG_SZ
    data=oleaut32.dll
</pre>
<pre><b># 21857000   RegQueryValue</b>
    hKey=5a\CLSID\{00020424-0000-0000-C000-000000000046}\AppID
    Return=2
</pre>
<pre><b># 21866000   RegQueryValue</b>
    hKey=5a\CLSID\{00020424-0000-0000-C000-000000000046}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 21870000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\rpcrt4.dll
    Return=SUCCESS
</pre>
<pre><b># 21879000   LoadLibrary</b>
    lpFileName=SXS.DLL
    Return=SUCCESS
</pre>
<pre><b># 21921000   RegQueryValue</b>
    hKey=ce\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={00020424-0000-0000-C000-000000000046}
</pre>
<pre><b># 21925000   LoadLibrary</b>
    lpFileName=oleaut32.dll
    Return=SUCCESS
</pre>
<pre><b># 21936000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\TypeLib
    Return=0
    type=REG_SZ
    data={EAB22AC0-30C1-11CF-A7EB-0000C05BAE0B}
</pre>
<pre><b># 21939000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{85CB6900-4D95-11CF-960C-0080C7F4EE85}\TypeLib\Version
    Return=0
</pre>
<pre><b># 21950000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{EAB22AC0-30C1-11CF-A7EB-0000C05BAE0B}\1.1\0\win32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\shdocvw.dll
</pre>
<pre><b># 21953000   CreateFile</b>
    hName=C:\WINDOWS\system32\shdocvw.dll
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21972000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\TypeLib\{00020430-0000-0000-C000-000000000046}\2.0\0\win32
    Return=0
    type=REG_SZ
    data=C:\WINDOWS\system32\stdole2.tlb
</pre>
<pre><b># 21974000   CreateFile</b>
    hName=C:\WINDOWS\system32\stdole2.tlb
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 21988000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Rpc\UDTAlignmentPolicy
    Return=2
</pre>
<pre><b># 21991000   RegQueryValue</b>
    hKey=HKEY_CLASSES_ROOT\Interface\{00020400-0000-0000-C000-000000000046}\ProxyStubClsid32
    Return=0
    type=REG_SZ
    data={00020420-0000-0000-C000-000000000046}
</pre>
<pre><b># 21994000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 21996000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\COM3\REGDBVersion
    Return=0
</pre>
<pre><b># 22004000   RegQueryValue</b>
    hKey=5a\CLSID\{00020420-0000-0000-C000-000000000046}\InprocServer32\InprocServer32
    Return=2
</pre>
<pre><b># 22009000   RegQueryValue</b>
    hKey=5a\CLSID\{00020420-0000-0000-C000-000000000046}\InprocServer32
    Return=0
    type=REG_SZ
    data=oleaut32.dll
</pre>
<pre><b># 22017000   RegQueryValue</b>
    hKey=5a\CLSID\{00020420-0000-0000-C000-000000000046}\AppID
    Return=2
</pre>
<pre><b># 22026000   RegQueryValue</b>
    hKey=5a\CLSID\{00020420-0000-0000-C000-000000000046}\InprocServer32\ThreadingModel
    Return=0
    type=REG_SZ
    data=Both
</pre>
<pre><b># 22038000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22038000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 22039000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.~tmp  
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 22039000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.~tmp  
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 33797000   CreateFile</b>
    hName=C:\WINDOWS\system32\drivers\lsass.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 33797000   CreateFile</b>
    hName=C:\WINDOWS\system32\drivers\lsass.exe
    desiredAccess=GENERIC_WRITE 
    creationDisposition=CREATE_ALWAYS
    Return=SUCCESS
</pre>
<pre><b># 34633000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 34644000   CreateFile</b>
    hName=C:\WINDOWS\system32\drivers\lsass.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 34735000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 34738000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34547000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\drivers\lsass.exe
    Return=SUCCESS
    dwProcessId=3280
    dwThreadId=3284
</pre>
<pre><b># 34546000   CreateProcessInternal</b>
    lpApplicationName=C:\WINDOWS\system32\drivers\lsass.exe
    Return=SUCCESS
    dwProcessId=3280
    dwThreadId=3284
</pre>
<pre><b># 34546000   CreateProcess</b>
    lpApplicationName=C:\WINDOWS\system32\drivers\lsass.exe
    Return=SUCCESS
    dwProcessId=3280
    dwThreadId=3284
</pre>
<pre><b># 34990000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34749000   CreateProcessInternal</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.~tmp  
    Return=SUCCESS
    dwProcessId=3288
    dwThreadId=3292
</pre>
<pre><b># 34749000   CreateProcessInternal</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.~tmp  
    Return=SUCCESS
    dwProcessId=3288
    dwThreadId=3292
</pre>
<pre><b># 34749000   CreateProcess</b>
    lpApplicationName=C:\Documents and Settings\All Users\Desktop\malware.~tmp  
    Return=SUCCESS
    dwProcessId=3288
    dwThreadId=3292
</pre>
</body>