<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fff832b43dd3c9801399fa092c6148e0_3156.trace.hooklog Bahavior Analysis</pre>
<pre><b># 25924000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 26154000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 26059000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 26240000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\MediaProperties\PrivateProperties\Joystick\Winmm\wheel
    Return=0
</pre>
<pre><b># 26278000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 26288000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 26322000   RegCreateKey</b>
    hKey=7b0\Software\Microsoft\Multimedia\Audio
    Return=0
</pre>
<pre><b># 26322000   RegQueryValue</b>
    hKey=7b0\Software\Microsoft\Multimedia\Audio\SystemFormats
    Return=0
</pre>
<pre><b># 26349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000001100000014000000
</pre>
<pre><b># 26349000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.imaadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26358000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26358000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26358000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000200000032000000
</pre>
<pre><b># 26358000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msadpcm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26367000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26367000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 26367000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=010000001000000006000000120000000700000012000000
</pre>
<pre><b># 26367000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg711\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26369000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26370000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26376000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003100000014000000
</pre>
<pre><b># 26376000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msgsm610\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26378000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26378000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26378000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000002200000032000000
</pre>
<pre><b># 26378000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.trspch\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26387000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26387000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26388000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000420000001C000000
</pre>
<pre><b># 26388000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msg723\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26397000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26397000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFormatTags
    Return=0
    type=REG_DWORD
    data=3
</pre>
<pre><b># 26397000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000120000006001000016000000610100001C000000
</pre>
<pre><b># 26397000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.msaudio1\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26407000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26407000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26408000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000003001000016000000
</pre>
<pre><b># 26408000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.sl_anet\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26416000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26416000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26417000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=01000000100000000204000014000000
</pre>
<pre><b># 26417000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.iac2\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26426000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\fdwSupport
    Return=0
    type=REG_DWORD
    data=1
</pre>
<pre><b># 26426000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFormatTags
    Return=0
    type=REG_DWORD
    data=2
</pre>
<pre><b># 26426000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\aFormatTagCache
    Return=0
    type=REG_BINARY
    data=0100000010000000550000001E000000
</pre>
<pre><b># 26426000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\AudioCompressionManager\DriverCache\msacm.l3acm\cFilterTags
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26433000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 26434000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM
    Return=0
</pre>
<pre><b># 26434000   RegQueryValue</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\MSACM\NoPCMConverter
    Return=2
</pre>
<pre><b># 26449000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\
    Return=0
</pre>
<pre><b># 26450000   RegCreateKey</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00
    Return=0
</pre>
<pre><b># 26450000   RegQueryValue</b>
    hKey=7a4\Software\Microsoft\Multimedia\Audio Compression Manager\\Priority v4.00\Priority1
    Return=2
</pre>
<pre><b># 26484000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26738000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26776000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 26777000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 26784000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 26517000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27044000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 27046000   LoadLibrary</b>
    lpFileName=imm32.dll
    Return=SUCCESS
</pre>
<pre><b># 26842000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 27200000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 27202000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\ChkAccDebugLevel
    Return=2
</pre>
<pre><b># 27231000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\ProductOptions\ProductType
    Return=0
    type=REG_SZ
    data=WinNT
</pre>
<pre><b># 27270000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Personal
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27270000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders\Local Settings
    Return=0
    type=REG_EXPAND_SZ
    data=%
</pre>
<pre><b># 27296000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopDebugLevel
    Return=2
</pre>
<pre><b># 27296000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 27297000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\RsopLogging
    Return=2
</pre>
<pre><b># 27308000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\winlogon\UserEnvDebugLevel
    Return=2
</pre>
<pre><b># 27319000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 27327000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 27435000   LoadLibrary</b>
    lpFileName=kernel32.dll
    Return=SUCCESS
</pre>
<pre><b># 27450000   RegCreateKey</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Run
    Return=0
</pre>
<pre><b># 27450000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Run\freizer
    Return=2
</pre>
<pre><b># 27450000   RegSetValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Run\freizer
    type=REG_SZ
    data=C:\WINDOWS\system32\freizer.exe
    Return=0
</pre>
<pre><b># 27485000   ExitProcess</b></pre>
</body>