<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffa1628aa653ee5c4f8a492c7c3f310_3240.trace.hooklog Bahavior Analysis</pre>
<pre><b># 20252000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 20340000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 20310000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 42777000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer\Version
    Return=0
    type=REG_SZ
    data=6.0.2900.5512
</pre>
<pre><b># 42788000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 42797000   CreateFile</b>
    hName=C:\Documents and Settings\All Users\Desktop\malware.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 44767000   LoadLibrary</b>
    lpFileName=psapi
    Return=SUCCESS
</pre>
<pre><b># 44783000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=4
    Return=SUCCESS
    procName=
</pre>
<pre><b># 44791000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=288
    Return=SUCCESS
    procName=smss.exe
</pre>
<pre><b># 44800000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=396
    Return=FAILURE
</pre>
<pre><b># 44804000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=424
    Return=SUCCESS
    procName=winlogon.exe
</pre>
<pre><b># 44815000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=516
    Return=SUCCESS
    procName=services.exe
</pre>
<pre><b># 44826000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=528
    Return=SUCCESS
    procName=lsass.exe
</pre>
<pre><b># 44835000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=696
    Return=SUCCESS
    procName=svchost.exe
</pre>
<pre><b># 44844000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=776
    Return=FAILURE
</pre>
<pre><b># 44850000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=840
    Return=SUCCESS
    procName=svchost.exe
</pre>
<pre><b># 44861000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=1036
    Return=FAILURE
</pre>
<pre><b># 44867000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=1084
    Return=FAILURE
</pre>
<pre><b># 44871000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=1188
    Return=SUCCESS
    procName=spoolsv.exe
</pre>
<pre><b># 44881000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=1696
    Return=SUCCESS
    procName=explorer.exe
</pre>
<pre><b># 44903000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=244
    Return=FAILURE
</pre>
<pre><b># 44925000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=464
    Return=SUCCESS
    procName=wscntfy.exe
</pre>
<pre><b># 44954000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=536
    Return=SUCCESS
    procName=rundll32.exe
</pre>
<pre><b># 44973000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=644
    Return=SUCCESS
    procName=jusched.exe
</pre>
<pre><b># 44991000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=532
    Return=SUCCESS
    procName=wuauclt.exe
</pre>
<pre><b># 45010000   OpenProcess</b>
    desiredAccess=PROCESS_QUERY_INFORMATION PROCESS_VM_READ 
    dwProcessId=3240
    Return=SUCCESS
    procName=malware.exe
</pre>
</body>