<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffae342dbd287cdda3c60217d5c7af0_tmp_3280.trace.hooklog Bahavior Analysis</pre>
<pre><b># 34841000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 34919000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34888000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 35027000   LoadLibrary</b>
    lpFileName=VERSION.dll
    Return=SUCCESS
</pre>
<pre><b># 35040000   CreateFile</b>
    hName=C:\WINDOWS\System32\Wbem\wmic.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35049000   CreateFile</b>
    hName=C:\WINDOWS\System32\Wbem\wmic.exe
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 35184000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders\Cache
    Return=0
</pre>
<pre><b># 35188000   LoadLibrary</b>
    lpFileName=advapi32.dll
    Return=SUCCESS
</pre>
<pre><b># 34929000   CreateProcessInternal</b>
    lpCommandLine=WMIC csproduct Get UUID /FORMAT:textvaluelist.xsl
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 34929000   CreateProcessInternal</b>
    lpCommandLine=WMIC csproduct Get UUID /FORMAT:textvaluelist.xsl
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 34929000   CreateProcess</b>
    lpCommandLine=WMIC csproduct Get UUID /FORMAT:textvaluelist.xsl
    Return=SUCCESS
    dwProcessId=3292
    dwThreadId=3296
</pre>
<pre><b># 41223000   ExitProcess</b></pre>
</body>