<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffda772e9682b5cd713a1aff6bebe71_3188.trace.hooklog Bahavior Analysis</pre>
<pre><b># 24842000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 25039000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 24950000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 25089000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25116000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 25121000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 25121000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 25171000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 25202000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 25239000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 25331000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 25333000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 25337000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 25740000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad
    Return=0
</pre>
<pre><b># 25745000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfEscapement
    Return=2
</pre>
<pre><b># 25745000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfOrientation
    Return=2
</pre>
<pre><b># 25745000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfWeight
    Return=2
</pre>
<pre><b># 25745000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfItalic
    Return=2
</pre>
<pre><b># 25746000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfUnderline
    Return=2
</pre>
<pre><b># 25746000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfStrikeOut
    Return=2
</pre>
<pre><b># 25746000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfCharSet
    Return=2
</pre>
<pre><b># 25749000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfOutPrecision
    Return=2
</pre>
<pre><b># 25749000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfClipPrecision
    Return=2
</pre>
<pre><b># 25750000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfQuality
    Return=2
</pre>
<pre><b># 25750000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfPitchAndFamily
    Return=2
</pre>
<pre><b># 25750000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfFaceName
    Return=2
</pre>
<pre><b># 25750000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iPointSize
    Return=2
</pre>
<pre><b># 25750000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\fWrap
    Return=2
</pre>
<pre><b># 25750000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\StatusBar
    Return=2
</pre>
<pre><b># 25750000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\fSaveWindowPositions
    Return=2
</pre>
<pre><b># 25751000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\szHeader
    Return=2
</pre>
<pre><b># 25751000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\szTrailer
    Return=2
</pre>
<pre><b># 25751000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginTop
    Return=2
</pre>
<pre><b># 25751000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginBottom
    Return=2
</pre>
<pre><b># 25751000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginLeft
    Return=2
</pre>
<pre><b># 25752000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginRight
    Return=2
</pre>
<pre><b># 25752000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosY
    Return=2
</pre>
<pre><b># 25752000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosX
    Return=2
</pre>
<pre><b># 25752000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosDX
    Return=2
</pre>
<pre><b># 25752000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosDY
    Return=2
</pre>
<pre><b># 25756000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\fMLE_is_broken
    Return=2
</pre>
<pre><b># 25763000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 25765000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 25794000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 25809000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 26011000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 26011000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 25933000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 25840000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 26041000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 26043000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 26077000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 26185000   LoadLibrary</b>
    lpFileName=UxTheme.dll
    Return=SUCCESS
</pre>
<pre><b># 26235000   LoadLibrary</b>
    lpFileName=IMM32.dll
    Return=SUCCESS
</pre>
</body>