<html>
<head>
<style>
   pre{
      font-size: 15px;
    }
</style>
</head>
<body>
<pre>fffda772e9682b5cd713a1aff6bebe71_3388.trace.hooklog Bahavior Analysis</pre>
<pre><b># 40238000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\IMM32.DLL
    Return=SUCCESS
</pre>
<pre><b># 40680000   LoadLibrary</b>
    lpFileName=gdi32.dll
    Return=SUCCESS
</pre>
<pre><b># 40511000   LoadLibrary</b>
    lpFileName=LPK.DLL
    Return=SUCCESS
</pre>
<pre><b># 40804000   CreateFile</b>
    hName=C:\WINDOWS\WindowsShell.Manifest
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 40847000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\SmoothScroll
    Return=2
</pre>
<pre><b># 40848000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\EnableBalloonTips
    Return=2
</pre>
<pre><b># 40858000   RegEnumValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\LanguagePack\SURR
    type=REG_DWORD
    data=2
    Return=0
</pre>
<pre><b># 40962000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\Setup\SystemSetupInProgress
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 41006000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 41032000   LoadLibrary</b>
    lpFileName=comctl32.dll
    Return=SUCCESS
</pre>
<pre><b># 41240000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ThemeManager\Compositing
    Return=2
</pre>
<pre><b># 41252000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Control Panel\Desktop\LameButtonText
    Return=2
</pre>
<pre><b># 41253000   LoadLibrary</b>
    lpFileName=uxtheme.dll
    Return=SUCCESS
</pre>
<pre><b># 42080000   RegCreateKey</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad
    Return=0
</pre>
<pre><b># 42081000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfEscapement
    Return=2
</pre>
<pre><b># 42081000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfOrientation
    Return=2
</pre>
<pre><b># 42081000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfWeight
    Return=2
</pre>
<pre><b># 42081000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfItalic
    Return=2
</pre>
<pre><b># 42081000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfUnderline
    Return=2
</pre>
<pre><b># 42081000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfStrikeOut
    Return=2
</pre>
<pre><b># 42082000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfCharSet
    Return=2
</pre>
<pre><b># 42082000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfOutPrecision
    Return=2
</pre>
<pre><b># 42092000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfClipPrecision
    Return=2
</pre>
<pre><b># 42102000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfQuality
    Return=2
</pre>
<pre><b># 42102000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfPitchAndFamily
    Return=2
</pre>
<pre><b># 42103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\lfFaceName
    Return=2
</pre>
<pre><b># 42103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iPointSize
    Return=2
</pre>
<pre><b># 42103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\fWrap
    Return=2
</pre>
<pre><b># 42103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\StatusBar
    Return=2
</pre>
<pre><b># 42103000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\fSaveWindowPositions
    Return=2
</pre>
<pre><b># 42104000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\szHeader
    Return=2
</pre>
<pre><b># 42104000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\szTrailer
    Return=2
</pre>
<pre><b># 42104000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginTop
    Return=2
</pre>
<pre><b># 42105000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginBottom
    Return=2
</pre>
<pre><b># 42105000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginLeft
    Return=2
</pre>
<pre><b># 42114000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iMarginRight
    Return=2
</pre>
<pre><b># 42114000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosY
    Return=2
</pre>
<pre><b># 42114000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosX
    Return=2
</pre>
<pre><b># 42115000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosDX
    Return=2
</pre>
<pre><b># 42115000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\iWindowPosDY
    Return=2
</pre>
<pre><b># 42115000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\Software\Microsoft\Notepad\fMLE_is_broken
    Return=2
</pre>
<pre><b># 42128000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\IMM\Ime File
    Return=0
</pre>
<pre><b># 42140000   LoadLibrary</b>
    lpFileName=version.dll
    Return=SUCCESS
</pre>
<pre><b># 42190000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 42217000   CreateFile</b>
    hName=C:\WINDOWS\system32\msctfime.ime
    desiredAccess=GENERIC_READ 
    creationDisposition=OPEN_EXISTING
    Return=SUCCESS
</pre>
<pre><b># 42658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\CriticalSectionTimeout
    Return=0
</pre>
<pre><b># 42658000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\Ole\RWLockResourceTimeOut
    Return=2
</pre>
<pre><b># 42503000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\ole32.dll
    Return=SUCCESS
</pre>
<pre><b># 42293000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 42740000   RegQueryValue</b>
    hKey=HKEY_CURRENT_USER\SOFTWARE\Microsoft\CTF\Disable Thread Input Manager
    Return=2
</pre>
<pre><b># 42751000   RegQueryValue</b>
    hKey=HKEY_LOCAL_MACHINE\Software\Microsoft\CTF\SystemShared\CUAS
    Return=0
    type=REG_DWORD
    data=0
</pre>
<pre><b># 42776000   LoadLibrary</b>
    lpFileName=C:\WINDOWS\system32\msctfime.ime
    Return=SUCCESS
</pre>
<pre><b># 42969000   LoadLibrary</b>
    lpFileName=UxTheme.dll
    Return=SUCCESS
</pre>
<pre><b># 43058000   LoadLibrary</b>
    lpFileName=IMM32.dll
    Return=SUCCESS
</pre>
</body>